<template>
    <div class="page-content">
		<div style="margin:0;padding:0;position:relative;height:100%;width:100%">
		<transition name="throw">
			<!-- <BillsIndex ref="mode" v-if="mode==='index'" :key="mode" v-bind:common="common" v-bind:data="modes.index" v-on:enterShowMode="enterShowMode"/> -->
			<BillsShow ref="mode" v-if="mode==='show'" :key="mode" v-bind:common="common" v-bind:data="modes.show" v-on:enterIndexMode="enterIndexMode"/>
		</transition>
		</div>
	</div>
</template>
<script>
import { StandardFonts, PDFDocument, degrees, grayscale, rgb, ColorTypes } from 'pdf-lib'
import fontkit from '@pdf-lib/fontkit'
export default {
    props:['data'],
	data(){
		return{
			mode:null,

			common:{

			},

			modes:{
				index:{
					current_page:null,
					last_page:null,
					bills:{},
					hash:{},
				},
				show:{
					bill_id:null,
					bill:{},
					hash:{},
				}
			},

			hash:{}

		}
    },
    watch:{

		data(){

			this.mergeData();

		}

	},
	methods:{
		fetchIndexData(el,page,success){
			let model=el.modes.index;
			$.ajax({
				url:'/api/bills/index'+'?page='+page+'&hash='+ function(){ try {return model.hash[page];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.current_page=page;
					if(data.data_state==='new'){
						model.last_page=data.last_page;
						model.bills[model.current_page]=data.bills;
						model.hash[model.current_page]=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		fetchShowData(el,id,success){
			let model=el.modes.show;
			$.ajax({
				url:'/api/bills/show?id='+id+'&hash='+ function(){ try {return model.hash[id];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.bill_id=id;
					if(data.data_state=='new'){
						model.bill[id]=data.bill;
						model.work_categories=data.work_categories;
						model.hash[id]=data.hash;
						
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		enterIndexMode(success){
			this.$root.startLoading();
			this.fetchIndexData(this,1,function(el){
				success();
				el.mode='index';
				el.$root.doneLoading();
			});
		},
		enterShowMode(id,edit,success){
			this.$root.startLoading();
			this.fetchShowData(this,id,function(el){
				success();
				el.modes.show.bill[id].edit_mode=edit;
				el.mode='show';
				el.$root.doneLoading();
			});
		},
		
		mergeData(){

			this.mode=this.data.mode;
			
			//	common
			this.common.bill_progresses=this.data.common.bill_progresses;

			//hash
			this.hash[this.mode]=this.data.hash;

			let model;

			switch (this.mode){
				case 'index':
					model=this.modes.index;
					model.current_page=this.data.modes.index.current_page;
					model.last_page=this.data.modes.index.last_page;
					Object.assign(model.bills,{[model.current_page]:this.data.modes.index.bills});
					Object.assign(model.hash,{[model.current_page]:this.data.modes.index.hash});
					break;
				case 'show':
					model=this.modes.show;
					model.bill_id=this.data.modes.show.bill_id;
					model.work_categories=Object.assign({},this.data.modes.show.work_categories);
					Object.assign(model.bill,{[model.bill_id]:this.data.modes.show.bill});
					Object.assign(model.hash,{[model.bill_id]:this.data.modes.show.hash});
					break;
			}
			
		},
		async generateBillPDF(project,client,categories,ht,tva,ttc){

// --------------------------------------------------------------
// DATA

			let name=client.name||'';
			let project_name=project.name||'';
			let address=project.address||'';
			let postal_code=project.postal_code||'';
			let city=project.city||'';
			let mobile=client.mobile||'';
			let bill_id=project.id.toString().padStart(6,'0')||'';
			let date=project.sell_date?project.sell_date.split('-').reverse().join('/'):'';

// ---------------------------------------------	-----------------
// GENERATOR

			let y=0;
			function lastY(x){
				y-=x;
				return y;
			}

			const infoURL='/api/files/resource?path=invoice.pdf&v='+window.serverAppVersion;
			const invoice_longURL='/api/files/resource?path=invoice_long.pdf&v='+window.serverAppVersion;
			const texURL='/font/segoe-ui.ttf';
			const texBoldURL='/font/segoe-ui-bold.ttf';

			const infoSRC=await axios.get(infoURL,{responseType:'arraybuffer'}).then(res => res.data);
			const invoice_longSRC=await axios.get(invoice_longURL,{responseType:'arraybuffer'}).then(res => res.data);
			const texSRC=await axios.get(texURL,{responseType:'arraybuffer'}).then(res => res.data);
			const texBoldSRC=await axios.get(texBoldURL,{responseType:'arraybuffer'}).then(res => res.data);

			const pdfDoc = await PDFDocument.create();
			pdfDoc.registerFontkit(fontkit);
			const infoPage = await PDFDocument.load(infoSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			const invoice_long_startPage = await PDFDocument.load(invoice_longSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			const invoice_long_intermediatePage = await PDFDocument.load(invoice_longSRC).then(doc=>pdfDoc.copyPages(doc,[1])).then(pages=>pages[0]);
			const invoice_long_endPage = await PDFDocument.load(invoice_longSRC).then(doc=>pdfDoc.copyPages(doc,[2])).then(pages=>pages[0]);
			const tex = await pdfDoc.embedFont(texSRC);
			const texBold = await pdfDoc.embedFont(texBoldSRC);
			const timesFont = await pdfDoc.embedFont(StandardFonts.TimesRoman);
			const timesFontItalic = await pdfDoc.embedFont(StandardFonts.TimesRomanBoldItalic);
			const timesFontBold = await pdfDoc.embedFont(StandardFonts.TimesRomanBold);


			let totalHeight=66+categories.reduce((total,category)=>{
				total+=17;

				category.works.forEach(work =>{

					total+=(work.wrap(80).lineCount()*9);

				})
				return total;
			},0);

			let numberOfPages=1;

			if (totalHeight>340){

				numberOfPages++;

				if (totalHeight>(340+485)){
					
					numberOfPages+=Math.ceil((totalHeight-(340+485))/595)

				}

			}

			let currentPage=0;
			let invoicePages=[];
			let font_size=10;

			if (numberOfPages==1){
				invoicePages.push(pdfDoc.addPage(infoPage));
			}else{
				for (let i = 0; i < numberOfPages-1; i++) {
					invoicePages.push(
						pdfDoc.addPage(
							i==0?
								invoice_long_startPage
							:
								invoice_long_intermediatePage
						)
					)
					invoicePages[i].setFont(tex);
					invoicePages[i].setFontSize(font_size);
					invoicePages[i].drawText("# "+bill_id,{
						x:495-tex.widthOfTextAtSize("# "+bill_id,font_size),
						y:732
					});
					invoicePages[i].drawText(i+1 + ' sur ' + numberOfPages ,{
					x:270-(tex.widthOfTextAtSize(i+1 + ' sur ' + numberOfPages,10)/2),
					y:50,
					font:tex,
					size:10
				});
				}
				invoicePages.push(pdfDoc.addPage(invoice_long_endPage));
			}
			invoicePages[invoicePages.length-1].setFont(tex);
			invoicePages[invoicePages.length-1].setFontSize(font_size);
			invoicePages[invoicePages.length-1].drawText("# "+bill_id,{
				x:495-tex.widthOfTextAtSize("# "+bill_id,font_size),
				y:732
			});

			y=640;

			invoicePages[0].drawText(name,{
				x:495-texBold.widthOfTextAtSize(name,font_size),
				y:lastY(0),
				font:texBold
			});

			invoicePages[0].drawText(address,{
				x:495-tex.widthOfTextAtSize(address,font_size),
				y:lastY(12)
			});

			invoicePages[0].drawText(postal_code+" "+city,{
				x:495-tex.widthOfTextAtSize(postal_code+" "+city,font_size),
				y:lastY(12)
			});

			invoicePages[0].drawText(mobile,{
				x:495-tex.widthOfTextAtSize(mobile,font_size),
				y:lastY(12)
			});

			invoicePages[0].drawText("Date de facture : "+date,{
				x:495-tex.widthOfTextAtSize("Date de facture : "+date,font_size),
				y:lastY(24)
			});

			invoicePages[0].drawText("Date d’échéance : "+date,{
				x:495-tex.widthOfTextAtSize("Date d’échéance : "+date,font_size),
				y:lastY(18)
			});

			invoicePages[0].drawText("Projet : "+project_name,{
				x:495-tex.widthOfTextAtSize("Projet : "+project_name,font_size),
				y:lastY(18)
			});

			y=510;

			categories.forEach((category,i)=>{

				let nextHeight=17+category.works.reduce((total,work)=>{
					return total+=work.wrap(80).lineCount()*9;
				},0);

				if ((y-nextHeight)<(60)){
					//new page
					currentPage++;

					y=655;

				}

				lastY(15)
				invoicePages[currentPage].drawText((i+1).toString(),{
					x:43,
					y:lastY(0),
					font:tex,
					size:10
				});
				invoicePages[currentPage].drawText(category.name,{
					x:78,
					y:lastY(0),
					font:tex,
					size:10
				});
				invoicePages[currentPage].drawText(category.price + " € HT",{
					x:495-tex.widthOfTextAtSize(category.price + " € HT",10),
					y:lastY(0),
					font:tex,
					size:10
				});

				lastY(2);

				category.works.forEach(work =>{

					invoicePages[currentPage].drawText(work.wrap(80).indentLines(),{
						x:82,
						y:lastY(9),
						size:8,
						lineHeight:9
					});
					lastY((work.wrap(80).lineCount()-1)*9);

				})
			});
			
				if ((y-66)<(60)){
					//new page

					currentPage++;

					y=655;

				}

			invoicePages[currentPage].drawRectangle({
				x: 250,
				y: lastY(12)-8,
				width: 250,
				height: 1,
				color: grayscale(0)
			})

			invoicePages[currentPage].drawText("Total HT : "+ht+"  €",{
				x:495-tex.widthOfTextAtSize("Total HT : "+ht+"  €",10),
				y:lastY(20),
				font:tex,
				size:10
			});
			
			invoicePages[currentPage].drawText("TVA : "+tva+"  €",{
				x:495-tex.widthOfTextAtSize("TVA : "+tva+"  €",10),
				y:lastY(16),
				font:tex,
				size:10
			});

			invoicePages[currentPage].drawText("Total TTC : "+ttc+"  €",{
				x:495-texBold.widthOfTextAtSize("Total TTC : "+ttc+"  €",10),
				y:lastY(16),
				font:texBold,
				size:10
			});

			const pdfDataUri = await pdfDoc.saveAsBase64({ dataUri: true });
			
            let link = document.createElement("a");
            link.download = 'Facture_'+project.name;
            link.href = pdfDataUri;     
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
		},
	},
	created(){
		
		this.mergeData();
		
	}
}
</script>
