<template>
					<!-- START PROSPECTS -->
					<div class="page-content">
						<div style="margin:0;padding:0;position:relative;height:100%;width:100%">
						<transition name="throw">
							<ClientsIndex ref="mode" v-if="mode==='index'" :key="mode" v-bind:common="common" v-bind:data="modes.index" v-on:enterCreateMode="enterCreateMode" v-on:enterShowMode="enterShowMode" v-on:enterIndexMode="enterIndexMode"/>
							<ClientsCreate ref="mode" v-else-if="mode==='create'" :key="mode" v-bind:common="common" v-on:enterIndexMode="enterIndexMode" v-on:enterShowMode="enterShowMode"/>
							<ClientsShow ref="mode" v-else-if="mode==='show'" :key="mode" v-bind:common="common" v-bind:data="modes.show.client[modes.show.client_id]" v-on:enterIndexMode="enterIndexMode" v-on:enterShowMode="enterShowMode"/>
						</transition>
						</div>
					</div>
					<!-- END PROSPECTS -->
</template>
<script>
export default {
	props:['data'],
	data(){
		return{
			mode:null,

			common:{

				project_types:[],
				contract_types:[],
				marketing_avenues:[],
				hash:'',

			},

			modes:{
				index:{
					current_page:null,
					last_page:null,
					clients:{},
					hash:{},
				},
				show:{
					edit_mode:false,
					client_id:null,
					client:{},
					hash:{},
				}
			},

			hash:{}

		}
	},
	watch:{

		data(){

			this.mergeData();

		}

	},
	methods:{
		fetchIndexData(el,page=1,success){
			let model=el.modes.index;
			$.ajax({
				url:'/api/clients/index'+'?page='+page+'&hash='+ function(){ try {return model.hash[page];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.current_page=page;
					if(data.data_state==='new'){
						model.last_page=data.last_page;
						model.clients[model.current_page]=data.clients;
						model.hash[model.current_page]=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		fetchShowData(el,id,success){
			let model=el.modes.show;
			$.ajax({
				url:'/api/clients/show?id='+id+'&hash='+ function(){ try {return model.hash[id];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.client_id=id;
					if(data.data_state=='new'){
						model.client[id]=data.client;
						model.hash[id]=data.hash
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		enterCreateMode(success){
			success();
			this.mode='create';
		},
		enterIndexMode(page,success){
			this.$root.startLoading();
			this.fetchIndexData(this,page,function(el){
				success();
				el.mode='index';
				el.$root.doneLoading();
			});
		},
		enterShowMode(id,edit,success){
			this.$root.startLoading();
			this.fetchShowData(this,id,function(el){
				success();
				el.modes.show.client[id].edit_mode=edit;
				el.mode='show';
				el.$root.doneLoading();
			});
		},
		mergeData(){

			this.mode=this.data.mode;
			
			//	common
			this.common.client_progresses=this.data.common.client_progresses;
			this.common.client_progresses_by_order=this.data.common.client_progresses_by_order;
			this.common.project_types=this.data.common.project_types;
			this.common.contract_types=this.data.common.contract_types;
			this.common.marketing_avenues=this.data.common.marketing_avenues;

			//hash
			this.hash[this.mode]=this.data.hash;

			let model;

			switch (this.mode){
				case 'index':
					model=this.modes.index;
					model.current_page=this.data.modes.index.current_page;
					model.last_page=this.data.modes.index.last_page;
					Object.assign(model.clients,{[model.current_page]:this.data.modes.index.clients});
					Object.assign(model.hash,{[model.current_page]:this.data.modes.index.hash});
					break;
				case 'show':
					model=this.modes.show;
					model.client_id=this.data.modes.show.client_id;
					Object.assign(model.client,{[model.client_id]:this.data.modes.show.client});
					Object.assign(model.hash,{[model.client_id]:this.data.modes.show.hash});
					break;
			}

		}
	},
	created(){
		
		this.mergeData();
		
	}
}
</script>
