<template>
					<!-- START PROSPECTS -->
					<div class="page-content">
						<div style="margin:0;padding:0;position:relative;height:100%;width:100%">
						<transition name="throw">
							<CompaniesIndex ref="mode" v-if="mode==='index'" :key="mode" v-bind:common="common" v-bind:data="modes.index" v-on:enterCreateMode="enterCreateMode" v-on:enterShowMode="enterShowMode" v-on:enterIndexMode="enterIndexMode"/>
							<CompaniesCreate ref="mode" v-else-if="mode==='create'" :key="mode" v-bind:common="common" v-bind:data="modes.create" v-on:enterCreateMode="enterCreateMode" v-on:enterShowMode="enterShowMode" v-on:enterIndexMode="enterIndexMode"/>
							<CompaniesShow ref="mode" v-else-if="mode==='show'" :key="mode" v-bind:common="common" v-bind:data="{company:modes.show.company[modes.show.company_id],work_categories_available:modes.show.work_categories_available}" v-on:enterShowMode="enterShowMode" v-on:enterIndexMode="enterIndexMode"/>
						</transition>
						</div>
					</div>
					<!-- END PROSPECTS -->
</template>
<script>
export default {
	props:['data'],
	data(){
		return{
			mode:null,

			common:{
				
				work_categories:[],

			},

			modes:{
				index:{
					current_page:null,
					last_page:null,
					companies:{},
					hash:{},
				},
				create:{
					work_categories_available:[],
					cat_count:1,
					hash:null,
					company:{
						work_category_ids:[]
					}
				},
				show:{
					work_categories_available:[],
					company_id:null,
					company:{},
					hash:{},
				}
			},

			hash:{}

		}
	},
	watch:{

		data(){

			this.mergeData();

		}

	},
	methods:{
		fetchIndexData(el,page=1,success){
			let model=el.modes.index;
			$.ajax({
				url:'/api/companies/index'+'?page='+page+'&hash='+ function(){ try {return model.hash[page];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.current_page=page;
					if(data.data_state==='new'){
						model.last_page=data.last_page;
						model.companies[model.current_page]=data.companies;
						model.hash[model.current_page]=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		fetchShowData(el,id,success){
			let model=el.modes.show;
			$.ajax({
				url:'/api/companies/show?id='+id+'&hash='+ function(){ try {return model.hash[id];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.company_id=id;
					if(data.data_state=='new'){
						model.work_categories_available=data.work_categories_available;
						model.company[id]=data.company;
						model.hash[id]=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		fetchCreateData(el,success){
			let model=el.modes.create;
			$.ajax({
				url:'/api/companies/create?hash='+model.hash,
				method:'get',
				dataType:"json",
				success(data){
					if(data.data_state=='new'){
						model.work_categories_available=data.work_categories_available;
						model.hash=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		enterCreateMode(success){
			this.$root.startLoading();
			this.fetchCreateData(this,function(el){
				success();
				el.mode='create';
				el.$root.doneLoading();
			});
		},
		enterIndexMode(success,page=1){
			this.$root.startLoading();
			this.fetchIndexData(this,page,function(el){
				success();
				el.mode='index';
				el.$root.doneLoading();
			});
		},
		enterShowMode(id,edit,success){
			this.$root.startLoading();
			this.fetchShowData(this,id,function(el){
				success();
				el.modes.show.company[id].edit_mode=edit;
				el.mode='show';
				el.$root.doneLoading();
			});
		},
		mergeData(){

			this.mode=this.data.mode;
			
			//	common
			this.common.work_categories=this.data.common.work_categories;

			//hash
			this.hash[this.mode]=this.data.hash;

			let model;

			switch (this.mode){
				case 'index':
					model=this.modes.index;
					model.current_page=this.data.modes.index.current_page;
					model.last_page=this.data.modes.index.last_page;
					Object.assign(model.companies,{[model.current_page]:this.data.modes.index.companies});
					Object.assign(model.hash,{[model.current_page]:this.data.modes.index.hash});
					break;
				case 'create':
					model=this.modes.create;
					model.work_categories_available=Object.assign({},this.data.modes.create.work_categories_available);
					model.hash=this.data.modes.create.hash;
					break;
				case 'show':
					model=this.modes.show;
					model.work_categories_available=Object.assign({},this.data.modes.show.work_categories_available);
					model.company_id=this.data.modes.show.company_id;
					Object.assign(model.company,{[model.company_id]:this.data.modes.show.company});
					Object.assign(model.hash,{[model.company_id]:this.data.modes.show.hash});
					break;
			}
		
		}
	},
	created(){
		
		this.mergeData();
		
	}
}
</script>
