<template>
    <div class="page-content">
		<div style="margin:0;padding:0;position:relative;height:100%;width:100%">
		<transition name="throw">
			<ConfigIndex ref="mode" v-if="mode==='index'" :key="mode" v-bind:common="common" v-bind:data="modes.index" v-on:enterCreateMode="enterCreateMode" v-on:enterShowMode="enterShowMode" v-on:enterIndexMode="enterIndexMode"/>
			<ConfigCreate ref="mode" v-if="mode==='create'" :key="mode" v-bind:common="common" v-bind:data="modes.create" v-on:enterIndexMode="enterIndexMode" v-on:enterShowMode="enterShowMode"/>
			<ConfigShow ref="mode" v-if="mode==='show'" :key="mode" v-bind:common="common" v-bind:data="modes.show" v-on:enterIndexMode="enterIndexMode" v-on:enterShowMode="enterShowMode"/>
		</transition>
		</div>
	</div>
</template>
<script>
export default {
    props:['data'],
	data(){
		return{
			mode:null,

			common:{

			},

			modes:{
				index:{
					current_page:1,
					last_page:null,
					objectives:{},
					hash:{},
				},
				create:{
				},
				show:{
					objective_id:null,
					objective:{},
					hash:{},
				}
			},

			hash:{}

		}
    },
    watch:{

		data(){

			this.mergeData();

		}

	},
	methods:{
		fetchIndexData(el,page,success){
			let model=el.modes.index;
			$.ajax({
				url:'/api/config/index'+'?page='+page+'&hash='+ function(){ try {return model.hash[page];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.current_page=page;
					if(data.data_state==='new'){
						model.last_page=data.last_page;
						model.objectives[model.current_page]=data.objectives;
						model.hash[model.current_page]=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		fetchShowData(el,id,success){
			let model=el.modes.show;
			$.ajax({
				url:'/api/config/show?id='+id+'&hash='+ function(){ try {return model.hash[id];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.objective_id=id;
					if(data.data_state=='new'){
						model.objective[id]=data.objective;
						model.hash[id]=data.hash;
						
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		fetchCreateData(el,success){
			let model=el.modes.create;
			$.ajax({
				url:'/api/config/create?hash='+model.hash,
				method:'get',
				dataType:"json",
				success(data){
					if(data.data_state=='new'){
						model.hash=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		enterCreateMode(success){
			this.$root.startLoading();
			this.fetchCreateData(this,function(el){
				success();
				el.mode='create';
				el.$root.doneLoading();
			});
		},
		enterIndexMode(page,success){
			this.$root.startLoading();
			this.fetchIndexData(this,page?page:this.modes.index.current_page,function(el){
				success();
				el.mode='index';
				el.$root.doneLoading();
			});
		},
		enterShowMode(id,edit,success){
			this.$root.startLoading();
			this.fetchShowData(this,id,function(el){
				success();
				el.modes.show.edit_mode=edit;
				el.mode='show';
				el.$root.doneLoading();
			});
		},
		mergeData(){

			this.mode=this.data.mode;
			
			//	common

			//hash
			this.hash[this.mode]=this.data.hash;

			let model;

			switch (this.mode){
				case 'index':
					model=this.modes.index;
					model.current_page=this.data.modes.index.current_page;
					model.last_page=this.data.modes.index.last_page;
					Object.assign(model.objectives,{[model.current_page]:this.data.modes.index.objectives});
					Object.assign(model.hash,{[model.current_page]:this.data.modes.index.hash});
					break;
				case 'create':
					model=this.modes.create;
					break;
				case 'show':
					model=this.modes.show;
					model.objective_id=this.data.modes.show.objective_id;
					Object.assign(model.objective,{[model.objective_id]:this.data.modes.show.objective});
					Object.assign(model.hash,{[model.objective_id]:this.data.modes.show.hash});
					break;
			}
			
		}
	},
	created(){
		
		this.mergeData();
		
	}
}
</script>
