<template>
			<div class="page-content">
				<div class="accueil">
					<!-- START GRAPH -->
					<div class="graph row">
						<div class="col-12">
							<div class="row">
								<div class="title col-12">
									<h6>SUIVI DU CHIFFRE D'AFFAIRES</h6>
								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<div class="row p-4">
										<div class="col-6">
											<label class="label">Année</label>
											<select
												v-on:change="updateData"
												v-model="selected_year"
												class="input-border-bottom form-control"
											>
												<option
													v-for="n in (1+(maxYear-minYear))"
													:key="n"
													:value="(n+minYear)-1"
												>
													{{(n+minYear)-1}}
												</option>
											</select>
										</div>
										<div class="col-6">
											<label class="label">Mois</label>
											<select
												v-model="selected_month"
												class="input-border-bottom form-control"
											>
												<option value="0">Tous</option>
												<option value="1">Janv</option>
												<option value="2">Févr</option>
												<option value="3">Mars</option>
												<option value="4">Avr</option>
												<option value="5">Mai</option>
												<option value="6">Juin</option>
												<option value="7">Juil</option>
												<option value="8">Août</option>
												<option value="9">Sept</option>
												<option value="10">Oct</option>
												<option value="11">Nov</option>
												<option value="12">Déc</option>
											</select>
										</div>
									</div>

										<div class="row ml-1">
											<div class="col-6 dark-cell">
												CA de l'année
											</div>
											<div class="col-6 light-cell">
												{{getYearTotal(selected_year).toStringPlaces()}}&nbsp;€
											</div>
										</div>

										<div class="row ml-1">
											<div class="col-6 dark-cell">
												Objectif de l'année
											</div>
											<div class="col-6 light-cell">
												{{getYearObjective(selected_year).toStringPlaces()}}&nbsp;€
											</div>
										</div>
									
									<template
										v-if="selected_month!=0"
									>
										
										<div class="row ml-1">
											<div class="col-6 dark-cell">
												CA du mois
											</div>
											<div class="col-6 light-cell">
												{{getMonthTotal(selected_year,selected_month).toStringPlaces()}}&nbsp;€
											</div>
										</div>

										<div class="row ml-1">
											<div class="col-6 dark-cell">
												Objectif du mois
											</div>
											<div class="col-6 light-cell">
												{{getMonthObjective(selected_year,selected_month).toStringPlaces()}}&nbsp;€
											</div>
										</div>
									
									</template>

								</div>
								<div class="col-8">

									<div class="graph-content container">
										<div class="row">
											<div class="col-md-12">
												<canvas id="lineChart"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
						
					<!-- START TABLEAU PROSPECTS -->
					<div class="table-prospect row">
						<div class="col-md-12">
							<div class="title row">
								<h6>TABLEAU SUIVI ACTIVITÉS</h6>
							</div>
							<div class="row p-4">
								<div class="col-2">
									<label class="label">Année</label>
									<select
										v-on:change="updateDataProspects"
										v-model="selected_year_prospects"
										class="input-border-bottom form-control"
									>
										<option
											v-for="n in (1+(maxYearProspects-minYearProspects))"
											:key="n"
											:value="(n+minYearProspects)-1"
										>
											{{(n+minYearProspects)-1}}
										</option>
									</select>
								</div>
								<div class="col-2">
									<label class="label">Mois</label>
									<select
										v-on:change="updateDataProspects"
										v-model="selected_month_prospects"
										class="input-border-bottom form-control"
									>
										<option value="0">Tous</option>
										<option value="1">Janv</option>
										<option value="2">Févr</option>
										<option value="3">Mars</option>
										<option value="4">Avr</option>
										<option value="5">Mai</option>
										<option value="6">Juin</option>
										<option value="7">Juil</option>
										<option value="8">Août</option>
										<option value="9">Sept</option>
										<option value="10">Oct</option>
										<option value="11">Nov</option>
										<option value="12">Déc</option>
									</select>
								</div>
							</div>
							<div class="table-wrap table-responsive">
								<table class="table table-condensed">
									<thead>
										<tr>
											<th>Prospect</th>
											<th>R.A.F.</th>
											<th>Devis remis</th>
											<th>Vente</th>
										</tr>
									</thead>
									<tbody>
										<tr>
									        <td>{{show_prospect_counts}}</td>
									        <td>{{show_state_raf}}</td>
									        <td>{{show_state_valide}}</td>
									        <td>{{show_state_vente}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END TABLEAU PROSPECTS -->

					<!-- START TABLEAU AVANCÉ DES PROJETS -->
					<div class="table-project row">
						<div class="col-md-12">
							<div class="title row">
								<h6>TABLEAU AVANCÉ DES PROJETS</h6>
							</div>
							<div class="table-wrap table-responsive">
								<table class="table table-condensed">
									<thead>
										<tr>
											<th style="width:19%">Nom projet</th>
											<th style="width:19%">Client</th>
											<th style="width:12%">Ville</th>
											<th style="width:10%">Commencé</th>
											<th style="width:10%">Compte&nbsp;rendu</th>
											<th style="width:10%">Estimatif</th>
											<th style="width:10%">Offre&nbsp;contractant</th>
											<th style="width:10%">Fini</th>
										</tr>
									</thead>
									<tbody>
										<tr
											v-for="project in projects"
											:key="project.id"
										>
									        <td>{{project.name}}</td>
									        <td>{{project.customer.full_name}}</td>
									        <td>{{project.city}}</td>
									        <td>
												<div class="circle-check">
													<span class="dot" :class="{'checked':project.project_progress_id>=1}"></span>
												</div>
									        </td>
									        <td>
												<div class="circle-check">
													<span class="dot" :class="{'checked':project.project_progress_id>=2}"></span>
												</div>
									        </td>
									        <td>
												<div class="circle-check">
													<span class="dot" :class="{'checked':project.project_progress_id>=3}"></span>
												</div>
									        </td>
									        <td>
												<div class="circle-check">
													<span class="dot" :class="{'checked':project.project_progress_id>=4}"></span>
												</div>
									        </td>
									        <td>
												<div class="circle-check">
													<span class="dot" :class="{'checked':project.project_progress_id>=5}"></span>
												</div>
									        </td>
										</tr>
									</tbody>
								</table>
							</div>	
						</div>
					</div>
					<!-- END TABLEAU AVANCÉ DES PROJETS -->
				</div>
				<!-- END ACCUEIL -->
			</div>
</template>
<script>
export default {
	props:['data'],
	data(){
		let thisYear=new Date().getFullYear();
		return{


			//CHART DATA

			lineChart:null,

			selected_year:thisYear,
			selected_month:0,
			months:['Janv','Févr','Mars','Avr','Mai','Juin','Juil','Août','Sept','Oct','Nov','Déc'],
			labels:['Janv','Févr','Mars','Avr','Mai','Juin','Juil','Août','Sept','Oct','Nov','Déc'],
			showObjectives:[],
			showData:[],
			maxValue:10,
			minYear:thisYear,
			maxYear:thisYear,


			objectives:{
				[thisYear]:[
					0,
					0,
					0,
					0,
					0,
					0,
					0,
					0,
					0,
					0,
					0,
					0
				]
			},

			dailyData:{},

			//PROSPECTS DATA
			selected_year_prospects:thisYear,
			selected_month_prospects:0,
			prospect_counts:{},
			states:{},
			show_prospect_counts:0,
			show_state_raf:0,
			show_state_valide:0,
			show_state_vente:0,
			minYearProspects:thisYear,
			maxYearProspects:thisYear,

			//PROJECTS DATA
			projects:{}

		}
	},
	methods:{
		getYearObjective(year){
			let total=new Decimal(0);
			if (this.objectives[year]){
				total=this.objectives[year].reduce(function(total, current){
					return total.plus(Decimal(current));
				},total);
			};
			return total.times(1000);
		},
		getMonthObjective(year,month){
			let total=new Decimal(0);
			if(this.objectives[year]){
				total=total.plus(Decimal(this.objectives[year][month-1]).times(1000));
			}
			return total;
		},
		getYearTotal(year){
			let total=new Decimal(0);
			if (this.dailyData[year]){
				Object.values(this.dailyData[year]).forEach(function(month){
					Object.values(month).forEach(function(day){
						total=total.plus(day);
					});
				});
			}
			return total;
		},
		getMonthTotal(year,month){
			let total=new Decimal(0);
			if (this.dailyData[year] && this.dailyData[year][month]){
				Object.values(this.dailyData[year][month]).forEach(function(day){
					total=total.plus(day);
				});
			}
			return total;
		},
		getDay(year,month,day){
			let total=new Decimal(0);
			if (this.dailyData[year] && this.dailyData[year][month] && this.dailyData[year][month][day]){
				total=total.plus(this.dailyData[year][month][day]);
			}
			return total;
		},
		updateDataProspects(){
			if (this.selected_month_prospects==0){

				this.show_prospect_counts=0;
				this.show_state_raf=0;
				this.show_state_valide=0;
				this.show_state_vente=0;

				if (this.prospect_counts[this.selected_year_prospects]) this.show_prospect_counts=this.prospect_counts[this.selected_year_prospects].reduce(function(total,month){
					return total+(month);
				},0);
				if (this.states['RAF'][this.selected_year_prospects]) this.show_state_raf=this.states['RAF'][this.selected_year_prospects].reduce(function(total,month){
					return total+(month||0);
				},0);
				if (this.states['VALIDE'][this.selected_year_prospects]) this.show_state_valide=this.states['VALIDE'][this.selected_year_prospects].reduce(function(total,month){
					return total+(month||0);
				},0);
				if (this.states['VENTE'][this.selected_year_prospects])  this.show_state_vente=this.states['VENTE'][this.selected_year_prospects].reduce(function(total,month){
					return total+(month||0);
				},0);
			}else{
				try{
					this.show_prospect_counts=this.prospect_counts[this.selected_year_prospects][this.selected_month_prospects]||0;
				}catch(e){}
				try{
					this.show_state_raf=this.states['RAF'][this.selected_year_prospects][this.selected_month_prospects]||0;
				}catch(e){}
				try{
					this.show_state_valide=this.states['VALIDE'][this.selected_year_prospects][this.selected_month_prospects]||0;
				}catch(e){}
				try{
					this.show_state_vente=this.states['VENTE'][this.selected_year_prospects][this.selected_month_prospects]||0;
				}catch(e){}
			}
			this.$nextTick(this.$forceUpdate());
		},
		updateData(){
			if (this.selected_month==0){
				this.labels=this.months;

				this.showData=[];

				for (let i = 1; i <=12; i++){

					this.showData[i-1]=parseFloat(this.getMonthTotal(this.selected_year,i).dividedBy(1000).toFixed(1));

				}

				this.showObjectives=this.objectives[this.selected_year.toString()];
				this.maxValue=Math.round(1.2*Math.max(Math.max(...this.showData),Math.max(...this.showObjectives)));
			}else{
				let days=this.daysInMonth(this.selected_month,this.selected_year);
				let monthObjective=this.objectives[this.selected_year.toString()][(this.selected_month-1).toString()];
				// this.labels=[];
				// this.showData=[];
				// this.showObjectives=[];
				// for (let i = 1; i <= days; i++) {

				// 	this.labels.push(i);
				// 	this.showData.push(parseFloat(this.getDay(this.selected_year,this.selected_month,i).dividedBy(1000).toFixed(1)));
				// 	this.showObjectives.push(monthObjective);

				// }

				this.labels=this.months;

				this.showData=[];

				for (let i = 1; i <=12; i++){

					this.showData[i-1]=parseFloat(this.getMonthTotal(this.selected_year,i).dividedBy(1000).toFixed(1));

				}

				this.showObjectives=this.objectives[this.selected_year.toString()];
				this.maxValue=Math.round(1.2*Math.max(Math.max(...this.showData),Math.max(...this.showObjectives)));

			}
			this.runChart();
		},
		daysInMonth (month, year){
			return new Date(year, month, 0).getDate();
		},
		runChart(){
			let el=this;
			// START LINE CHART
			const CHART = document.getElementById('lineChart');

			Chart.defaults.global.defaultFontSize = 10;
			Chart.defaults.global.defaultFontColor = '#777';

			if (this.lineChart) this.lineChart.destroy();
			this.lineChart = new Chart(CHART, {
				type:'line',
				data: {
					labels:el.labels,
					datasets:[{
						label: 'CA du mois',
						fill: false,
						lineTension: 0.0,
						borderColor:"rgba(75,192,192,1)",
						borderCapStyle: 'butt',
						borderDash: [],
						borderDashOffset: 0.0,
						borderJoinStyle:'miter',
						pointBorderColor: "rgba(75,192,192,1)",
						pointBackgroundColor: "#fff",
						pointBorderWidth: 1,
						pointHoverRadius: 5,
						pointHoverBackgroundColor: "rgba(220,220,220,1)",
						pointHoverBorderWidth: 2,
						pointRadius: 1,
						pointHitRadius: 10,
						data: el.showData,
					},
					{
						label: 'Objectif du mois',
						fill: false,
						lineTension: 0.0,
						borderColor:"rgba(0,0,0,1)",
						borderCapStyle: 'butt',
						borderDash: [],
						borderDashOffset: 0.0,
						borderJoinStyle:'miter',
						pointBorderColor: "rgba(75,192,192,1)",
						pointBackgroundColor: "rgba(75,192,192,0.4)",
						pointBorderWidth: 1,
						pointHoverRadius: 5,
						pointHoverBackgroundColor: "rgba(220,220,220,1)",
						pointHoverBorderWidth: 2,
						pointRadius: 1,
						pointHitRadius: 10,
						data: el.showObjectives,
					}],
				},

				options:{
					legend:{
						display: true,
					},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true,
								max:el.maxValue,
								// Include a dollar sign in the ticks
								callback: function(value, index, values) {
									return value + 'k €';
								}
							}
						}]
					}
				}
			});
		},
		mergeData(){
			let el=this;
			let bills=this.data.modes.index.bills;
			let objectives=this.data.modes.index.objectives;
			let prospect_counts=this.data.modes.index.prospect_counts;
			let states=this.data.modes.index.states;
			let projects=this.data.modes.index.projects;
			let maxYear=Math.max(parseInt(Object.keys(this.objectives)));
			let minYear=Math.min(parseInt(Object.keys(this.objectives)));
			this.dailyData={};

			bills.forEach(function(bill){
				let date=new Date(Date.parse(bill.sell_date));
				if (parseInt(date.getFullYear())<el.minYear) el.minYear=parseInt(date.getFullYear());
				if (parseInt(date.getFullYear())>el.maxYear) el.maxYear=parseInt(date.getFullYear());
				el.dailyData[date.getFullYear()]?
					el.dailyData[date.getFullYear()][date.getMonth()+1]?
						el.dailyData[date.getFullYear()][date.getMonth()+1][date.getDate()]?
							el.dailyData[date.getFullYear()][date.getMonth()+1][date.getDate()]=el.dailyData[date.getFullYear()][date.getMonth()+1][date.getDate()].plus(Decimal(bill.total_ttc))
							:el.dailyData[date.getFullYear()][date.getMonth()+1][date.getDate()]=new Decimal(bill.total_ttc)
						:el.dailyData[date.getFullYear()][date.getMonth()+1]={
							[date.getDate()]:new Decimal(bill.total_ttc)
						}
					:el.dailyData[date.getFullYear()]={
						[date.getMonth()+1]:{
							[date.getDate()]:new Decimal(bill.total_ttc)
						}
					};
			});

			objectives.forEach(function(objective){
				if (parseInt(objective.year)<el.minYear) el.minYear=parseInt(objective.year);
				if (parseInt(objective.year)>el.maxYear) el.maxYear=parseInt(objective.year);
				el.objectives[objective.year]=[
					(objective.jan/1000)||0,
					(objective.feb/1000)||0,
					(objective.mar/1000)||0,
					(objective.apr/1000)||0,
					(objective.may/1000)||0,
					(objective.jun/1000)||0,
					(objective.jul/1000)||0,
					(objective.aug/1000)||0,
					(objective.sep/1000)||0,
					(objective.oct/1000)||0,
					(objective.nov/1000)||0,
					(objective.dec/1000)||0,
				]
			});

			this.prospect_counts=Object.values(prospect_counts).reduce(function(countsByYear,countYearMonth){
				if (parseInt(countYearMonth.year)<el.minYearProspects) el.minYearProspects=parseInt(countYearMonth.year);
				if (parseInt(countYearMonth.year)>el.maxYearProspects) el.maxYearProspects=parseInt(countYearMonth.year);
				countsByYear[countYearMonth.year]=[];
				countsByYear[countYearMonth.year][countYearMonth.month]=countYearMonth.count;
				return countsByYear;
			},{});

			this.states=Object.keys(states).reduce(function(statesByYear,state){
				let group=states[state]
				statesByYear[state]=group.reduce(function(byYear,yearMonth){
					if (parseInt(yearMonth.year)<el.minYearProspects) el.minYearProspects=parseInt(yearMonth.year);
					if (parseInt(yearMonth.year)>el.maxYearProspects) el.maxYearProspects=parseInt(yearMonth.year);
					byYear[yearMonth.year]=[];
					byYear[yearMonth.year][yearMonth.month]=yearMonth.count;
					return byYear;
				},{});
				return statesByYear;
			},{});

			this.projects=projects;

			this.$nextTick(this.$forceUpdate());
		}
	},
	mounted(){
		this.mergeData();
		this.updateData();
		this.updateDataProspects();
		this.runChart();
	}
}


function runChart(){
	
}
</script>
<style>
.dark-cell{
	background-color: #a2adb1;
    color: white;
    border: 3px solid white;
    font-weight: lighter;
	padding-top:5px;
	padding-bottom:5px;
}
.light-cell{
	background-color: #f8f8f8;
    border: 3px solid white;
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
}
</style>
