<template>
    <div class="page-content">
		<div style="margin:0;padding:0;position:relative;height:100%;width:100%">
		<transition name="throw">
			<ProjectsIndex ref="mode" v-if="mode==='index'" :key="mode" v-bind:common="common" v-bind:data="modes.index" v-on:enterCreateMode="enterCreateMode" v-on:enterShowMode="enterShowMode" v-on:enterIndexMode="enterIndexMode"/>
			<ProjectsCreate ref="mode" v-if="mode==='create'" :key="mode" v-bind:common="common" v-bind:data="modes.create" v-on:enterIndexMode="enterIndexMode" v-on:enterShowMode="enterShowMode"/>
			<ProjectsShow ref="mode" v-if="mode==='show'" :key="mode" v-bind:common="common" v-bind:data="modes.show" v-on:enterIndexMode="enterIndexMode" v-on:enterShowMode="enterShowMode"/>
		</transition>
		</div>
	</div>
</template>
<script>
import { StandardFonts, PDFDocument, degrees, grayscale, rgb, ColorTypes } from 'pdf-lib'
export default {
    props:['data'],
	data(){
		return{
			mode:null,

			common:{

				project_progresses:[],

			},

			modes:{
				index:{
					current_page:null,
					last_page:null,
					projects:{},
					hash:{},
				},
				create:{
					work_categories:{},
				},
				show:{
					project_id:null,
					project:{},
					hash:{},
				}
			},

			hash:{}

		}
    },
    watch:{

		data(){

			this.mergeData();

		}

	},
	methods:{
		fetchIndexData(el,page,success){
			let model=el.modes.index;
			$.ajax({
				url:'/api/projects/index'+'?page='+page+'&hash='+ function(){ try {return model.hash[page];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.current_page=page;
					if(data.data_state==='new'){
						model.last_page=data.last_page;
						model.projects[model.current_page]=data.projects;
						model.hash[model.current_page]=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		fetchShowData(el,id,success){
			let model=el.modes.show;
			$.ajax({
				url:'/api/projects/show?id='+id+'&hash='+ function(){ try {return model.hash[id];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.project_id=id;
					if(data.data_state=='new'){
						model.project[id]=data.project;
						model.work_categories=data.work_categories;
						model.hash[id]=data.hash;
						
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		fetchCreateData(el,success){
			let model=el.modes.create;
			$.ajax({
				url:'/api/projects/create?hash='+model.hash,
				method:'get',
				dataType:"json",
				success(data){
					if(data.data_state=='new'){
						model.work_categories=data.work_categories;
						model.hash=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		enterCreateMode(success){
			this.$root.startLoading();
			this.fetchCreateData(this,function(el){
				success();
				el.mode='create';
				el.$root.doneLoading();
			});
		},
		enterIndexMode(success,page=1){
			this.$root.startLoading();
			this.fetchIndexData(this,page,function(el){
				success();
				el.mode='index';
				el.$root.doneLoading();
			});
		},
		enterShowMode(id,edit,success){
			this.$root.startLoading();
			this.fetchShowData(this,id,function(el){
				success();
				el.modes.show.project[id].edit_mode=edit;
				el.mode='show';
				el.$root.doneLoading();
			});
		},
		mergeData(){

			this.mode=this.data.mode;
			
			//	common
			this.common.project_progresses=this.data.common.project_progresses;

			//hash
			this.hash[this.mode]=this.data.hash;

			let model;

			switch (this.mode){
				case 'index':
					model=this.modes.index;
					model.current_page=this.data.modes.index.current_page;
					model.last_page=this.data.modes.index.last_page;
					Object.assign(model.projects,{[model.current_page]:this.data.modes.index.projects});
					Object.assign(model.hash,{[model.current_page]:this.data.modes.index.hash});
					break;
				case 'create':
					model=this.modes.create;
					model.work_categories=Object.assign({},this.data.modes.create.work_categories);
					break;
				case 'show':
					model=this.modes.show;
					model.project_id=this.data.modes.show.project_id;
					model.work_categories=Object.assign({},this.data.modes.show.work_categories);
					Object.assign(model.project,{[model.project_id]:this.data.modes.show.project});
					Object.assign(model.hash,{[model.project_id]:this.data.modes.show.hash});
					break;
			}
			
		},
		
		async generateReport(
			project,
			client,
			categories,
			ht,
			tva,
			ttc,
			tax_percent,
			taxes_categorized
		){

// --------------------------------------------------------------
// DATA

			let name=client.name||'';
			let address=project.address||'';
			let postal_code=project.postal_code||'';
			let city=project.city||'';
			let mobile=client.mobile||'';
			
			let end_date=!project.end_date?'':new Date(project.end_date).toLocaleDateString("EN-GB");



// --------------------------------------------------------------
// GENERATOR

			let y=0;
			function lastY(x){
				y-=x;
				return y;
			}

			const infoURL='/api/files/resource?path=client_info.pdf&v='+window.serverAppVersion;
			const lotsURL='/api/files/resource?path=lots_sheet.pdf&v='+window.serverAppVersion;
			const contextURL='/api/files/resource?path=context.pdf&v='+window.serverAppVersion;
			const termsURL='/api/files/resource?path=payment_terms_report.pdf&v='+window.serverAppVersion;
			const reportURL='/api/files/resource?path=compte_rendu.pdf&v='+window.serverAppVersion;

			const infoSRC=await axios.get(infoURL,{responseType:'arraybuffer'}).then(res => res.data);
			const lotsSRC=await axios.get(lotsURL,{responseType:'arraybuffer'}).then(res => res.data);
			const contextSRC=await axios.get(contextURL,{responseType:'arraybuffer'}).then(res => res.data);
			const termsSRC=await axios.get(termsURL,{responseType:'arraybuffer'}).then(res => res.data);
			const reportSRC=await axios.get(reportURL,{responseType:'arraybuffer'}).then(res => res.data);

			const pdfDoc = await PDFDocument.create();
			const infoPage = await PDFDocument.load(infoSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			const lotsPage = await PDFDocument.load(lotsSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			const contextPage = await PDFDocument.load(contextSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			const termsPage = await PDFDocument.load(termsSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			const reportPages = await PDFDocument.load(reportSRC).then(doc=>pdfDoc.copyPages(doc,[0,1,2]));
			const timesFont = await pdfDoc.embedFont(StandardFonts.TimesRoman);
			const timesFontItalic = await pdfDoc.embedFont(StandardFonts.TimesRomanBoldItalic);
			const timesFontBold = await pdfDoc.embedFont(StandardFonts.TimesRomanBold);

			let currentPage=0;

			let report=[];
			report[0]=pdfDoc.addPage(reportPages[0]);
			report[1]=pdfDoc.addPage(reportPages[1]);
			report[2]=pdfDoc.addPage(reportPages[2]);

			const info=pdfDoc.addPage(infoPage);
			info.setFont(timesFont);
			info.setFontSize(12);
			y=781;

			info.drawText(name,{
				x:198,
				y:lastY(0)
			});

			info.drawText(address,{
				x:130,
				y:lastY(22)
			});

			info.drawText(postal_code,{
				x:150,
				y:lastY(22)
			});

			info.drawText(city,{
				x:290,
				y:lastY(0)
			});

			info.drawText(mobile,{
				x:110,
				y:lastY(23)
			});

			info.drawText(ttc + ' € TTC.',{
				x:415,
				y:lastY(275)-1,
				font:timesFontBold
			});

			info.drawText(end_date,{
				x:481,
				y:lastY(-125),
				font:timesFontBold
			});

			let lotsPages=[];
			currentPage=0;
			lotsPages.push(pdfDoc.addPage(lotsPage));

			let lots=lotsPages[currentPage];
			lots.setFont(timesFont);
			lots.setFontSize(12);
			y=830;

			lastY(-30);

			for (let i=0;i<categories.length;i++){
				let category=categories[i];

				let nextLength=30+4+category.works.reduce((total_offset,work)=>{
					return total_offset+=(16*(work.wrap(80).lineCount()));
				},0)+(category.comments?category.comments.wrap(100).lineCount()*16:0);

				if (y-nextLength<50){

					lots.drawText('- - - d\'autres articles suivent - - -',{
						x:306-(timesFont.widthOfTextAtSize('- - - d\'autres articles suivent - - -',12)/2),
						y:lastY(22)
					});

					let newPage= await PDFDocument.load(lotsSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
					lotsPages.push(pdfDoc.addPage(newPage));
					currentPage++;
					lots=lotsPages[currentPage];
					lots.setFont(timesFont);
					lots.setFontSize(12);
					y=860;
				}

				lots.drawText('LOT '+category.name.toUpperCase(),{
					x:55,
					y:lastY(30),
					font:timesFontItalic
				});

				lots.drawText('Total : '+category.price+' HT',{
					x:550-timesFontBold.widthOfTextAtSize('Total : '+category.price+' HT',12),
					y:lastY(0),
					font:timesFontBold
				});

				lots.drawRectangle({
					x: 50,
					y: lastY(0)-4,
					width: 500,
					height: 1,
					color: grayscale(0)
				})

				lastY(4);

				if (category.comments){
					let comment_text=category.comments.wrap(100);
					lots.drawText(comment_text,{
						x:50,
						y:lastY(0)-16,
						lineHeight:16
					});
					lastY(comment_text.lineCount()*16);
				}

				lastY(16);
				category.works.forEach((work,work_index) =>{
					let work_text=work.wrap(80);
					lots.drawText('•',{
						x:50,
						y:lastY(0),
						lineHeight:16
					});
					lots.drawText(work_text,{
						x:57,
						y:lastY(0),
						lineHeight:16
					});
					lastY(16*(work_text.lineCount()));
				});

			}

			lots.drawText('- - - rien ne suit - - -',{
				x:306-(timesFont.widthOfTextAtSize('- - - rien ne suit - - -',12)/2),
				y:lastY(22)
			});

			const context=pdfDoc.addPage(contextPage);
			context.setFont(timesFont);
			context.setFontSize(12);
			y=800;

			if (project.comments){

				context.drawText('Contexte',{
					x:90,
					y:lastY(0),
					font:timesFontBold,
					size:14
				});

				context.drawRectangle({
					x: 90,
					y: lastY(0)-4,
					width: timesFontBold.widthOfTextAtSize('Contexte',14),
					height: 1,
					color: grayscale(0)
				})

				let comments_text=project.comments.wrap(80);

				context.drawText(comments_text,{
					x:110,
					y:lastY(24),
					lineHeight:16
				})

				lastY(16*(comments_text.lineCount()))

			}

			if (project.description){

				context.drawText('Descriptif de votre projet',{
					x:90,
					y:lastY(24),
					font:timesFontBold,
					size:14
				});

				context.drawRectangle({
					x: 90,
					y: lastY(0)-4,
					width: timesFontBold.widthOfTextAtSize('Descriptif de votre projet',14),
					height: 1,
					color: grayscale(0)
				})

				let description_text=project.description.wrap(80);

				context.drawText(description_text,{
					x:110,
					y:lastY(24),
					lineHeight:16
				})

				lastY(16*(description_text.lineCount()))

			}

			if (project.objectives){

				context.drawText('Objectifs',{
					x:90,
					y:lastY(24),
					font:timesFontBold,
					size:14
				});

				context.drawRectangle({
					x: 90,
					y: lastY(0)-4,
					width: timesFontBold.widthOfTextAtSize('Objectifs',14),
					height: 1,
					color: grayscale(0)
				})

				let objectives_text=project.objectives.wrap(80);

				context.drawText(objectives_text,{
					x:110,
					y:lastY(24),
					lineHeight:16
				})

				lastY(16*(objectives_text.lineCount()))

			}

			let termsPages=[];
			currentPage=0;
			termsPages.push(pdfDoc.addPage(termsPage));

			let terms=termsPages[currentPage];
			terms.setFont(timesFont);
			terms.setFontSize(12);
			y=680;

			terms.drawText(`ESTIMATIF`,{
				x:306-(timesFontBold.widthOfTextAtSize('ESTIMATIF',18)/2),
				y:lastY(20),
				font:timesFontBold,
				size:18
			});

			let dark=0;
			lastY(22);
			terms.drawRectangle({
				x: 50,
				y: lastY(0)-4,
				width: 360,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})

			terms.drawRectangle({
				x: 410,
				y: lastY(0)-4,
				width: 150,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})
			dark++;

			terms.drawText('LOTS',{
				x:80,
				y:lastY(0)+2,
				font:timesFontBold
			});

			terms.drawText('TOTAL',{
				x:470,
				y:lastY(0)+2,
				font:timesFontBold
			});

			let non_duplicate=[];

			for (let index in categories){
				if (categories[index].id in non_duplicate){
					let oldPrice=Decimal(categories[non_duplicate[categories[index].id]].price.replace(' ','').replace(',',''));
					let newPrice=oldPrice.plus(Decimal(categories[index].price.replace(' ','').replace(',',''))).dividedBy(100).toStringPlaces();
					categories[non_duplicate[categories[index].id]].price=newPrice;
					categories[index]=null;
				}else{
					non_duplicate[categories[index].id]=index;
				}
			}

			categories.forEach((category,i)=>{
				if (!category) return;
				dark=i;
				lastY(20);
				terms.drawRectangle({
					x: 50,
					y: lastY(0)-4,
					width: 360,
					height: 20,
					borderWidth: 1,
					borderColor: grayscale(0.5),
					color: grayscale(((i%2)/20)+0.85)
				})

				terms.drawRectangle({
					x: 410,
					y: lastY(0)-4,
					width: 150,
					height: 20,
					borderWidth: 1,
					borderColor: grayscale(0.5),
					color: grayscale(((i%2)/20)+0.85)
				})

				terms.drawText(category.name,{
					x:80,
					y:lastY(0)+2,
					font:timesFontBold
				});

				terms.drawText(category.price + " € HT",{
					x:550-timesFontBold.widthOfTextAtSize(category.price + " € HT",12),
					y:lastY(0)+2,
					font:timesFontBold
				});
				
			});

			dark++;

			
			lastY(20);
			terms.drawRectangle({
				x: 50,
				y: lastY(0)-4,
				width: 360,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})

			terms.drawRectangle({
				x: 410,
				y: lastY(0)-4,
				width: 150,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})
			dark++;

			terms.drawText(`TOTAL HT`,{
				x:80,
				y:lastY(0)+2,
				font:timesFontBold
			});

			terms.drawText(ht + " € HT",{
				x:550-timesFontBold.widthOfTextAtSize(ht + " € HT",12),
				y:lastY(0)+2,
				font:timesFontBold
			});


			for (let tax_index in taxes_categorized){

				if(!taxes_categorized[tax_index]) continue;

				lastY(20);
				terms.drawRectangle({
					x: 50,
					y: lastY(0)-4,
					width: 360,
					height: 20,
					borderWidth: 1,
					borderColor: grayscale(0.5),
					color: grayscale(((dark%2)/20)+0.85)
				})

				terms.drawRectangle({
					x: 410,
					y: lastY(0)-4,
					width: 150,
					height: 20,
					borderWidth: 1,
					borderColor: grayscale(0.5),
					color: grayscale(((dark%2)/20)+0.85)
				})
				dark++;
				
				terms.drawText(`TOTAL TVA ${tax_index}%`,{
					x:80,
					y:lastY(0)+2,
					font:timesFontBold
				});

				terms.drawText(taxes_categorized[tax_index] + " €",{
					x:529.5-timesFontBold.widthOfTextAtSize(taxes_categorized[tax_index] + " €",12),
					y:lastY(0)+2,
					font:timesFontBold
				});
			}
			
			lastY(20);
			terms.drawRectangle({
				x: 50,
				y: lastY(0)-4,
				width: 360,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})

			terms.drawRectangle({
				x: 410,
				y: lastY(0)-4,
				width: 150,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})

			terms.drawText(`TOTAL TTC`,{
				x:80,
				y:lastY(0)+2,
				font:timesFontBold
			});

			terms.drawText(ttc + " €",{
				x:529.5-timesFontBold.widthOfTextAtSize(ttc + " €",12),
				y:lastY(0)+2,
				font:timesFontBold
			});


			const pdfDataUri = await pdfDoc.saveAsBase64({ dataUri: true });
			
            let link = document.createElement("a");
            link.download = 'Compte_Rendu_'+project.name;
            link.href = pdfDataUri;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
		},
		
		async generateContract(
			project,
			client,
			categories,
			ht,
			tva,
			ttc,
			tax_percent,
			taxes_categorized
		){

// --------------------------------------------------------------
// DATA

			let name=client.name||'';
			let address=project.address||'';
			let postal_code=project.postal_code||'';
			let city=project.city||'';
			let mobile=client.mobile||'';
			let client_address=client.address||'';
			let client_postal=client.postal_code||'';
			let client_city=client.city||'';
			let email=client.email||'';

			let start_date=!project.start_date?'':new Date(project.start_date).toLocaleDateString("EN-GB");
			let end_date=!project.end_date?'':new Date(project.end_date).toLocaleDateString("EN-GB");


// --------------------------------------------------------------
// GENERATOR

			let y=0;
			function lastY(x){
				y-=x;
				return y;
			}

			let infoURL='/api/files/resource?path=client_info.pdf&v='+window.serverAppVersion;
			let lotsURL='/api/files/resource?path=lots_sheet.pdf&v='+window.serverAppVersion;
			let contextURL='/api/files/resource?path=context.pdf&v='+window.serverAppVersion;
			let termsURL='/api/files/resource?path=payment_terms_contract.pdf&v='+window.serverAppVersion;
			let reportURL='/api/files/resource?path=compte_rendu.pdf&v='+window.serverAppVersion;
			let contractURL='/api/files/resource?path=offre_contractant.pdf&v='+window.serverAppVersion;
			let relationURL='/api/files/resource?path=relation.pdf&v='+window.serverAppVersion;

			let infoSRC=await axios.get(infoURL,{responseType:'arraybuffer'}).then(res => res.data);
			let lotsSRC=await axios.get(lotsURL,{responseType:'arraybuffer'}).then(res => res.data);
			let contextSRC=await axios.get(contextURL,{responseType:'arraybuffer'}).then(res => res.data);
			let termsSRC=await axios.get(termsURL,{responseType:'arraybuffer'}).then(res => res.data);
			let reportSRC=await axios.get(reportURL,{responseType:'arraybuffer'}).then(res => res.data);
			let contractSRC=await axios.get(contractURL,{responseType:'arraybuffer'}).then(res => res.data);
			let relationSRC=await axios.get(relationURL,{responseType:'arraybuffer'}).then(res => res.data);

			let pdfDoc = await PDFDocument.create();
			let infoPage = await PDFDocument.load(infoSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			let lotsPage = await PDFDocument.load(lotsSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			let contextPage = await PDFDocument.load(contextSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			let termsPage = await PDFDocument.load(termsSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			let reportPages = await PDFDocument.load(reportSRC).then(doc=>pdfDoc.copyPages(doc,[0,1,2]));
			let contractPages = await PDFDocument.load(contractSRC).then(doc=>pdfDoc.copyPages(doc,[0,1,2,3,4,5,6,7]));
			let relationPage = await PDFDocument.load(relationSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			let timesFont = await pdfDoc.embedFont(StandardFonts.TimesRoman);
			let timesFontItalic = await pdfDoc.embedFont(StandardFonts.TimesRomanBoldItalic);
			let timesFontBold = await pdfDoc.embedFont(StandardFonts.TimesRomanBold);

			let currentPage=0;

			let report=[];
			report[0]=pdfDoc.addPage(reportPages[0]);
			report[1]=pdfDoc.addPage(reportPages[1]);
			report[2]=pdfDoc.addPage(reportPages[2]);

			const info=pdfDoc.addPage(infoPage);
			info.setFont(timesFont);
			info.setFontSize(12);
			y=781;

			info.drawText(name,{
				x:198,
				y:lastY(0)
			});

			info.drawText(address,{
				x:130,
				y:lastY(22)
			});

			info.drawText(postal_code,{
				x:150,
				y:lastY(22)
			});

			info.drawText(city,{
				x:290,
				y:lastY(0)
			});

			info.drawText(mobile,{
				x:110,
				y:lastY(23)
			});

			info.drawText(ttc + '€ TTC.',{
				x:415,
				y:lastY(275)-1,
				font:timesFontBold
			});

			info.drawText(end_date,{
				x:481,
				y:lastY(-125),
				font:timesFontBold
			});

			let lotsPages=[];
			currentPage=0;
			lotsPages.push(pdfDoc.addPage(lotsPage));

			let lots=lotsPages[currentPage];
			lots.setFont(timesFont);
			lots.setFontSize(12);
			y=830;

			lastY(-30);

			for (let i=0;i<categories.length;i++){
				let category=categories[i];

				let nextLength=30+4+category.works.reduce((total_offset,work)=>{
					return total_offset+=(16*(work.wrap(80).lineCount()));
				},0)+(category.comments?category.comments.wrap(100).lineCount()*16:0);

				if (y-nextLength<50){

					lots.drawText('- - - d\'autres articles suivent - - -',{
						x:306-(timesFont.widthOfTextAtSize('- - - d\'autres articles suivent - - -',12)/2),
						y:lastY(22)
					});

					let newPage= await PDFDocument.load(
						lotsSRC
					).then(
						doc=>pdfDoc.copyPages(doc,[0])
					).then(
						pages=>pages[0]
					);
					
					lotsPages.push(pdfDoc.addPage(newPage));
					currentPage++;
					lots=lotsPages[currentPage];
					lots.setFont(timesFont);
					lots.setFontSize(12);
					y=860;
				}

				lots.drawText('LOT '+category.name.toUpperCase(),{
					x:55,
					y:lastY(30),
					font:timesFontItalic
				});

				lots.drawText('Total : '+category.price+' HT',{
					x:550-timesFontBold.widthOfTextAtSize('Total : '+category.price+' HT',12),
					y:lastY(0),
					font:timesFontBold
				});

				lots.drawRectangle({
					x: 50,
					y: lastY(0)-4,
					width: 500,
					height: 1,
					color: grayscale(0)
				})

				lastY(4);

				if (category.comments){
					let comment_text=category.comments.wrap(100);
					lots.drawText(comment_text,{
						x:50,
						y:lastY(0)-16,
						lineHeight:16
					});
					lastY(comment_text.lineCount()*16);
				}

				lastY(16);
				category.works.forEach((work,work_index) =>{
					let work_text=work.wrap(80);
					lots.drawText('•',{
						x:50,
						y:lastY(0),
						lineHeight:16
					});
					lots.drawText(work_text,{
						x:57,
						y:lastY(0),
						lineHeight:16
					});
					lots.drawText(category.quantities[work_index]+' '+category.units[work_index],{
						x:550-timesFont.widthOfTextAtSize(category.quantities[work_index]+'     ',12),
						y:lastY(0),
						lineHeight:16
					});
					lastY(16*(work_text.lineCount()));
				});

			}

			lots.drawText('- - - rien ne suit - - -',{
				x:306-(timesFont.widthOfTextAtSize('- - - rien ne suit - - -',12)/2),
				y:lastY(22)
			});

			const context=pdfDoc.addPage(contextPage);
			context.setFont(timesFont);
			context.setFontSize(12);
			y=800;

			if (project.comments){

				context.drawText('Contexte',{
					x:90,
					y:lastY(0),
					font:timesFontBold,
					size:14
				});

				context.drawRectangle({
					x: 90,
					y: lastY(0)-4,
					width: timesFontBold.widthOfTextAtSize('Contexte',14),
					height: 1,
					color: grayscale(0)
				})

				let comments_text=project.comments.wrap(80);

				context.drawText(comments_text,{
					x:110,
					y:lastY(24),
					lineHeight:16
				})

				lastY(16*(comments_text.lineCount()))

			}

			if (project.description){

				context.drawText('Descriptif de votre projet',{
					x:90,
					y:lastY(24),
					font:timesFontBold,
					size:14
				});

				context.drawRectangle({
					x: 90,
					y: lastY(0)-4,
					width: timesFontBold.widthOfTextAtSize('Descriptif de votre projet',14),
					height: 1,
					color: grayscale(0)
				})

				let description_text=project.description.wrap(80);

				context.drawText(description_text,{
					x:110,
					y:lastY(24),
					lineHeight:16
				})

				lastY(16*(description_text.lineCount()))

			}

			if (project.objectives){

				context.drawText('Objectifs',{
					x:90,
					y:lastY(24),
					font:timesFontBold,
					size:14
				});

				context.drawRectangle({
					x: 90,
					y: lastY(0)-4,
					width: timesFontBold.widthOfTextAtSize('Objectifs',14),
					height: 1,
					color: grayscale(0)
				})

				let objectives_text=project.objectives.wrap(80);

				context.drawText(objectives_text,{
					x:110,
					y:lastY(24),
					lineHeight:16
				})

				lastY(16*(objectives_text.lineCount()))

			}


			let termsPages=[];
			currentPage=0;
			termsPages.push(pdfDoc.addPage(termsPage));

			let terms=termsPages[currentPage];
			terms.setFont(timesFont);
			terms.setFontSize(12);
			y=850;

			terms.drawText(`ESTIMATIF`,{
				x:306-(timesFontBold.widthOfTextAtSize('ESTIMATIF',12)/2),
				y:lastY(20),
				font:timesFontBold
			});

			let dark=0;
			lastY(22);
			terms.drawRectangle({
				x: 50,
				y: lastY(0)-4,
				width: 360,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})

			terms.drawRectangle({
				x: 410,
				y: lastY(0)-4,
				width: 150,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})
			dark++;

			terms.drawText('LOTS',{
				x:80,
				y:lastY(0)+2,
				font:timesFontBold
			});

			terms.drawText('TOTAL',{
				x:470,
				y:lastY(0)+2,
				font:timesFontBold
			});

			let non_duplicate=[];

			for (let index in categories){
				if (categories[index].id in non_duplicate){
					let oldPrice=Decimal(categories[non_duplicate[categories[index].id]].price.replace(' ','').replace(',',''));
					let newPrice=oldPrice.plus(Decimal(categories[index].price.replace(' ','').replace(',',''))).dividedBy(100).toStringPlaces();
					categories[non_duplicate[categories[index].id]].price=newPrice;
					categories[index]=null;
				}else{
					non_duplicate[categories[index].id]=index;
				}
			}

			categories.forEach((category,i)=>{
				if (!category) return;
				dark=i;
				lastY(20);
				terms.drawRectangle({
					x: 50,
					y: lastY(0)-4,
					width: 360,
					height: 20,
					borderWidth: 1,
					borderColor: grayscale(0.5),
					color: grayscale(((i%2)/20)+0.85)
				})

				terms.drawRectangle({
					x: 410,
					y: lastY(0)-4,
					width: 150,
					height: 20,
					borderWidth: 1,
					borderColor: grayscale(0.5),
					color: grayscale(((i%2)/20)+0.85)
				})

				terms.drawText(category.name,{
					x:80,
					y:lastY(0)+2,
					font:timesFontBold
				});

				terms.drawText(category.price + " € HT",{
					x:550-timesFontBold.widthOfTextAtSize(category.price + " € HT",12),
					y:lastY(0)+2,
					font:timesFontBold
				});
				
			});

			dark++;

			
			lastY(20);
			terms.drawRectangle({
				x: 50,
				y: lastY(0)-4,
				width: 360,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})

			terms.drawRectangle({
				x: 410,
				y: lastY(0)-4,
				width: 150,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})
			dark++;

			terms.drawText(`TOTAL HT`,{
				x:80,
				y:lastY(0)+2,
				font:timesFontBold
			});

			terms.drawText(ht + " € HT",{
				x:550-timesFontBold.widthOfTextAtSize(ht + " € HT",12),
				y:lastY(0)+2,
				font:timesFontBold
			});


			for (let tax_index in taxes_categorized){

				if(!taxes_categorized[tax_index]) continue;

				lastY(20);
				terms.drawRectangle({
					x: 50,
					y: lastY(0)-4,
					width: 360,
					height: 20,
					borderWidth: 1,
					borderColor: grayscale(0.5),
					color: grayscale(((dark%2)/20)+0.85)
				})

				terms.drawRectangle({
					x: 410,
					y: lastY(0)-4,
					width: 150,
					height: 20,
					borderWidth: 1,
					borderColor: grayscale(0.5),
					color: grayscale(((dark%2)/20)+0.85)
				})
				dark++;
				
				terms.drawText(`TOTAL TVA ${tax_index}%`,{
					x:80,
					y:lastY(0)+2,
					font:timesFontBold
				});

				terms.drawText(taxes_categorized[tax_index] + " €",{
					x:529.5-timesFontBold.widthOfTextAtSize(taxes_categorized[tax_index] + " €",12),
					y:lastY(0)+2,
					font:timesFontBold
				});
			}
			
			lastY(20);
			terms.drawRectangle({
				x: 50,
				y: lastY(0)-4,
				width: 360,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})

			terms.drawRectangle({
				x: 410,
				y: lastY(0)-4,
				width: 150,
				height: 20,
				borderWidth: 1,
				borderColor: grayscale(0.5),
				color: grayscale(((dark%2)/20)+0.85)
			})

			terms.drawText(`TOTAL TTC`,{
				x:80,
				y:lastY(0)+2,
				font:timesFontBold
			});

			terms.drawText(ttc + " €",{
				x:529.5-timesFontBold.widthOfTextAtSize(ttc + " €",12),
				y:lastY(0)+2,
				font:timesFontBold
			});

			terms.drawText(start_date,{
				x:290,
				y:94,
				font:timesFontBold,
				size:14
			});

			terms.drawText(end_date,{
				x:395,
				y:94,
				font:timesFontBold,
				size:14
			});

			
			
			const relation=pdfDoc.addPage(relationPage);
			relation.setFont(timesFont);
			relation.setFontSize(12);
			y=786;

			relation.drawText(name,{
				x:405,
				y:lastY(0)
			});
			
			relation.drawText(client_address,{
				x:405,
				y:lastY(29)
			});
			
			relation.drawText(client_postal,{
				x:350,
				y:lastY(15)
			});
			
			relation.drawText(client_city,{
				x:315,
				y:lastY(15)
			});
			
			relation.drawText(mobile,{
				x:300,
				y:lastY(30)
			});
			
			relation.drawText(email,{
				x:310,
				y:lastY(15)
			});

			

			let pdf2=await pdfDoc.save();


			infoURL=null;
			lotsURL=null;
			termsURL=null;
			reportURL=null;
			relationURL=null;

			infoSRC=null;
			lotsSRC=null;
			termsSRC=null;
			reportSRC=null;
			relationSRC=null;

			pdfDoc =null;
			infoPage =null;
			lotsPage =null;
			termsPage =null;
			reportPages =null;
			relationPage =null;
			timesFont =null;
			timesFontItalic =null;
			timesFontBold =null;

			pdfDoc=await PDFDocument.load(pdf2);

			contractURL='/api/files/resource?path=offre_contractant.pdf&v='+window.serverAppVersion;
			contractSRC=await axios.get(contractURL,{responseType:'arraybuffer'}).then(res => res.data);
			contractPages = await PDFDocument.load(contractSRC).then(doc=>pdfDoc.copyPages(doc,[0,1,2,3,4,5,6,7]));

			function downloadBlob(data, fileName, mimeType){
				
				function downloadURL(data, fileName) {
					let a;
					a = document.createElement('a');
					a.href = data;
					a.download = fileName;
					document.body.appendChild(a);
					a.style = 'display: none';
					a.click();
					a.remove();
				}

				let blob, url;
				blob = new Blob([data], {
					type: mimeType
				});
				url = window.URL.createObjectURL(blob);
				downloadURL(url, fileName);
				setTimeout(function() {
					return window.URL.revokeObjectURL(url);
				}, 1000);
			}

			let contract=[];
			contract[0]=pdfDoc.addPage(contractPages[0]);
			contract[1]=pdfDoc.addPage(contractPages[1]);
			contract[2]=pdfDoc.addPage(contractPages[2]);
			contract[3]=pdfDoc.addPage(contractPages[3]);
			contract[4]=pdfDoc.addPage(contractPages[4]);
			contract[5]=pdfDoc.addPage(contractPages[5]);
			contract[6]=pdfDoc.addPage(contractPages[6]);
			contract[7]=pdfDoc.addPage(contractPages[7]);

			const pdfData= await pdfDoc.save();

			downloadBlob(pdfData,'Offre_Contractant_'+project.name+'.pdf','application/pdf');
		}
	},
	created(){
		
		this.mergeData();
		
	}
}
</script>
