<template>
					<!-- START PROSPECTS -->
					<div class="page-content">
						<div style="margin:0;padding:0;position:relative;height:100%;width:100%">
						<transition name="throw">
							<ProspectsIndex ref="mode" v-if="mode==='index'" :key="mode" v-bind:common="common" v-bind:data="modes.index" v-on:enterCreateMode="enterCreateMode" v-on:enterShowMode="enterShowMode" v-on:enterIndexMode="enterIndexMode"/>
							<ProspectsCreate ref="mode" v-else-if="mode==='create'" :key="mode" v-bind:common="common" v-on:enterIndexMode="enterIndexMode" v-on:enterShowMode="enterShowMode"/>
							<ProspectsShow ref="mode" v-else-if="mode==='show'" :key="mode" v-bind:common="common" v-bind:data="modes.show.prospect[modes.show.prospect_id]" v-on:enterIndexMode="enterIndexMode" v-on:enterShowMode="enterShowMode"/>
						</transition>
						</div>
					</div>
					<!-- END PROSPECTS -->
</template>
<script>
import { StandardFonts, PDFDocument, degrees, grayscale, rgb, ColorTypes } from 'pdf-lib'
export default {
	props:['data'],
	data(){
		return{
			mode:null,

			common:{

				prospect_progresses:{},
				prospect_progresses_by_order:{},
				project_types:[],
				contract_types:[],
				marketing_avenues:[],
				hash:'',

			},

			modes:{
				index:{
					current_page:null,
					last_page:null,
					prospects:{},
					hash:{},
				},
				show:{
					edit_mode:false,
					prospect_id:null,
					prospect:{},
					hash:{},
				}
			},

			hash:{}

		}
	},
	watch:{

		data(){

			this.mergeData();

		}

	},
	methods:{
		fetchIndexData(el,page=1,success){
			let model=el.modes.index;
			$.ajax({
				url:'/api/prospects/index'+'?page='+page+'&hash='+ function(){ try {return model.hash[page];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.current_page=page;
					if(data.data_state==='new'){
						model.last_page=data.last_page;
						model.prospects[model.current_page]=data.prospects;
						model.hash[model.current_page]=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		fetchShowData(el,id,success){
			let model=el.modes.show;
			$.ajax({
				url:'/api/prospects/show?id='+id+'&hash='+ function(){ try {return model.hash[id];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.prospect_id=id;
					if(data.data_state=='new'){
						model.prospect[id]=data.prospect;
						model.hash[id]=data.hash
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		enterCreateMode(success){
			success();
			this.mode='create';
		},
		enterIndexMode(page,success){
			this.$root.startLoading();
			this.fetchIndexData(this,page,function(el){
				success();
				el.mode='index';
				el.$root.doneLoading();
			});
		},
		enterShowMode(id,edit,success){
			this.$root.startLoading();
			this.fetchShowData(this,id,function(el){
				success();
				el.modes.show.prospect[id].edit_mode=edit;
				el.mode='show';
				el.$root.doneLoading();
			});
		},
		mergeData(){

			this.mode=this.data.mode;
			
			//	common
			this.common.prospect_progresses=this.data.common.prospect_progresses;
			this.common.prospect_progresses_by_order=this.data.common.prospect_progresses_by_order;
			this.common.project_types=this.data.common.project_types;
			this.common.contract_types=this.data.common.contract_types;
			this.common.marketing_avenues=this.data.common.marketing_avenues;

			//hash
			this.hash[this.mode]=this.data.hash;

			let model;

			switch (this.mode){
				case 'index':
					model=this.modes.index;
					model.current_page=this.data.modes.index.current_page;
					model.last_page=this.data.modes.index.last_page;
					Object.assign(model.prospects,{[model.current_page]:this.data.modes.index.prospects});
					Object.assign(model.hash,{[model.current_page]:this.data.modes.index.hash});
					break;
				case 'show':
					model=this.modes.show;
					model.prospect_id=this.data.modes.show.prospect_id;
					Object.assign(model.prospect,{[model.prospect_id]:this.data.modes.show.prospect});
					Object.assign(model.hash,{[model.prospect_id]:this.data.modes.show.hash});
					break;
			}

		},
		async generateSheet(client,marketing_avenue){

// --------------------------------------------------------------
// DATA

			let name=client.name||'';
			let surname=client.surname||'';
			let address=client.address||'';
			let rdv=client.prospect_progress_dates['2']||'';
			let city=client.city||'';
			let postal_code=client.postal_code||'';
			let telephone=client.telephone||'';
			let mobile=client.mobile||'';
			let [email,domain] = client.email ? client.email.split("@") : ['',''];
			email=email?email:'';
			domain=domain?domain:'';
			let budget=client.budget ? Decimal(client.budget).toStringPlaces():'';
			let comments=client.comments ? client.comments.wrap(80):'';


// --------------------------------------------------------------
// GENERATOR

			let y=0;
			function lastY(x){
				y-=x;
				return y;
			}

			const infoURL='/api/files/resource?path=fiche_de_découverte.pdf&v='+window.serverAppVersion;

			const infoSRC=await axios.get(infoURL,{responseType:'arraybuffer'}).then(res => res.data);

			const pdfDoc = await PDFDocument.create();
			const infoPage = await PDFDocument.load(infoSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			const infoPage2 = await PDFDocument.load(infoSRC).then(doc=>pdfDoc.copyPages(doc,[1])).then(pages=>pages[0]);
			const infoPage3 = await PDFDocument.load(infoSRC).then(doc=>pdfDoc.copyPages(doc,[2])).then(pages=>pages[0]);
			const infoPage4 = await PDFDocument.load(infoSRC).then(doc=>pdfDoc.copyPages(doc,[3])).then(pages=>pages[0]);
			const timesFont = await pdfDoc.embedFont(StandardFonts.TimesRoman);
			const timesFontItalic = await pdfDoc.embedFont(StandardFonts.TimesRomanBoldItalic);
			const timesFontBold = await pdfDoc.embedFont(StandardFonts.TimesRomanBold);

			const info=pdfDoc.addPage(infoPage);
			info.setFont(timesFont);
			info.setFontSize(12);
			y=712;

			info.drawText(name + ", " + surname,{
				x:95,
				y:lastY(0)
			});

			info.drawText(rdv,{
				x:345,
				y:lastY(-6)
			});

			info.drawText(address+", "+city+" "+postal_code,{
				x:130,
				y:lastY(55)
			});

			info.drawText(telephone,{
				x:130,
				y:lastY(40)
			});

			info.drawText(mobile,{
				x:400,
				y:lastY(0)
			});

			info.drawText(email,{
				x:75,
				y:lastY(20)
			});

			info.drawText(domain,{
				x:225,
				y:lastY(0)
			});

			info.drawText(marketing_avenue,{
				x:480,
				y:lastY(0)
			});

			info.drawText(budget,{
				x:483,
				y:lastY(73)
			});

			info.drawText(comments,{
				x:120,
				y:lastY(399),
				lineHeight:19
			});


			const info2=pdfDoc.addPage(infoPage2);
			const info3=pdfDoc.addPage(infoPage3);
			const info4=pdfDoc.addPage(infoPage4);

			const pdfDataUri = await pdfDoc.saveAsBase64({ dataUri: true });
			
            let link = document.createElement("a");
            link.download = 'Fiche_De_Découverte_'+client.name;
            link.href = pdfDataUri;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
		},
	},
	created(){
		
		this.mergeData();
		
	}
}
</script>
