<template>
    <div class="page-content">
		<div style="margin:0;padding:0;position:relative;height:100%;width:100%">
		<transition name="throw">
			<WorkCategoriesIndex ref="mode" v-if="mode==='index'" :key="mode" v-bind:data="modes.index" v-on:enterCreateMode="enterCreateMode" v-on:enterShowMode="enterShowMode" v-on:enterIndexMode="enterIndexMode"/>
			<WorkCategoriesCreate ref="mode" v-else-if="mode==='create'" :key="mode" v-bind:data="modes.create" v-on:enterIndexMode="enterIndexMode" v-on:enterShowMode="enterShowMode"/>
			<WorkCategoriesShow ref="mode" v-else-if="mode==='show'" :key="mode" v-bind:data="modes.show.work[modes.show.work_id]" v-on:enterIndexMode="enterIndexMode"/>
   		</transition>
		</div>
	</div>
</template>
<script>
export default {
	props:['data'],
	data(){
		return{
			mode:null,

			common:{

			},

			modes:{
				index:{
					
					category_id:null,
                    work_categories:{},
                    hash:null

				},
				create:{
					
					category_id:null,
                    work_categories:{},
                    hash:null

				},
				show:{

					work_id:null,
					work:{},
					hash:{}

				}
			},

			hash:{}

		}
	},
	watch:{

		data(){

			this.mergeData();

		}

	},
	methods:{
		fetchIndexData(category_id=0,el,success){
			let model=el.modes.index;
			$.ajax({
				url:'/api/work_categories/index?hash='+ model.hash,
				method:'get',
				dataType:"json",
				success(data){
					model.category_id=category_id;
					if(data.data_state==='new'){
						model.work_categories=data.work_categories;
						model.hash=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		fetchCreateData(category_id=0,el,success){
			let model=el.modes.create;
			$.ajax({
				url:'/api/work_categories/create?hash='+ model.hash,
				method:'get',
				dataType:"json",
				success(data){
					model.category_id=category_id;
					if(data.data_state==='new'){
						model.work_categories=data.work_categories;
						model.hash=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		fetchShowData(el,id,success){
			let model=el.modes.show;
			$.ajax({
				url:'/api/works/show?id='+id+'&hash='+ function(){ try {return model.hash[id];} catch(e) {return '';} }(),
				method:'get',
				dataType:"json",
				success(data){
					model.work_id=id;
					if(data.data_state=='new'){
						model.work[id]=data.work;
						model.hash[id]=data.hash;
					}
					success(el);
				},
				error(response){
					el.$root.failHandler(response);
				}
			});
		},
		enterCreateMode(category_id=0,success){
			this.$root.startLoading();
			this.fetchCreateData(category_id,this,function(el){
				success();
				el.mode='create';
				el.$root.doneLoading();
			});
		},
		enterIndexMode(category_id=0,success){
			this.$root.startLoading();
			this.fetchIndexData(category_id,this,function(el){
				success();
				el.mode='index';
				el.$root.doneLoading();
			});
		},
		enterShowMode(id,edit,success){
			this.$root.startLoading();
			this.fetchShowData(this,id,function(el){
				success();
				el.modes.show.work[id].edit_mode=edit;
				el.mode='show';
				el.$root.doneLoading();
			});
		},
		mergeData(){

			this.mode=this.data.mode;
			
			//	common

			//hash
			this.hash[this.mode]=this.data.hash;

			let model;

			switch (this.mode){
				case 'index':
					model=this.modes.index;
					model.category_id=this.data.modes.index.category_id||1;
                    model.hash=this.data.modes.index.hash;
					model.work_categories=Object.assign({},this.data.modes.index.work_categories);
					break;
				case 'create':
					model=this.modes.create;
					model.hash=this.data.modes.create.hash;
					model.work_categories=Object.assign({},this.data.modes.create.work_categories);
					break;
				case 'show':
					model=this.modes.show;
					model.work_id=this.data.modes.show.work_id;
					Object.assign(model.work,{[model.work_id]:this.data.modes.show.work});
					Object.assign(model.hash,{[model.work_id]:this.data.modes.show.hash});
			}
			
		}
	},
	created(){
		
		this.mergeData();
		
	}
}
</script>
