<template>
										<tr
											v-on:click="enterShowMode($event,false)" :href="'/prospects/'+data.id"
											:style="keepHover?{color: '#fff',backgroundColor: '#43859d'}:null"
										>
									        <td style="width:5%">{{prospect_id}}</td>
									        <td style="width:15%">{{data.full_name}}</td>
									        <td style="width:15%">{{data.email}}</td>
									        <td style="width:12%">{{data.mobile}}</td>
									        <td style="width:8%">{{data.city}}</td>
									        <td style="width:8%">{{data.contract_type?data.contract_type.name:''}}</td>
									        <td style="width:10%">{{data.marketing_avenue?data.marketing_avenue.name:''}}</td>
									        <td style="width:18%">
												 <div class="circle-check">
												 	 <span
													  	v-for="progressId in common.prospect_progresses_by_order" :key="progressId"
														:title="common.prospect_progresses[progressId]"
														:class="{checked:isChecked(progressId)}"
														data-toggle="tooltip"
														class="dot"
													>
													</span>
												 </div>
									        </td>
									        <td style="width:10%;">
									        	<div class="action-btn" style="overflow:hidden">

													<button
														@click="$emit('showStatus',$event,data)"
														type="button"
														class="table-btn"
														style="margin-left:-10px;"
													>
														<img class="img-responsive" src="/img/check-list.png">
													</button>
												
									        		<button
														@click="enterShowMode($event,true)"
														id="btn-edit"
														class="table-btn"
													>
														<img class="img-responsive" src="/img/edit.png">
													</button>
										        	<button
														@click="promptDelete"
														class="table-btn"
														style="margin-right:-10px;"
													>
														<img class="img-responsive" src="/img/delete.png">
													</button>
									        	</div>
									        </td>
										</tr>
</template>
<script>
export default {
	props:['common','data'],
	data(){
		return{
			keepHover:false
		}
	},
	methods:{
		isChecked(progress_id){
			if (this.data.prospect_progresses.some(prospect_progress=> prospect_progress.id===progress_id)){
				return true;
			}else{
				return false;
			}
		},
		enterShowMode(event,edit){
			this.$emit('enterShowMode',event,this.data.id,edit);
		},
		promptDelete(event){
			event.stopImmediatePropagation();
			let el=this;
			this.keepHover=true;
			this.$nextTick(this.$forceUpdate());
			let deleter=function(){
				el.$root.startLoading();
				$.ajax({
                url:'/api/prospects?id='+el.data.id,
                method:'delete',
				dataType:"json",
                data:{
                    _token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                success(data){
					el.$root.doneLoading();
                    el.$emit('enterIndexMode',function(){});
                },
                error(response){

					el.$root.failHandler(response);
					
                }
            });
			}
			launchModal(
				'Confirmation de suppression',
				'Êtes vous sûr de bien vouloir supprimer le prospect "'+el.data.name+'"?',
				function(){el.keepHover=false;},
				deleter
			);
		}
		
	},
	computed:{
		prospect_id(){
			return this.data.id.toString().padStart(4,0);
		}
	},
	mounted(){
		$('[data-toggle="tooltip"]').tooltip()
	}
}
</script>
