<template>
<div class="col-12">
	<transition name="gen">
		<div
			v-show="generatingPDF"
			class="generating"
		>

			<p class="gentext">
				Générer&nbsp;un&nbsp;PDF...<br>{{parseInt(percentGenerated)}}%
			</p>

			<div class="lds-dual-ring">
			</div>
		</div>
	</transition>
    <FileWindow
        v-if="showFiles"
        v-on:close="showFiles=false"
        v-bind:title="filesTitle"
        v-bind:path="filesPath"
    />
					<div class="ajout-projets form2">
						<div class="title-label row">
							<div class="col-md-10 col-sm-9">
								<h2>{{project_id.toString().padStart(4,0)}}</h2>
							</div>
							<div class="col-md-2 col-sm-3 p-0">
								<div class="prospect-btn-circle pr-2">
									<div class="btn-circle">

										<button v-if="!edit_mode" class="btn-sm btn btn-circle-white">
										<span v-on:click="enableEdit" id='edit-link' method='get'><img class="img-responsive rounded" src="/img/edit2.png"></span>
										</button>

										<button v-if="edit_mode" class="btn-sm btn btn-circle-white">
										<span v-on:click="saveProject($event)" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/save_icon.png"></span>
										</button>

									</div>
									<div class="btn-circle">
										<button v-if="!edit_mode" class="btn-sm btn btn-circle-blue">
											<a v-on:click="enterIndexMode" href="/projects" id='index-link' class='ajax-link' method='get'><img class="img-responsive rounded" src="/img/arrow-left2.png"></a>
										</button>

										<button v-if="edit_mode" class="btn-sm btn btn-circle-white">
										<span v-on:click="discardEdits" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/close_icon.png"></span>
										</button>

									</div>
								</div>
							</div>
						</div>

						<!-- PROJECT DETAILS -->
						<div class="form-group row">
							<div class="col-md-6">
								<div class="row">
									 <div class=" col-md-12">

										 <!-- PROJECT NAME -->
									    <label class="label">Nom projet</label>
									    <input 
											v-model="project.name"
											:disabled="!edit_mode"
											type="text"
											required="required"
											class="input-text input-border-bottom form-control"
										>
								    </div>
								</div>
								<div class="row">
									 <div class=" col-md-12">

										<!-- PROJECT ADDRESS -->
									    <label class="label">Addresse</label>
									    <input
											v-model="project.address"
											:disabled="!edit_mode"
											type="text"
											required="required"
											class="input-text input-border-bottom form-control"
										>
								    </div>
								</div>
								<div class="row">
									 <div class=" col-md-6">

									    <label class="label">Ville</label>
									    <input
											v-model="project.city"
											:disabled="!edit_mode"
											type="text"
											required="required"
											class="input-text input-border-bottom form-control"
										>
								    </div>
									 <div class=" col-md-6">

										<!-- PROJECT POSTAL CODE -->
									    <label class="label" for="adresse">Code postal</label>
									    <input
											v-model="project.postal_code"
											:disabled="!edit_mode"
											type="text"
											required="required"
											class="input-text input-border-bottom form-control"
										>
								    </div>
								</div>
								<div class="row">
									<div class=" col-md-12">

										<!-- PROJECT COMMENTS -->
										<label class="label" for="synthese-contexte">Synthèse contexte</label>
									    <textarea
											v-model="project.comments"
											:disabled="!edit_mode"
											class="input-text input-border-bottom form-control"
											rows="5"
										>

										</textarea>
								    </div>
								</div>
								<div class="row">
									<div class=" col-md-12">

										<!-- PROJECT Description -->
										<label class="label" for="synthese-contexte">Descriptif de votre projet</label>
									    <textarea
											v-model="project.description"
											:disabled="!edit_mode"
											class="input-text input-border-bottom form-control"
											rows="5"
										>

										</textarea>
								    </div>
								</div>


								
							</div>
							<!-- END LEFT COLUMN OF FORM -->

							<!-- START RIGHT COLUMN OF FORM -->
							<div class="col-md-6">
								<div class="row">
									 <div
										v-on:focusout="dislodgeResults"
									 	class=" col-md-12"
									>
									    <label class="label" for="nom-client">Client</label>

										<!-- CLIENT SEARCH AND NAME BOX -->
									    <input
											v-model="client.name"
											v-on:keyup="searchClient"
											:disabled="!edit_mode"
											type="text"
											required="required"
											class="input-text input-border-bottom form-control"
											id="nom-client"
										>
										
										<!-- CLIENT SEARCH RESULTS BOX -->
										<div
											v-show="showResultsBox"
											class="results-box"
										>
											<div
												v-for="client in search_results"
												v-on:click="selectClient(client)"
												:key="client.id"
												class="result-item"
												tabindex="0"
											>
												{{client.full_name}}
											</div>
										</div>
								    </div>
								</div>
								<div class="row">
									<div class="  col-md-6">
										<label class="label">Téléphone mobile</label>
									    <input
											:value="client.mobile"
											disabled
											class="input-text input-border-bottom form-control"
											>
									</div>
								    <div class=" col-md-6">
									    <label class="label">Téléphone fixe</label>
									    <input
											:value="client.telephone"
											disabled
											class="input-text input-border-bottom form-control"
										>
								    </div>
								</div>
								<div class="row">
									<div class="  col-md-12">
										<label class="label">Email</label>
									    <input
											:value="client.email"
											disabled
											class="input-text input-border-bottom form-control"
										>
									</div>
								</div>
								<div class="row">
									<div class=" col-md-12">

										<!-- PROJECT Description -->
										<label class="label" for="synthese-contexte">Objectifs</label>
									    <textarea
											v-model="project.objectives"
											:disabled="!edit_mode"
											class="input-text input-border-bottom form-control"
											rows="5"
										>

										</textarea>
								    </div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label class="label" for="type">Statut</label>
									    <select
											v-model="project.project_progress_id"
											:disabled="!edit_mode"
											class="input-text input-border-bottom form-control"
											id="type"
										>
										    <option
												v-for="project_progress in common.project_progresses"
												:key="project_progress.id"
												:value="project_progress.id"
											>
											{{project_progress.name}}
											</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<label class="label" for="type">Date</label>
									    <DatePick
											name="sell_date"
											v-model="project.sell_date"
											v-on:change="function(e){project.sell_date=e; $nextTick($forceUpdate);}"
											:editable="edit_mode"
										/>
									</div>
									<div class="col-md-4">
										<label class="label" for="type">Date de début</label>
									    <DatePick
											name="start_date"
											v-model="project.start_date"
											v-on:change="function(e){project.start_date=e; $nextTick($forceUpdate);}"
											:editable="edit_mode"
										/>
									</div>
									<div class="col-md-4">
										<label class="label" for="type">Date de fin</label>
									    <DatePick
											name="end_date"
											v-model="project.end_date"
											v-on:change="function(e){project.end_date=e; $nextTick($forceUpdate);}"
											:editable="edit_mode"
										/>
									</div>
								</div>
							</div>
						</div>

						<!-- WORK CATEGORIES, WORKS, AND COMPANIES -->
						<div class="table-ajout-projet row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-condensed">
										<thead>
											<tr>
												<th style="width:20%;">Lot</th>
												<th style="width:30%;">Désignation</th>
												<th style="width:5%;min-width:8rem;">Unités</th>
												<th style="width:10%;">Prix&nbsp;Achat</th>
												<th style="width:1%;">TVA</th>
												<th style="width:5%;">Marge</th>
												<th style="width:10%;">Prix&nbsp;vente</th>
												<th style="width:10%;">Total&nbsp;Ligne</th>
											</tr>
										</thead>
										<tbody>
											
											<!-- SECTION PER CATEGORY -->
											<template
												v-for="cat_index in category_count"
											>

												<!-- REPEAT ROW PER WORK OR MIN 3 TIMES -->
												<tr v-for="index in (getNumberOfWorks(cat_index)>3?getNumberOfWorks(cat_index):3)" :key="cat_index+''+index" :class="{'group-dark':cat_index%2==0}">

													<!-- WORK CATEGORY SELECTOR (ONLY SHOWS WHEN FIRST ROW OF SECTION) -->
													<td
														v-if="index==1"
														class="input-control"
													>
														<div style="margin:0;padding:0;width:100%;height:100%">
															<select
																v-model="project.work_categories[cat_index-1].work_category_id"
																v-on:change="sanitize(cat_index)"
																:disabled="!edit_mode"
																name="work_category_id"
																class="fill table-dropdown"
															>
																<!-- OPTION LIST ALL WORK CATEGORIES -->
																<option
																	v-for="category in work_categories_by_id"
																	:key="cat_index+''+category.id"
																	:value="category.id"
																>
																	{{category.name}}
																</option>
															</select>

															<!-- REMOVE CATEGORY BUTTON -->
															<button
																v-on:click="removeWorkCategory(cat_index)"
																v-show="edit_mode"
																class="removeCategoryButton material-icons"
																tabindex="-1"
															>
																close
															</button>
														</div>
													</td>

													<!-- COMPANY SELECTOR (ONLY SHOWS WHEN SECOND ROW OF SECTION) -->
													<td
														v-else-if="index==2"
														class="input-control"
													>

														<!-- ONLY SHOW WHEN CATEGORY HAS COMPANIES ASSIGNED, AND HAS WORKS ASSIGNED -->
														<select
															v-if="work_categories_by_id[project.work_categories[cat_index-1].work_category_id].companies.length>0 && getWorkIntersect(cat_index,1)"
															v-model="project.work_categories[cat_index-1].company_id"
															v-on:change="sanitize_leaveCompany(cat_index)"
															:disabled="!edit_mode"
															name="company_id"
															class="table-dropdown fill"
														>

															<!-- OPTION LIST ALL COMPANIES UNDER WORK CATEGORY -->
															<option
																v-for="company in work_categories_by_id[project.work_categories[cat_index-1].work_category_id].companies"
																:key="cat_index+''+company.id"
																:value="company.id"
															>
																{{company.name}}
															</option>
														</select>
													</td>

													<!-- COMMENTS FIELD (ONLY SHOWS WHEN THIRD ROW OF SECTION, SPANS UNTIL FINAL ROW OF SECTION) -->
													<td
														v-else-if="index==3"
														:rowspan="getNumberOfWorks(cat_index)>3?getNumberOfWorks(cat_index)-2:1"
														class="input-control"
													>

														<!-- ONLY SHOW WHEN CATEGORY HAS COMPANIES ASSIGNED, AND HAS WORKS ASSIGNED -->
														<textarea
															v-if="work_categories_by_id[project.work_categories[cat_index-1].work_category_id].companies.length>0 && getWorkIntersect(cat_index,1)"
															v-model="project.work_categories[cat_index-1].comments"
															:disabled="!edit_mode"
															name="comments"
															class="table-textarea fill"
															cols="25"
															rows="2"
															placeholder="- Commentaire -"
														>
														</textarea>
													</td>

													<!-- WORK COLUMNS (ONLY SHOW IF WORK CATEGORY HAS COMPANIES ASSIGNED, AND HAS WORKS ASSIGNED) -->
													<template
														v-if="getWorkIntersect(cat_index,index)"
													>
														<template
															v-if="work_categories_by_id[project.work_categories[cat_index-1].work_category_id].companies.length>0"
														>
															<!-- WORK NAME -->
															<td
																:style="(getPricePerUnit(cat_index,index)>=0)?'':'color:darkgray;'"
																:title="(getPricePerUnit(cat_index,index)>=0)?'':'L\'entreprise sélectionnée n\'a pas de prix pour ce travail.'"
															>
																{{getWorkIntersect(cat_index,index).name}}
															</td>

															<!-- WORK QUANTITY INPUT -->
															<td
																style="padding:right:0;text-align:right"
																:style="(getPricePerUnit(cat_index,index)>=0)?'':'color:darkgray;'"
															>

																<!-- DISABLE WHEN NO PRICE -->
																<input
																	v-model="project.work_categories[cat_index-1].quantity_by_work_id[getWorkIntersect(cat_index,index).id]"
																	v-on:input="quickUpdate()"
																	:disabled="getPricePerUnit(cat_index,index)<0 || !edit_mode"
																	:placeholder="((getPricePerUnit(cat_index,index)>=0)?(getPricePerUnit(cat_index,index).toStringPlaces()+'€/'):'NON PRIX')"
																	type="number"
																	class="input-border-bottom-trans"
																	style="width:60%;text-align:right;"
																	:style="(getPricePerUnit(cat_index,index)>=0)?'':'color:darkgray;'"
																>

																<!-- SHOW WORK UNIT -->
																<span
																	style="display:inline-block;width:1rem;line-height:0.5rem;"
																>
																	{{getWorkIntersect(cat_index,index).unit}}
																</span>
															</td>

															<!-- SHOW BASE PRICE -->
															<td
																class='right-align control'
																:style="(getPricePerUnit(cat_index,index)>=0)?'':'color:darkgray;'"
															>
																{{getBasePrice(cat_index,index).toStringPlaces()}}&nbsp;€
															</td>

															<!-- TAX INPUT -->
															<td
																class='right-align'
																:style="(getPricePerUnit(cat_index,index)>=0)?'':'color:darkgray;'"
															>

																<!-- DISABLE WHEN NO PRICE -->
																<select
																	v-model="project.work_categories[cat_index-1].tax_by_work_id[getWorkIntersect(cat_index,index).id]"
																	v-on:change="quickUpdate()"
																	:disabled="getPricePerUnit(cat_index,index)<0 || !edit_mode"
																	name="tax"
																	class="table-dropdown"
																>
																	<option value="5">5%</option>
																	<option value="10">10%</option>
																	<option value="20">20%</option>
																</select>
															</td>

															<!-- MARGIN INPUT -->
															<td
																class='right-align'
																:style="(getPricePerUnit(cat_index,index)>=0)?'':'color:darkgray;'"
															>

																<!-- DISABLE WHEN NO PRICE -->
																<input
																	v-model="project.work_categories[cat_index-1].margin_by_work_id[getWorkIntersect(cat_index,index).id]"
																	v-on:input="quickUpdate()"
																	:disabled="getPricePerUnit(cat_index,index)<0 || !edit_mode"
																	type="text"
																	class="input-border-bottom-trans"
																	style="width:60%;text-align:right"
																>%
															</td>

															<!-- SHOW PRICE BEFORE TAX -->
															<td
																class='right-align control'
																:style="(getPricePerUnit(cat_index,index)>=0)?'':'color:darkgray;'"
															>
																{{getHTPrice(cat_index,index).toStringPlaces()}}&nbsp;€
															</td>

															<!-- SHOW PRICE AFTER TAX -->
															<td
																class='right-align control'
																:style="(getPricePerUnit(cat_index,index)>=0)?'':'color:darkgray;'"
															>
																<strong>
																	{{getTTCPrice(cat_index,index).toStringPlaces()}}&nbsp;€
																</strong>
															</td>
														</template>

														<!-- SHOW MESSAGE IF NO COMPANIES -->
														<template v-else>
															<td
																colspan="7"
																style="text-align:center;"
															>
																<em>
																	Aucune entreprise avec cette catégorie de travail
																</em>
															</td>
														</template>
													</template>

													<!-- SHOW MESSAGE IF NO WORKS -->
													<template v-else>
														<td
															v-html="(index==1?'<em>Aucun travail dans cette catégorie</em>':'')"
															colspan="7"
															style="text-align:center;"
														></td>
													</template>
												</tr>
											</template>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<!-- ADD WORK CATEGORY BUTTON -->
						<div class="row">
							<div class="col-lg-2 col-md-3">
								<button
									v-if="edit_mode"
									v-on:click="addWorkCategory"
									class="btn btn-white no-padding text-center"
								>
									<div class="btn-img">
										<img class="img-responsive" src="/img/btn-plus-gray.png">
									</div>  &nbsp; Ajouter des Types
								</button>
							</div>
						</div>

						<!-- FILE UPLOAD -->
						<div
							class="upload-box"
						>
							<div
								class="row"
							>

								<!-- PLANS -->
								<div class="upload-box1 col-md-3 col-sm-6">
									<div
										v-if="edit_mode"
										v-on:dragenter="onDragenter($event,'plans')"
										v-on:dragleave="onDragleave($event,'plans')"
										v-on:dragover="function(e){ e.preventDefault(); }"
										v-on:drop="onDrop($event,'plans')"
										:class="{'box-dragover':boxHover.plans}"
										id="plans-box"
										class="box row">
										<div class="col-12">
											<div
												v-if="files.plans.length==0"
												class="row"
											>
												<div class="col-md-4 col-sm-3 col-4"></div>
												<div class="col-md-4 col-sm-6 col-4">
													<img class="img-responsive" src="/img/down-arrow.png">
												</div>
												<div class="col-md-4 col-sm-3 col-4"></div>
												<div class="col-md-12">
													<p class="text-center">Joindre fichiers</p>
												</div>
											</div>
										</div>
										<div class="upload-btn col-12">

											<div
												v-for="(fileItem,index) in files.plans"
												:key="index"
												class="row border-top border-bottom border-primary"
											>
												<div
													class="col-10"
												>

													{{fileItem.name}}

												</div>
												<div
													class="col-2"
												>
													<button
														v-on:click="files.plans.splice(index,1)"
														class="material-icons btn-secondary"
														type="button"
														style="line-height:0"
													>close</button>

												</div>
											</div>

											<div class="row">
												<div class="col-md-7">
													<input
														v-on:change="onFileInput($event,'plans')"
														type="file"
														ref="plansFiles"
														class="d-none"
														id="plans-files"
														multiple
													>
													<button
														v-on:click="$refs.plansFiles.click()"
														class="text-center btn btn-blue btn-block"
													>
														Choisir le fichier
													</button> 
												</div>
												<div class="col-md-5 no-padding">
													<p
														v-if="files.plans.length==0"
														class="text-center"
													>
														Aucun fichier choisi
													</p>	
												</div>
											</div>
										</div>
									</div>
									<p
										v-if="edit_mode"
										class="text-center"
									>
										Plans
									</p>
								</div>

								<!-- PHOTOS -->
								<div class="upload-box1 col-md-3 col-sm-6">
									<div
										v-if="edit_mode"
										v-on:dragenter="onDragenter($event,'photos')"
										v-on:dragleave="onDragleave($event,'photos')"
										v-on:dragover="function(e){ e.preventDefault(); }"
										v-on:drop="onDrop($event,'photos')"
										:class="{'box-dragover':boxHover.photos}"
										id="photos-box"
										class="box row">
										<div class="col-12">
											<div
												v-if="files.photos.length==0"
												class="row"
											>
												<div class="col-md-4 col-sm-3 col-4"></div>
												<div class="col-md-4 col-sm-6 col-4">
													<img class="img-responsive" src="/img/down-arrow.png">
												</div>
												<div class="col-md-4 col-sm-3 col-4"></div>
												<div class="col-md-12">
													<p class="text-center">Joindre fichiers</p>
												</div>
											</div>
										</div>
										<div class="upload-btn col-12">

											<div
												v-for="(fileItem,index) in files.photos"
												:key="index"
												class="row border-top border-bottom border-primary"
											>
												<div
													class="col-10"
												>

													{{fileItem.name}}
													
												</div>
												<div
													class="col-2"
												>
													<button
														v-on:click="files.photos.splice(index,1)"
														class="material-icons btn-secondary"
														type="button"
														style="line-height:0"
													>close</button>

												</div>
											</div>

											<div class="row">
												<div class="col-md-7">
													<input
														v-on:change="onFileInput($event,'photos')"
														ref="photosFiles"
														type="file"
														class="d-none"
														id="photos-files"
														multiple
													>
													<button
														v-on:click="$refs.photosFiles.click()"
														class="text-center btn btn-blue btn-block"
													>
														Choisir le fichier
													</button> 
												</div>
												<div class="col-md-5 no-padding">
													<p
														v-if="files.photos.length==0"
														class="text-center"
													>
														Aucun fichier choisi
													</p>	
												</div>
											</div>
										</div>
									</div>
									<p
										v-if="edit_mode"
										class="text-center"
									>
										Photos
									</p>
								</div>
								
								<div class="col-md-3"></div>

								<div class="col-md-3">
									<div class="row">
										 <div class=" col-md-12">
										    <label class="label no-margin" for="total-ht">Total HT</label>
										    <label required="required" class="input-border-bottom form-control text-right no-margin no-padding">
												{{getTotalHT().toStringPlaces()}}&nbsp;€
										    </label>
									    </div>
										 <div class=" col-md-12">
										    <label class="label no-margin" for="total-ht">Total TVA</label>
										    <label required="required" class="input-border-bottom form-control text-right no-margin no-padding">
												{{getTotalTVA().toStringPlaces()}}&nbsp;€
										    </label>
									    </div>
										 <div class=" col-md-12">
										    <label class="label no-margin" for="total-ht">Total TTC</label>
										    <label required="required" class="input-border-bottom form-control text-right no-margin no-padding">
												{{getTotalTTC().toStringPlaces()}}&nbsp;€
										    </label>
									    </div>
									</div>
								</div>
							</div>

							<!-- PROGRESS AND SAVE BUTTONS -->
							<div
								v-if="!edit_mode"
								class="row"
							>
								<div class="three-btn col-2">
									<button
										v-on:click="showPlansFiles"
										id="compte-rendu"
										class="btn-blue btn btn-block form-btn"
										type="button"
									>
										Vue Plans
									</button>
								</div>

								<div class="three-btn col-2">
									<button
										v-on:click="showPhotosFiles"
										id="compte-rendu"
										class="btn-blue btn btn-block form-btn"
										type="button"
									>
										Vue Photos
									</button>
								</div>

								<div class="col-8">
									<div class="row">
										<div class="three-btn col-3 offset-3">
											<button
												v-on:click="generateReport"
												id="compte-rendu"
												class="btn-blue btn btn-block form-btn"
												type="button"
											>
												Compte Rendu
											</button>
										</div>
										<div class="three-btn col-3">
											<button
												v-on:click="generateContract"
												class="btn-blue btn btn-block form-btn"
												id="offre-contractant"
											>
												Offre contractant
											</button>
										</div>
										<div class="three-btn col-3">
											<button
												v-if="!bill"
												v-on:click="generateBill"
												class="btn-blue btn btn-block form-btn"
												id="generer-la-facture"
											>
												Générer la facture
											</button>
											<button
												v-else
												v-on:click="viewBill"
												class="btn-blue btn btn-block form-btn"
												id="generer-la-facture"
											>
												Vue facture
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
</div>
</template>
<script>
export default {
	props:['common','data'],
	data(){
		return{

			showFiles:false,
            filesTitle:'',
            filesPath:'',

			edit_mode:false,

			retainResultsBox:false,
			showResultsBox:false,
			loadingResults:false,


			generatingPDF:false,
			percentGenerated:0,
			requests:[],


			boxHover:{
				plans:false,
				photos:false
			},

			searchDebounce:false,
			saveDebounce:false,

			client:{

				name:'',
				id:null,
				mobile:'',
				telephone:'',
				email:'',
				address:'',
				city:null,
				postal_code:'',

			},

			search_results:[],

			category_count:1,

			project_id:null,

			bill:null,

			project:{

				id:null,
				name:'',
				client_id:null,
				address:'',
				city:null,
				postal_code:'',
				comments:'',
				description:'',
				objectives:'',
				project_progress_id:null,
				sell_date:'',
				start_date:'',
				end_date:'',
				work_categories:[],

			},

			files:{
				plans:[],
				photos:[]
			},

		}
	},
	watch:{

		data:{

			handler(){
				this.mergeData();
			},
			deep:true

		},

	},
	computed:{
		overwork:{
			cached:false,
			get:function(){
				let el=this;
				let over=0;
				Object.values(el.project.work_categories).forEach(function(category){
					let work_count=Object.values(el.work_categories_by_id[category.work_category_id].works).reduce(function(count){
						return count+1;
					},0);
					if (work_count>3) over+=(work_count-3);
				});
				return over;
			}
		},
		work_categories_by_id(){
			let by_id={};
			Object.values(this.data.work_categories).forEach(function(work_cat){
				by_id[work_cat.id]=work_cat;
			});
			return by_id;
		}
	},
	methods:{
        showPlansFiles(){
            this.filesTitle="Plans";
            this.filesPath="projects/"+ this.project.id +"/plans"
            this.showFiles=true;
        },
        showPhotosFiles(){
            this.filesTitle="Photos";
            this.filesPath="projects/"+ this.project.id +"/photos"
            this.showFiles=true;
        },
		escapeKey(event){
			if (event.keyCode==27){
				window.removeEventListener('keyup',this.escapeKey);
				this.generatingPDF=false;
				this.requests.forEach(request=>request.abort());
			}
		},
		async generateReport(){
			let categories=[];
			let ht=this.getTotalHT().toStringPlaces();
			let tva=this.getTotalTVA().toStringPlaces();
			let ttc=this.getTotalTTC().toStringPlaces();
			let tax_percent=this.getTotalTVA().dividedBy(this.getTotalHT()).times(100).toStringPlaces().replace(/,0{2,}$/,'');
			let taxes_categorized={5:Decimal(0),10:Decimal(0),20:Decimal(0)};
			for (let i=1;i<=this.category_count;i++){

				let temp={};
				temp.id=this.project.work_categories[i-1].work_category_id;
				temp.name=this.work_categories_by_id[this.project.work_categories[i-1].work_category_id].name;
				temp.comments=this.project.work_categories[i-1].comments;
				temp.price=new Decimal(0);
				temp.works=[];
				temp.quantities=[];
				temp.units=[];

				for (let j=1;j<=this.getNumberOfWorks(i);j++){

					if (!this.hasPrice(i,j)) continue;
					let work_quantity=this.project.work_categories[i-1].quantity_by_work_id[this.work_categories_by_id[this.project.work_categories[i-1].work_category_id].works[j-1].id];
					let work_tax=this.project.work_categories[i-1].tax_by_work_id[this.work_categories_by_id[this.project.work_categories[i-1].work_category_id].works[j-1].id];
					if (!work_quantity) continue;
					temp.works.push(this.getWorkIntersect(i,j).name);
					temp.quantities.push(Decimal(work_quantity).toStringPlaces());
					temp.units.push(this.getWorkIntersect(i,j).unit)
					temp.price=temp.price.plus(this.getHTPrice(i,j));
					taxes_categorized[work_tax]=taxes_categorized[work_tax].plus(this.getTTCPrice(i,j).minus(this.getHTPrice(i,j)))
				}

				temp.price=temp.price.toStringPlaces();
				if (!temp.works.length) continue;
				categories.push(temp);
				
			}

			taxes_categorized[5]=taxes_categorized[5].valueOf()?taxes_categorized[5].toStringPlaces():0;
			taxes_categorized[10]=taxes_categorized[10].valueOf()?taxes_categorized[10].toStringPlaces():0;
			taxes_categorized[20]=taxes_categorized[20].valueOf()?taxes_categorized[20].toStringPlaces():0;

						let el=this;
						let requests=[]
						let percentRequiredArray=[0,0,0,0,0]
						let percentCompleteArray=[0,0,0,0,0];
						let resourcesLoaded=[false,false,false,false,false]
						let resources=[
							'/api/files/resource?path=client_info.pdf',
							'/api/files/resource?path=lots_sheet.pdf',
							'/api/files/resource?path=context.pdf',
							'/api/files/resource?path=payment_terms_report.pdf',
							'/api/files/resource?path=compte_rendu.pdf'
						];

						function tryDone(){
							if (resourcesLoaded.reduce(function(loaded,state){
								if (!state){
									loaded=false;
								}
								return loaded;
							},true)){
								el.generatingPDF=false;
								el.$parent.generateReport(
									el.project,
									el.client,
									categories,
									ht,
									tva,
									ttc,
									tax_percent,
									taxes_categorized
								);
							}
						}

						this.percentGenerated=0;
						this.generatingPDF=true;

						for (let i=0;i<resources.length;i++){
							percentRequiredArray[i] = await axios.head(resources[i]+'&v='+window.serverAppVersion).then(response=>parseInt(response.headers['content-length']));
						}

						resources.forEach((resource,i)=>{
							let req = new XMLHttpRequest();
							el.requests[i]=req;
							req.addEventListener("progress", function(event) {
								if (event.lengthComputable) {
									percentCompleteArray[i]=event.loaded;
									el.percentGenerated=100*(percentCompleteArray.reduce(function(totPer,percent){
										totPer+=percent;
										return totPer;
									},0)/percentRequiredArray.reduce(function(totPer,percent){
										totPer+=percent;
										return totPer;
									},0));
								}
							}, false);

							req.addEventListener("load", function(event) {
								resourcesLoaded[i]=true;
								tryDone();
							}, false);

							req.open("GET",resource+'&v='+window.serverAppVersion);
							req.send();

						})

						window.addEventListener('keyup',this.escapeKey);

		},
		async generateContract(){
			let categories=[];
			let ht=this.getTotalHT().toStringPlaces();
			let tva=this.getTotalTVA().toStringPlaces();
			let ttc=this.getTotalTTC().toStringPlaces();
			let tax_percent=this.getTotalTVA().dividedBy(this.getTotalHT()).times(100).toStringPlaces().replace(/,0{2,}$/,'');
			let taxes_categorized={5:Decimal(0),10:Decimal(0),20:Decimal(0)};
			for (let i=1;i<=this.category_count;i++){

				let temp={};
				temp.id=this.project.work_categories[i-1].work_category_id;
				temp.name=this.work_categories_by_id[this.project.work_categories[i-1].work_category_id].name;
				temp.comments=this.project.work_categories[i-1].comments;
				temp.price=new Decimal(0);
				temp.works=[];
				temp.quantities=[];
				temp.units=[];

				for (let j=1;j<=this.getNumberOfWorks(i);j++){

					if (!this.hasPrice(i,j)) continue;
					let work_quantity=this.project.work_categories[i-1].quantity_by_work_id[this.work_categories_by_id[this.project.work_categories[i-1].work_category_id].works[j-1].id];
					let work_tax=this.project.work_categories[i-1].tax_by_work_id[this.work_categories_by_id[this.project.work_categories[i-1].work_category_id].works[j-1].id];
					if (!work_quantity) continue;
					temp.works.push(this.getWorkIntersect(i,j).name);
					temp.quantities.push(Decimal(work_quantity).toStringPlaces());
					temp.units.push(this.getWorkIntersect(i,j).unit)
					temp.price=temp.price.plus(this.getHTPrice(i,j));
					taxes_categorized[work_tax]=taxes_categorized[work_tax].plus(this.getTTCPrice(i,j).minus(this.getHTPrice(i,j)))
				}

				temp.price=temp.price.toStringPlaces();
				if (!temp.works.length) continue;
				categories.push(temp);
				
			}

			taxes_categorized[5]=taxes_categorized[5].valueOf()?taxes_categorized[5].toStringPlaces():0;
			taxes_categorized[10]=taxes_categorized[10].valueOf()?taxes_categorized[10].toStringPlaces():0;
			taxes_categorized[20]=taxes_categorized[20].valueOf()?taxes_categorized[20].toStringPlaces():0;

						let el=this;
						let requests=[]
						let percentRequiredArray=[0,0,0,0,0,0,0]
						let percentCompleteArray=[0,0,0,0,0,0,0];
						let resourcesLoaded=[false,false,false,false,false,false,false]
						let resources=[
							'/api/files/resource?path=client_info.pdf',
							'/api/files/resource?path=lots_sheet.pdf',
							'/api/files/resource?path=context.pdf',
							'/api/files/resource?path=payment_terms_contract.pdf',
							'/api/files/resource?path=compte_rendu.pdf',
							'/api/files/resource?path=offre_contractant.pdf',
							'/api/files/resource?path=relation.pdf'
						];

						function tryDone(){
							if (resourcesLoaded.reduce(function(loaded,state){
								if (!state){
									loaded=false;
								}
								return loaded;
							},true)){
								el.generatingPDF=false;
								el.$parent.generateContract(
									el.project,
									el.client,
									categories,
									ht,
									tva,
									ttc,
									tax_percent,
									taxes_categorized
								);
							}
						}

						this.percentGenerated=0;
						this.generatingPDF=true;

						for (let i=0;i<resources.length;i++){
							percentRequiredArray[i] = await axios.head(resources[i]+'&v='+window.serverAppVersion).then(response=>parseInt(response.headers['content-length']));
						}

						resources.forEach((resource,i)=>{
							let req = new XMLHttpRequest();
							el.requests[i]=req;
							req.addEventListener("progress", function(event) {
								if (event.lengthComputable) {
									percentCompleteArray[i]=event.loaded;
									el.percentGenerated=100*(percentCompleteArray.reduce(function(totPer,percent){
										totPer+=percent;
										return totPer;
									},0)/percentRequiredArray.reduce(function(totPer,percent){
										totPer+=percent;
										return totPer;
									},0));
								}
							}, false);

							req.addEventListener("load", function(event) {
								resourcesLoaded[i]=true;
								tryDone();
							}, false);

							req.open("GET",resource+'&v='+window.serverAppVersion);
							req.send();

						})

						window.addEventListener('keyup',this.escapeKey);
		},
		generateBill(){
			let el=this;
			
			function confirmedGenerate(){

				el.$root.startLoading();
				$.ajax({
					url:'/api/bills',
					method:'post',
					dataType:"json",
					data:{
						data:{
							project_id:el.project_id
						},
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						let url=data.url;
						let id=data.id;
						let success=function(){
							pushHistory(url,"Vue Facture");
							// UNDEBOUNCE
							el.saveDebounce=false;
						};
						el.$root.doneLoading();
						el.$root.$refs.app.navigateShow('bills',id,false,success,false);
					},
					error(response){
											el.discardEdits();
						el.$root.failHandler(response);
						// UNDEBOUNCE
						el.saveDebounce=false;
					}
				});
			}

			window.launchModal('Générer la facture finale ?','Êtes-vous sûr de vouloir générer la facture finale pour ce projet ?',()=>{},confirmedGenerate);

		},
		viewBill(){
			let el=this;
			let id=this.bill.id;
			let url='/bills/'+id;
			let success=function(){
				pushHistory(url,"Vue Facture");
			};
			el.$root.$refs.app.navigateShow('bills',id,false,success,false);
		},
		onDragenter(event,target){
			if (!event.relatedTarget || event.relatedTarget.classList.contains("box")){
				this.boxHover[target]=true;
			}
		},
		onDragleave(event,target){
			if (!event.relatedTarget || event.relatedTarget.classList.contains("box")){
				this.boxHover[target]=false;
			}
		},
		onDrop(event,target){
			event.preventDefault();
			this.$refs[target+'Files'].files=event.dataTransfer.files;
			this.files[target]=this.files[target].concat(Object.values(event.dataTransfer.files));
			this.boxHover[target]=false;
			this.quickUpdate();                    
		},
		onFileInput(event,target){
			this.files[target]=this.files[target].concat(Object.values(this.$refs[target+'Files'].files));
			this.quickUpdate();
		},
		enterIndexMode(event){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href')
				el.$emit('enterIndexMode',function(){
					pushHistory(url,'Projets');
				});
            });
            
        },
		getWorkIntersect(cat_index,index){
			return this.work_categories_by_id[this.project.work_categories[cat_index-1].work_category_id].works[index-1];
		},
		getCompanyId(cat_index){
			return this.project.work_categories[cat_index-1].company_id;
		},
		hasPrice(cat_index,index){
			let work=this.getWorkIntersect(cat_index,index);
			let company_id=this.getCompanyId(cat_index);
			let priceList=work.prices.filter(function(price){
				if (price.company_id==company_id) return true;
				else return false;
			});
			if (priceList[0]!=null) return true;
			else return false;
		},
		getPricePerUnit(cat_index,index){
			let work=this.getWorkIntersect(cat_index,index);
			let company_id=this.getCompanyId(cat_index);
			let priceList=work.prices.filter(function(price){
				if (price.company_id==company_id) return true;
				else return false;
			});
			let price=priceList[0]?new Decimal(priceList[0].price_per_unit):new Decimal(-1);
			return price;
		},
		getBasePrice(cat_index,index){
			let work=this.getWorkIntersect(cat_index,index);
			let price=this.getPricePerUnit(cat_index,index);
			let quantity=this.project.work_categories[cat_index-1].quantity_by_work_id[work.id]?
				new Decimal(this.project.work_categories[cat_index-1].quantity_by_work_id[work.id]):
				new Decimal(0);
			return price.times(quantity);
		},
		getHTPrice(cat_index,index){
			let work=this.getWorkIntersect(cat_index,index);
			let margin=this.project.work_categories[cat_index-1].margin_by_work_id[work.id]?
				new Decimal(this.project.work_categories[cat_index-1].margin_by_work_id[work.id]).times(new Decimal('0.01')).plus(new Decimal('1')):
				new Decimal(1);
			let prelimPrice=this.getBasePrice(cat_index,index);
			return prelimPrice.times(margin);
		},
		getTTCPrice(cat_index,index){
			let work=this.getWorkIntersect(cat_index,index);
			let tax=this.project.work_categories[cat_index-1].tax_by_work_id[work.id]?
				new Decimal(this.project.work_categories[cat_index-1].tax_by_work_id[work.id]).times(new Decimal('0.01')).plus(new Decimal('1')):
				new Decimal(1);
			let htPrice=this.getHTPrice(cat_index,index);
			return htPrice.times(tax);
		},
		getTotalHT(){
			let total=new Decimal('0');
			for (let cat_index=1;cat_index<=this.category_count;cat_index++){
				let work_count=this.getNumberOfWorks(cat_index);
				for (let index=1;index<=work_count;index++){
					total=total.plus(this.getHTPrice(cat_index,index));
				}
			}
			return total;
		},
		getTotalTTC(){
			let total=new Decimal('0');
			for (let cat_index=1;cat_index<=this.category_count;cat_index++){
				let work_count=this.getNumberOfWorks(cat_index);
				for (let index=1;index<=work_count;index++){
					total=total.plus(this.getTTCPrice(cat_index,index));
				}
			}
			return total;
		},
		getTotalTVA(){
			return this.getTotalTTC().minus(this.getTotalHT());
		},
		getNumberOfWorks(cat_index){
			let work_category_id=this.project.work_categories[cat_index-1].work_category_id;
			return this.work_categories_by_id[work_category_id].works.length;
		},
		addWorkCategory(){
			let el=this;
			let nextUp=Object.values(el.data.work_categories).filter(function(category){
				return Object.values(el.project.work_categories).reduce(function(isNotDone,done,i,arr){
					if(done.work_category_id==category.id){
						isNotDone=false;
						arr.splice(1);
					}
					return isNotDone;
				},true);
			});
			nextUp=nextUp[0]?nextUp[0].id:1;
			let primer_work_category_id=this.work_categories_by_id[nextUp].id;
			this.project.work_categories[this.category_count]={
				work_category_id:primer_work_category_id,
				comments:null,
			};
			this.category_count++;
			this.sanitize(this.category_count);
		},
		removeWorkCategory(cat_index){
			cat_index--;
			let newob=[]
			let base=this.project.work_categories;
            Object.keys(base).forEach(function(key){
                if (cat_index!=key) newob.push(base[key]);
            });
            this.project.work_categories=Object.assign({},newob);
            this.category_count--;
            this.$nextTick(this.$forceUpdate);
		},
		searchClient(){
			let el=this;
			let splitter=/\s+/;

			if (this.searchDebounce){
				window.clearTimeout(this.searchDebounce);
			}
			
			el.showResultsBox=true;
			el.loadingResults=true;
			this.searchDebounce=window.setTimeout(function(){
				
				let query='?';
				el.client.name.split(splitter).forEach(function(q){
					query+='q[]='+q+'&';
				});

				$.ajax({
					url:'/api/prospects/search'+query,
					method:'get',
					dataType:"json",
					success:function(data){
						el.search_results=data.result;
						el.loadingResults=false;
						el.$nextTick(el.$forceUpdate());
					},
					error:function(){
						el.dislodgeResults();
					}
				});

			},500);
		},
		selectClient(client){
			this.dislodgeResults();
			this.project.client_id=client.id;
			this.client.name=client.full_name;
			this.client.mobile=client.mobile;
			this.client.telephone=client.telephone;
			this.client.email=client.email;

			if (this.project.address || this.project.city || this.project.postal_code){
				launchModal('Utiliser l\'adresse du client ?','Souhaitez-vous utiliser l\'adresse du client pour ce projet ?',()=>{},()=>{
					this.project.address=client.address;
					this.project.city=client.city;
					this.project.postal_code=client.postal_code;
				});
			}else{
				this.project.address=client.address;
				this.project.city=client.city;
				this.project.postal_code=client.postal_code;
			}

		},
		dislodgeResults(event=null){
			if(this.retainResultsBox) return;
			if(event&&event.relatedTarget&&event.relatedTarget.getAttribute('class')=='result-item') return;	
			if (this.searchDebounce){
				window.clearTimeout(this.searchDebounce);
			}
			this.showResultsBox=false;
			this.loadingResults=false;
		},
        enableEdit(){
            
						Object.values(this.project.work_categories).forEach((category,index)=>{
							Object.values(this.work_categories_by_id[category.work_category_id].works).forEach((work)=>{
								if (!this.project.work_categories[index].tax_by_work_id[work.id]){
									this.project.work_categories[index].tax_by_work_id[work.id]=5;
								}
								if (!this.project.work_categories[index].margin_by_work_id[work.id]){
									this.project.work_categories[index].margin_by_work_id[work.id]=5;
								}
							})
						});
            this.edit_mode=true;

        },
        discardEdits(){

            this.mergeData();
            this.edit_mode=false;

        },
		uploadFiles(id, callback){
			if (this.files.plans.length>0 || this.files.photos.length>0){
				let data=new FormData();
				data.append('_token',document.querySelector('meta[name="csrf-token"]').getAttribute('content'));
				data.append('target_entity_type','projects');
				data.append('target_entity_id',id);

				//	append plans
				this.files.plans.forEach(function(file){
					data.append('files_plans_files[]',file);
				});

				//	append photos
				this.files.photos.forEach(function(file){
					data.append('files_photos_files[]',file);
				});

				$.ajax({
					url : '/api/files/upload',
					type : 'POST',
					data,
					processData: false,
					contentType: false,
					success(resonse){
						callback();
					},
					error(response){
						callback();
					}
				});

			} else {

				callback();

			}
		},
		saveProject(event){

			// DEBOUNCE
			if (this.saveDebounce){
				event.preventDefault();
				event.stopImmediatePropagation();
				return;
			}
			
			this.edit_mode=false;

			this.saveDebounce=true;

			let pro=this.project;

			handleClick(this,event,function(el,e){
				el.$root.startLoading();
				$.ajax({
					url:'/api/projects',
					method:'patch',
					dataType:"json",
					data:{
						data:Object.assign(el.project,{total_ttc:el.getTotalTTC().toFixed(2)}),
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						let url=data.url;
						let id=data.id;
						el.uploadFiles(id,function(){
							el.$root.doneLoading();
							el.$emit('enterShowMode',id,false,function(){
								pushHistory(url,"Vue Projet");
								// UNDEBOUNCE
								el.saveDebounce=false;
							});

						});
					},
					error(response){
						el.edit_mode=true;
						el.$root.failHandler(response);
						el.saveDebounce=false;
					}
				});
			});
		},
		quickUpdate(){
			this.$nextTick(this.$forceUpdate());
		},
		sanitize(cat_index){
			let cat_id=this.project.work_categories[cat_index-1].work_category_id;
			Object.assign(this.project.work_categories[cat_index-1],{
				company_id:this.work_categories_by_id[cat_id].companies[0]?
					this.work_categories_by_id[cat_id].companies[0].id:
					null,
				quantity_by_work_id:{},
				tax_by_work_id:Object.assign(
					{},
					this.work_categories_by_id[cat_id].works.reduce(function(arr,work){
						arr[work.id]=5;
						return arr;
					},{})
				),
				margin_by_work_id:Object.assign(
					{},
					this.work_categories_by_id[cat_id].works.reduce(function(arr,work){
						arr[work.id]=30;
						return arr;
					},{})
				)
			});
			this.quickUpdate();
		},
		sanitize_leaveCompany(cat_index){
			let cat_id=this.project.work_categories[cat_index-1].work_category_id;
			Object.assign(this.project.work_categories[cat_index-1],{
				quantity_by_work_id:{},
				tax_by_work_id:Object.assign(
					{},
					this.work_categories_by_id[cat_id].works.reduce(function(arr,work){
						arr[work.id]=5;
						return arr;
					},{})
				),
				margin_by_work_id:Object.assign(
					{},
					this.work_categories_by_id[cat_id].works.reduce(function(arr,work){
						arr[work.id]=30;
						return arr;
					},{})
				)
			});
			this.quickUpdate();
		},
		mergeData(){

			this.edit_mode=this.data.edit_mode||false;

			this.project_id=this.data.project_id;
			
			let project=this.data.project[this.project_id];

			this.project.id=project.id;
			this.project.name=project.name;
			this.project.client_id=project.customer_id;
			this.project.address=project.address;
			this.project.city=project.city;
			this.project.postal_code=project.postal_code;
			this.project.comments=project.comments;
			this.project.description=project.description;
			this.project.objectives=project.objectives;
			this.project.project_progress_id=project.project_progress_id;
			this.project.sell_date=project.sell_date;
			this.project.start_date=project.start_date;
			this.project.end_date=project.end_date;

			let work_categories=[];

			project.work_category_comments.forEach(function(item){
				let margin_by_work_id={};
				let quantity_by_work_id={};
				let tax_by_work_id={};
				Object.values(project.prices).forEach(function(price){
					if (price.work_comment_id==item.id){
						margin_by_work_id[price.work_id]=parseFloat(price.margin.toString());
						quantity_by_work_id[price.work_id]=parseFloat(price.quantity.toString());
						tax_by_work_id[price.work_id]=parseInt(price.tax);
					}
				});

				work_categories.push({
					comments:item.comments,
					company_id:item.company_id,
					work_category_id:item.work_category_id,
					margin_by_work_id,
					quantity_by_work_id,
					tax_by_work_id
				});
			});

			this.project.work_categories=Object.assign({}, work_categories);
			this.category_count=Object.keys(this.project.work_categories).length;

			let client=project.customer;

			this.client.name=client.full_name;
			this.client.id=client.id;
			this.client.mobile=client.mobile;
			this.client.telephone=client.telephone;
			this.client.email=client.email;
			this.client.address=client.address;
			this.client.city=client.city;
			this.client.postal_code=client.telephone;

			this.bill=project.bill;

			this.quickUpdate();

		}
	},
	created(){

		this.mergeData();

	}

	
}
</script>
<style>

input.right-align, td.right-align{
	text-align:right;
}

.control{
	margin:0 !important;
	padding:0 !important;
	padding-right:5px !important;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2.7rem;
}

.input-control{
	font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.fill{
	width:100%;
}

.removeCategoryButton{
	position: absolute;
    -webkit-transform: translate(-1rem, -100%);
    transform: translate(-0.3rem, -250%);
    background: #60000055;
    outline: none;
    border: 0 none;
    color: #99452b;
    font-size: 0.7rem;
    border-radius: 0.6rem;
	padding:0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.group-dark{
	background-color:#e8e8e4 !important;
}

.results-box{
	background: white;
    position: absolute;
    height: auto;
    display: inline-block;
    clear: both;
    z-index: 1;
    width: 80%;
    border-left: 4px solid #4c8aa1;
    border-bottom: 1px solid;
    box-shadow: 3px 3px 6px 0px grey;
}

.result-item{
	padding: 0.4rem;
    box-sizing: border-box;
}

.result-item:hover{
	background-color: #4c8aa1;
}

.box{
	transition: transform 0.3s;
}

.box-dragover{
	transform:scale(1.1);
}


.lds-dual-ring {
  position: absolute;
  display: inline-block;
  width: 64px;
  height: 64px;
  left:50%;
  top:50%;
  transform:translate(50%,50%);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #4c8aa1;
  border-color: #4c8aa1 transparent #4c8aa1 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.generating{
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0009;
    z-index: 1001;
    top: 0;
    left: 0;
	color:whitesmoke;
}

.gentext{
  position: absolute;
  display: inline-block;
  left:50%;
  top:45%;
  text-align: center;
}

.gen-enter-active{
	transition: opacity 0.3s ease-in-out;
	opacity:1;
}

.gen-enter, .gen-fade-to .gen-leave-active{
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

</style>
