<template>
    <div class="projets col-12">
        <StatusWindow
            v-if="showStatusModal"
            @close="showStatusModal=false"
            :title="showStatusTitle"
            :contents="showStatusContents"
        />
        <div class="title-label row">
            <div class="col-md-10">
                <h2>Listing des projets</h2>
            </div>
            <div class="col-md-2">
                <div class="float-right">
                    <a v-on:click="enterCreateMode" href="/projects/create">
                        <button class="btn-sm btn btn-blue" style="width: 100px;">
                            <div class="btn-img">
                                <img class="img-responsive" src="/img/btn-plus.png">
                            </div> Ajouter
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <!-- START TABLEAU PROJETS -->
        <div class="projets-table row">
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Client</th>
                            <th>Email </th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th>Etat</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="project in projects[current_page]"
                            v-on:click="enterShowMode($event, false, project.id)"
                            :key="project.id"
                            :href="'/projects/'+project.id"
							:style="keepHover[project.id]?{color: '#fff',backgroundColor: '#43859d'}:null"
                        >
                            <td>{{project.name}}</td>
                            <td>{{project.customer.full_name}}</td>
                            <td>{{project.customer.email}}</td>
                            <td>{{project.customer.mobile}}</td>
                            <td>{{project.address}} {{project.city}}</td>
                                <td>
                                    <div class="circle-check">
                                        <span
                                            v-for="(progress,index) in project_progresses_by_order"
                                            :key="progress.id"
                                            :title="progress.name"
                                            :class="{'checked':index<=project.project_progress.order}"
                                            data-toggle="tooltip"
                                            class="dot"
                                        >
                                        </span>
                                    </div>
                            </td>
                            <td style="width:10%">
                                <div class="action-btn">
                                    <button
                                        @click="showStatus($event,project)"
                                        type="button"
                                        class="table-btn"
                                    >
                                        <img class="img-responsive" src="/img/check-list.png">
                                    </button>
                                    <button
                                        @click="promptDelete($event,project.id,project.name)"
                                        class="table-btn"
                                    >
                                        <img class="img-responsive" src="/img/delete.png">
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
			<nav aria-label="...">
				<ul class="pagination">
					<li v-bind:class="{'disabled':(current_page==1)}" class="page-item">
					<a v-on:click="pageNavigate" :href="'/projects?page='+(current_page-1)" class="page-link" v-bind:page-number="current_page-1">Précédent</a>
					</li>

					<li v-for="page in last_page" :key="page" v-bind:class="{'disabled':(page==current_page)}" class="page-item">
						<a v-if="page!=current_page" v-on:click="pageNavigate" v-bind:href="'/projects?page='+page" class="page-link" v-bind:page-number="page">{{page}}</a>
						<span v-if="page==current_page" class="page-link">{{page}}</span>
					</li>

					<li v-bind:class="{'disabled':(current_page==last_page)}" class="page-item">
					<a v-on:click="pageNavigate" :href="'/projects?page='+(current_page-(-1))" class="page-link" v-bind:page-number="current_page-(-1)" >Suivant</a>
					</li>
				</ul>
			</nav>
        </div>
    </div>
</template>
<script>
export default {
    props:{
		common:{},
		data:{

            current_page:null
            
		}
	},
	data(){
		return{

            showStatusModal:false,
            showStatusTitle:'',
            showStatusContents:'',

			keepHover:{},

			current_page:null,
			last_page:null,
			projects:[],
			hash:[]

		}
	},
	watch:{

		data:{

			handler(){
				this.mergeData();
			},
			deep:true

		},

    },
    computed:{
        project_progresses_by_id(){
            let by_id={};
            Object.values(this.common.project_progresses).forEach(function(progress){
                by_id[progress.id]=progress;
            });
            return by_id;
        },
        project_progresses_by_order(){
            let by_order={};
            Object.values(this.common.project_progresses).forEach(function(progress){
                by_order[progress.order]=progress;
            });
            return by_order;
        }

    },
	methods:{
		enterIndexMode(){
			let el=this;
			this.$emit('enterIndexMode',function(){
				el.mergeData();
			},this.current_page);
		},
		enterCreateMode(event){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterCreateMode',function(){
					pushHistory(url,'Ajout Project');
				});
			});
		},
		enterShowMode(event,edit, id){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterShowMode',id,edit,function(){
					pushHistory(url,'Vue Projet');
				});
			});

		},
		pageNavigate(event){
			handleClick(this,event,function(el,e){

				let page=e.currentTarget.getAttribute('page-number');

				if(page==el.current_page||page<1||page>el.last_page) return;
				
				el.$root.startLoading();

				let url=e.currentTarget.getAttribute('href');

				el.$parent.fetchIndexData(el.$parent,page,function(){
					el.$root.doneLoading();
					pushHistory(url,'Projets');
				});

			});
        },
        showStatus(event,project){
            event.preventDefault();
            event.stopImmediatePropagation();
            let states=[
                'inachevé',
                'inachevé',
                'inachevé',
                'inachevé',
                'inachevé'
            ];
            for (let i=0; i<project.project_progress.order; i++){
                states[i]='fini';
            }
            this.showStatusTitle=project.name;
            this.showStatusContents=`
<table class="table">
  <thead>
    <tr>
      <th scope="col">Etat</th>
      <th scope="col">Statut</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Commencé</td>
      <td>${states[0]}</td>
    </tr>
    <tr>
      <td>Compte rendu</td>
      <td>${states[1]}</td>
    </tr>
    <tr>
      <td>Estimatif</td>
      <td>${states[2]}</td>
    </tr>
    <tr>
      <td>Offre contractant</td>
      <td>${states[3]}</td>
    </tr>
    <tr>
      <td>Fini</td>
      <td>${states[4]}</td>
    </tr>
  </tbody>
</table>
            `
            this.showStatusModal=true;
        },
        promptDelete(event,id,name){
			event.stopImmediatePropagation();
			let el=this;
			this.keepHover[id]=true;
			this.$nextTick(this.$forceUpdate());
			let deleter=function(){
				el.$root.startLoading();
				$.ajax({
                url:'/api/projects?id='+id,
                method:'delete',
				dataType:"json",
                data:{
                    _token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                success(data){
					el.$root.doneLoading();
                    el.$emit('enterIndexMode',function(){
                        el.mergeData();
                    },this.current_page);
                },
                error(response){
					
					el.$root.failHandler(response);
					
                }
            });
			}
			launchModal(
				'Confirmation de suppression',
				'Êtes vous sûr de bien vouloir supprimer le projet "'+name+'"?',
				function(){el.keepHover[id]=false; el.$nextTick(el.$forceUpdate());},
				deleter
			);
		},
		mergeData(){

			this.current_page=this.data.current_page;
			this.last_page=this.data.last_page;
            this.projects[this.current_page]=this.data.projects[this.current_page];
            this.$nextTick(this.$forceUpdate());

		}
	},
	created(){

		this.mergeData();

	}
}
</script>
