<template>
<div class="col-12">
					<div class="ajout-projets form2" ref="test">
						<div class="title-label row">
							<div class="col-md-10 col-sm-9">
								<h2>Ajout projet</h2>
							</div>
							<div class="col-md-2 col-sm-3">
								<div class="btn-circle">
									<button class="btn-sm btn btn-circle-white">
										<a v-on:click="enterIndexMode" href="/projects"><img class="img-responsive rounded" src="/img/arrow-left.png"></a>
									</button>
								</div>
							</div>
						</div>

						<!-- PROJECT DETAILS -->
						<div class="form-group row">
							<div class="col-md-6">
								<div class="row">
									 <div class=" col-md-12">

										 <!-- PROJECT NAME -->
									    <label class="label">Nom projet</label>
									    <input 
											v-model="project.name"
											type="text"
											required="required"
											class="input-text input-border-bottom form-control"
										>
								    </div>
								</div>
								<div class="row">
									 <div class=" col-md-12">

										<!-- PROJECT ADDRESS -->
									    <label class="label">Addresse</label>
									    <input
											v-model="project.address"
											type="text"
											required="required"
											class="input-text input-border-bottom form-control"
										>
								    </div>
								</div>
								<div class="row">
									 <div class=" col-md-6">
									    <label class="label">Ville</label>
									    <input
											v-model="project.city"
											type="text"
											required="required"
											class="input-text input-border-bottom form-control"
										>
								    </div>
									 <div class=" col-md-6">

										<!-- PROJECT POSTAL CODE -->
									    <label class="label" for="adresse">Code postal</label>
									    <input
											v-model="project.postal_code"
											type="text"
											required="required"
											class="input-text input-border-bottom form-control"
										>
								    </div>
								</div>
								<div class="row">
									<div class=" col-md-12">

										<!-- PROJECT COMMENTS -->
										<label class="label" for="synthese-contexte">Synthèse contexte</label>
									    <textarea
											v-model="project.comments"
											class="input-text input-border-bottom form-control"
											rows="5"
										>

										</textarea>
								    </div>
								</div>
								<div class="row">
									<div class=" col-md-12">

										<!-- PROJECT DESCRIPTION -->
										<label class="label" for="description">Descriptif de votre projet</label>
									    <textarea
											v-model="project.description"
											class="input-text input-border-bottom form-control"
											rows="5"
										>

										</textarea>
								    </div>
								</div>


								
							</div>
							<!-- END LEFT COLUMN OF FORM -->

							<!-- START RIGHT COLUMN OF FORM -->
							<div class="col-md-6">
								<div class="row">
									 <div
										v-on:focusout="dislodgeResults"
									 	class=" col-md-12"
									>
									    <label class="label" for="nom-client">Client</label>

										<!-- CLIENT SEARCH AND NAME BOX -->
									    <input
											v-model="client.name"
											v-on:keyup="searchClient"
											type="text"
											required="required"
											class="input-text input-border-bottom form-control"
											id="nom-client"
										>
										
										<!-- CLIENT SEARCH RESULTS BOX -->
										<div
											v-show="showResultsBox"
											class="results-box"
										>
											<div v-if="showLoading" class="lds-ripple"><div></div><div></div></div>
											<div v-else-if="search_results.length==0" class="result-item-inactive">Aucun résultat</div>
											<div
												v-for="client in search_results"
												v-on:click="selectClient(client)"
												:key="client.id"
												class="result-item"
												tabindex="0"
											>
												<span>{{client.full_name}}</span>
												<span>{{client.status==1?'(Prospect)':'(Client)'}}</span>
												<span style="float:right;">#{{client.id.toString().padStart(4,0)}}</span>
											</div>
										</div>
								    </div>
								</div>
								<div class="row">
									<div class="  col-md-6">
										<label class="label">Téléphone mobile</label>
									    <input
											:value="client.mobile"
											disabled
											class="input-text input-border-bottom form-control"
											>
									</div>
								    <div class=" col-md-6">
									    <label class="label">Téléphone fixe</label>
									    <input
											:value="client.telephone"
											disabled
											class="input-text input-border-bottom form-control"
										>
								    </div>
								</div>
								<div class="row">
									<div class="  col-md-12">
										<label class="label">Email</label>
									    <input
											:value="client.email"
											disabled
											class="input-text input-border-bottom form-control"
										>
									</div>
								</div>
								<div class="row">
									<div class=" col-md-12">

										<!-- PROJECT OBJECTIVES -->
										<label class="label" for="synthese-contexte">Objectifs</label>
									    <textarea
											v-model="project.objectives"
											class="input-text input-border-bottom form-control"
											rows="5"
										>

										</textarea>
								    </div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label class="label" for="type">Statut</label>
									    <select
											v-model="project.project_progress_id"
											class="input-text input-border-bottom form-control"
											id="type"
										>
										    <option
												v-for="project_progress in common.project_progresses"
												:key="project_progress.id"
												:value="project_progress.id"
											>
											{{project_progress.name}}
											</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<label class="label" for="type">Date</label>
									    <DatePick
											name="sell_date"
											v-model="project.sell_date"
											v-on:change="function(e){project.sell_date=e; $nextTick($forceUpdate);}"
										/>
									</div>
									<div class="col-md-4">
										<label class="label" for="type">Date de début</label>
									    <DatePick
											name="start_date"
											v-model="project.start_date"
											v-on:change="function(e){project.start_date=e; $nextTick($forceUpdate);}"
										/>
									</div>
									<div class="col-md-4">
										<label class="label" for="type">Date de fin</label>
									    <DatePick
											name="end_date"
											v-model="project.end_date"
											v-on:change="function(e){project.end_date=e; $nextTick($forceUpdate);}"
										/>
									</div>
								</div>
							</div>
						</div>

						<!-- WORK CATEGORIES, WORKS, AND COMPANIES -->
						<div class="table-ajout-projet row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-condensed">
										<thead>
											<tr>
												<th style="width:20%;">Lot</th>
												<th style="width:30%;">Désignation</th>
												<th style="width:5%;min-width:8rem;">Unités</th>
												<th style="width:10%;">Prix&nbsp;Achat</th>
												<th style="width:1%;">TVA</th>
												<th style="width:5%;">Marge</th>
												<th style="width:10%;">Prix&nbsp;vente</th>
												<th style="width:10%;">Total&nbsp;Ligne</th>
											</tr>
										</thead>
										<tbody>
											
											<!-- SECTION PER CATEGORY -->
											<template
												v-for="cat_index in category_count"
											>

												<!-- REPEAT ROW PER WORK OR MIN 3 TIMES -->
												<tr v-for="index in (getNumberOfWorks(cat_index)>3?getNumberOfWorks(cat_index):3)" :key="cat_index+''+index" :class="{'group-dark':cat_index%2==0}">

													<!-- WORK CATEGORY SELECTOR (ONLY SHOWS WHEN FIRST ROW OF SECTION) -->
													<td
														v-if="index==1"
														class="input-control"
													>
														<div style="margin:0;padding:0;width:100%;height:100%">
															<select
																v-model="project.work_categories[cat_index-1].work_category_id"
																v-on:change="sanitize(cat_index)"
																name="work_category_id"
																class="fill table-dropdown"
															>
																<!-- OPTION LIST ALL WORK CATEGORIES -->
																<option
																	v-for="category in work_categories_by_id"
																	:key="cat_index+''+category.id"
																	:value="category.id"
																>
																	{{category.name}}
																</option>
															</select>

															<!-- REMOVE CATEGORY BUTTON -->
															<button
																v-on:click="removeWorkCategory(cat_index)"
																class="removeCategoryButton material-icons"
																tabindex="-1"
															>
																close
															</button>
														</div>
													</td>

													<!-- COMPANY SELECTOR (ONLY SHOWS WHEN SECOND ROW OF SECTION) -->
													<td
														v-else-if="index==2"
														class="input-control"
													>

														<!-- ONLY SHOW WHEN CATEGORY HAS COMPANIES ASSIGNED, AND HAS WORKS ASSIGNED -->
														<select
															v-if="work_categories_by_id[project.work_categories[cat_index-1].work_category_id].companies.length>0 && getWorkIntersect(cat_index,1)"
															v-model="project.work_categories[cat_index-1].company_id"
															v-on:change="sanitize_leaveCompany(cat_index)"
															name="company_id"
															class="table-dropdown fill"
														>

															<!-- OPTION LIST ALL COMPANIES UNDER WORK CATEGORY -->
															<option
																v-for="company in work_categories_by_id[project.work_categories[cat_index-1].work_category_id].companies"
																:key="cat_index+''+company.id"
																:value="company.id"
															>
																{{company.name}}
															</option>
														</select>
													</td>

													<!-- COMMENTS FIELD (ONLY SHOWS WHEN THIRD ROW OF SECTION, SPANS UNTIL FINAL ROW OF SECTION) -->
													<td
														v-else-if="index==3"
														:rowspan="getNumberOfWorks(cat_index)>3?getNumberOfWorks(cat_index)-2:1"
														class="input-control"
													>

														<!-- ONLY SHOW WHEN CATEGORY HAS COMPANIES ASSIGNED, AND HAS WORKS ASSIGNED -->
														<textarea
															v-if="work_categories_by_id[project.work_categories[cat_index-1].work_category_id].companies.length>0 && getWorkIntersect(cat_index,1)"
															v-model="project.work_categories[cat_index-1].comments"
															name="comments"
															class="table-textarea fill"
															cols="25"
															rows="2"
															placeholder="- Commentaire -"
														>
														</textarea>
													</td>

													<!-- WORK COLUMNS (ONLY SHOW IF WORK CATEGORY HAS COMPANIES ASSIGNED, AND HAS WORKS ASSIGNED) -->
													<template
														v-if="getWorkIntersect(cat_index,index)"
													>
														<template
															v-if="work_categories_by_id[project.work_categories[cat_index-1].work_category_id].companies.length>0"
														>
															<!-- WORK NAME -->
															<td>
																{{getWorkIntersect(cat_index,index).name}}
															</td>

															<!-- WORK QUANTITY INPUT -->
															<td style="padding:right:0;text-align:right">

																<!-- DISABLE WHEN NO PRICE -->
																<input
																	v-model="project.work_categories[cat_index-1].quantity_by_work_id[getWorkIntersect(cat_index,index).id]"
																	v-on:input="quickUpdate()"
																	:disabled="getPricePerUnit(cat_index,index)<0"
																	:placeholder="((getPricePerUnit(cat_index,index)>=0)?(getPricePerUnit(cat_index,index).toStringPlaces()+'€/'):'NONE')"
																	type="number"
																	class="input-border-bottom-trans"
																	style="width:60%;text-align:right"
																>

																<!-- SHOW WORK UNIT -->
																<span
																	style="display:inline-block;width:1rem;line-height:0.5rem;"
																>
																	{{getWorkIntersect(cat_index,index).unit}}
																</span>
															</td>

															<!-- SHOW BASE PRICE -->
															<td class='right-align control'>
																{{getBasePrice(cat_index,index).toStringPlaces()}}&nbsp;€
															</td>

															<!-- TAX INPUT -->
															<td class='right-align'>

																<!-- DISABLE WHEN NO PRICE -->
																<select
																	v-model="project.work_categories[cat_index-1].tax_by_work_id[getWorkIntersect(cat_index,index).id]"
																	v-on:change="quickUpdate()"
																	:disabled="getPricePerUnit(cat_index,index)<0"
																	name="tax"
																	class="table-dropdown"
																>
																	<option value="5">5%</option>
																	<option value="10">10%</option>
																	<option value="20">20%</option>
																</select>
															</td>

															<!-- MARGIN INPUT -->
															<td class='right-align'>

																<!-- DISABLE WHEN NO PRICE -->
																<input
																	v-model="project.work_categories[cat_index-1].margin_by_work_id[getWorkIntersect(cat_index,index).id]"
																	v-on:input="quickUpdate()"
																	:disabled="getPricePerUnit(cat_index,index)<0"
																	type="text"
																	class="input-border-bottom-trans"
																	style="width:60%;text-align:right"
																>%
															</td>

															<!-- SHOW PRICE BEFORE TAX -->
															<td class='right-align control'>
																{{getHTPrice(cat_index,index).toStringPlaces()}}&nbsp;€
															</td>

															<!-- SHOW PRICE AFTER TAX -->
															<td class='right-align control'>
																<strong>
																	{{getTTCPrice(cat_index,index).toStringPlaces()}}&nbsp;€
																</strong>
															</td>
														</template>

														<!-- SHOW MESSAGE IF NO COMPANIES -->
														<template v-else>
															<td
																colspan="7"
																style="text-align:center;"
															>
																<em>
																	Aucune entreprise avec cette catégorie de travail
																</em>
															</td>
														</template>
													</template>

													<!-- SHOW MESSAGE IF NO WORKS -->
													<template v-else>
														<td
															v-html="(index==1?'<em>Aucun travail dans cette catégorie</em>':'')"
															colspan="7"
															style="text-align:center;"
														></td>
													</template>
												</tr>
											</template>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<!-- ADD WORK CATEGORY BUTTON -->
						<div class="row">
							<div class="col-lg-2 col-md-3">
								<button
									v-on:click="addWorkCategory"
									class="btn btn-white no-padding text-center"
								>
									<div class="btn-img">
										<img class="img-responsive" src="/img/btn-plus-gray.png">
									</div>  &nbsp; Ajouter des Types
								</button>
							</div>
						</div>

						<!-- FILE UPLOAD -->
						<div class="upload-box">
							<div class="row">

								<!-- PLANS -->
								<div class="upload-box1 col-md-3 col-sm-6">
									<div
										v-on:dragenter="onDragenter($event,'plans')"
										v-on:dragleave="onDragleave($event,'plans')"
										v-on:dragover="function(e){ e.preventDefault(); }"
										v-on:drop="onDrop($event,'plans')"
										:class="{'box-dragover':boxHover.plans}"
										id="plans-box"
										class="box row">
										<div class="col-12">
											<div
												v-if="files.plans.length==0"
												class="row"
											>
												<div class="col-md-4 col-sm-3 col-4"></div>
												<div class="col-md-4 col-sm-6 col-4">
													<img class="img-responsive" src="/img/down-arrow.png">
												</div>
												<div class="col-md-4 col-sm-3 col-4"></div>
												<div class="col-md-12">
													<p class="text-center">Joindre fichiers</p>
												</div>
											</div>
										</div>
										<div class="upload-btn col-12">

											<div
												v-for="(fileItem,index) in files.plans"
												:key="index"
												class="row border-top border-bottom border-primary"
											>
												<div
													class="col-10"
												>

													{{fileItem.name}}

												</div>
												<div
													class="col-2"
												>
													<button
														v-on:click="files.plans.splice(index,1)"
														class="material-icons btn-secondary"
														type="button"
														style="line-height:0"
													>close</button>

												</div>
											</div>

											<div class="row">
												<div class="col-md-7">
													<input
														v-on:change="onFileInput($event,'plans')"
														type="file"
														ref="plansFiles"
														class="d-none"
														id="plans-files"
														multiple
													>
													<button
														v-on:click="$refs.plansFiles.click()"
														class="text-center btn btn-blue btn-block"
													>
														Choisir le fichier
													</button> 
												</div>
												<div class="col-md-5 no-padding">
													<p
														v-if="files.plans.length==0"
														class="text-center"
													>
														Aucun fichier choisi
													</p>	
												</div>
											</div>
										</div>
									</div>
									<p class="text-center">Plans</p>
								</div>

								<!-- PHOTOS -->
								<div class="upload-box1 col-md-3 col-sm-6">
									<div
										v-on:dragenter="onDragenter($event,'photos')"
										v-on:dragleave="onDragleave($event,'photos')"
										v-on:dragover="function(e){ e.preventDefault(); }"
										v-on:drop="onDrop($event,'photos')"
										:class="{'box-dragover':boxHover.photos}"
										id="photos-box"
										class="box row">
										<div class="col-12">
											<div
												v-if="files.photos.length==0"
												class="row"
											>
												<div class="col-md-4 col-sm-3 col-4"></div>
												<div class="col-md-4 col-sm-6 col-4">
													<img class="img-responsive" src="/img/down-arrow.png">
												</div>
												<div class="col-md-4 col-sm-3 col-4"></div>
												<div class="col-md-12">
													<p class="text-center">Joindre fichiers</p>
												</div>
											</div>
										</div>
										<div class="upload-btn col-12">

											<div
												v-for="(fileItem,index) in files.photos"
												:key="index"
												class="row border-top border-bottom border-primary"
											>
												<div
													class="col-10"
												>

													{{fileItem.name}}
													
												</div>
												<div
													class="col-2"
												>
													<button
														v-on:click="files.photos.splice(index,1)"
														class="material-icons btn-secondary"
														type="button"
														style="line-height:0"
													>close</button>

												</div>
											</div>

											<div class="row">
												<div class="col-md-7">
													<input
														v-on:change="onFileInput($event,'photos')"
														ref="photosFiles"
														type="file"
														class="d-none"
														id="photos-files"
														multiple
													>
													<button
														v-on:click="$refs.photosFiles.click()"
														class="text-center btn btn-blue btn-block"
													>
														Choisir le fichier
													</button> 
												</div>
												<div class="col-md-5 no-padding">
													<p
														v-if="files.photos.length==0"
														class="text-center"
													>
														Aucun fichier choisi
													</p>	
												</div>
											</div>
										</div>
									</div>
									<p class="text-center">Photos</p>
								</div>
								
								<div class="col-md-3"></div>

								<div class="col-md-3">
									<div class="row">
										 <div class=" col-md-12">
										    <label class="label no-margin" for="total-ht">Total HT</label>
										    <label required="required" class="input-border-bottom form-control text-right no-margin no-padding">
												{{getTotalHT().toStringPlaces()}}&nbsp;€
										    </label>
									    </div>
										 <div class=" col-md-12">
										    <label class="label no-margin" for="total-ht">Total TVA</label>
										    <label required="required" class="input-border-bottom form-control text-right no-margin no-padding">
												{{getTotalTVA().toStringPlaces()}}&nbsp;€
										    </label>
									    </div>
										 <div class=" col-md-12">
										    <label class="label no-margin" for="total-ht">Total TTC</label>
										    <label required="required" class="input-border-bottom form-control text-right no-margin no-padding">
												{{getTotalTTC().toStringPlaces()}}&nbsp;€
										    </label>
									    </div>
									</div>
								</div>
							</div>

							<!-- PROGRESS AND SAVE BUTTONS -->
							<div class="row">
								<div class="col-md-6">
									<!-- <div class="row">
										<div class="three-btn col-md-4 col-sm-4 offset-4">
											<button class="btn-blue btn btn-block form-btn" id="compte-rendu">Compte Rendu</button>
										</div>
										<div class="three-btn col-md-4 col-sm-4">
											<button class="btn-blue btn btn-block form-btn" id="offre-contractant">Offre contractant</button>
										</div>
									</div> -->
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="three-btn offset-8 col-md-4 col-sm-4">
											<button
												v-on:click="saveProject"
												id="save"
												class="btn-blue btn btn-block form-btn"
											>Enregistrer</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
</div>
</template>
<script>
export default {
	props:['common','data'],
	data(){
		return{

			showResultsBox:false,
			showLoading:false,
			searchDebounce:false,
			search_results:[],

			boxHover:{
				plans:false,
				photos:false
			},


			saveDebounce:false,

			client:{

				name:'',
				id:null,
				mobile:'',
				telephone:'',
				email:'',
				address:'',
				city:null,
				postal_code:'',
				sell_date:'',
				start_date:'',
				end_date:'',

			},


			category_count:1,

			project:{

				name:'',
				client_id:null,
				address:'',
				city:null,
				postal_code:'',
				comments:'',
				description:'',
				objectives:`« Courtage » pour l’ensemble du projet comprenant : 
    * La mise en relation avec nos partenaires artisans référencé

« Clé en main / Contractant général » pour l’ensemble du projet comprenant :
    * Un Prix ferme et définitif (*non compris travaux complémentaires)
    * Un Délai ferme et définitif (*non compris travaux complémentaires)
    * Une assurance décennale sur la totalité du projet`,
				project_progress_id:null,
				work_categories:[]

			},

			files:{
				plans:[],
				photos:[]
			},

		}
	},
	watch:{

		data:{

			handler(){
				this.mergeData();
			},
			deep:true

		},

	},
	computed:{
		overwork:{
			cached:false,
			get:function(){
				let el=this;
				let over=0;
				Object.values(el.project.work_categories).forEach(function(category){
					let work_count=Object.values(el.work_categories_by_id[category.work_category_id].works).reduce(function(count){
						return count+1;
					},0);
					if (work_count>3) over+=(work_count-3);
				});
				return over;
			}
		},
		work_categories_by_id(){
			let by_id={};
			Object.values(this.data.work_categories).forEach(function(work_cat){
				by_id[work_cat.id]=work_cat;
			});
			return by_id;
		}
	},
	methods:{
		onDragenter(event,target){
			if (!event.relatedTarget || event.relatedTarget.classList.contains("box")){
				this.boxHover[target]=true;
			}
		},
		onDragleave(event,target){
			if (!event.relatedTarget || event.relatedTarget.classList.contains("box")){
				this.boxHover[target]=false;
			}
		},
		onDrop(event,target){
			event.preventDefault();
			this.$refs[target+'Files'].files=event.dataTransfer.files;
			this.files[target]=this.files[target].concat(Object.values(event.dataTransfer.files));
			this.boxHover[target]=false;
			this.quickUpdate();                    
		},
		onFileInput(event,target){
			this.files[target]=this.files[target].concat(Object.values(this.$refs[target+'Files'].files));
			this.quickUpdate();
		},
		enterIndexMode(event){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href')
				el.$emit('enterIndexMode',function(){
					pushHistory(url,'Projets');
				});
            });
            
        },
		getWorkIntersect(cat_index,index){
			return this.work_categories_by_id[this.project.work_categories[cat_index-1].work_category_id].works[index-1];
		},
		getCompanyId(cat_index){
			return this.project.work_categories[cat_index-1].company_id;
		},
		hasPrice(cat_index,index){
			let work=this.getWorkIntersect(cat_index,index);
			let company_id=this.getCompanyId(cat_index);
			let priceList=work.prices.filter(function(price){
				if (price.company_id==company_id) return true;
				else return false;
			});
			if (priceList[0]!=null) return true;
			else return false;
		},
		getPricePerUnit(cat_index,index){
			let work=this.getWorkIntersect(cat_index,index);
			let company_id=this.getCompanyId(cat_index);
			let priceList=work.prices.filter(function(price){
				if (price.company_id==company_id) return true;
				else return false;
			});
			let price=priceList[0]?new Decimal(priceList[0].price_per_unit):new Decimal(-1);
			return price;
		},
		getBasePrice(cat_index,index){
			let work=this.getWorkIntersect(cat_index,index);
			let price=this.getPricePerUnit(cat_index,index);
			let quantity=this.project.work_categories[cat_index-1].quantity_by_work_id[work.id]?
				new Decimal(this.project.work_categories[cat_index-1].quantity_by_work_id[work.id]):
				new Decimal(0);
			return price.times(quantity);
		},
		getHTPrice(cat_index,index){
			let work=this.getWorkIntersect(cat_index,index);
			let margin=this.project.work_categories[cat_index-1].margin_by_work_id[work.id]?
				new Decimal(this.project.work_categories[cat_index-1].margin_by_work_id[work.id]).times(new Decimal('0.01')).plus(new Decimal('1')):
				new Decimal(1);
			let prelimPrice=this.getBasePrice(cat_index,index);
			return prelimPrice.times(margin);
		},
		getTTCPrice(cat_index,index){
			let work=this.getWorkIntersect(cat_index,index);
			let tax=this.project.work_categories[cat_index-1].tax_by_work_id[work.id]?
				new Decimal(this.project.work_categories[cat_index-1].tax_by_work_id[work.id]).times(new Decimal('0.01')).plus(new Decimal('1')):
				new Decimal(1);
			let htPrice=this.getHTPrice(cat_index,index);
			return htPrice.times(tax);
		},
		getTotalHT(){
			let total=new Decimal('0');
			for (let cat_index=1;cat_index<=this.category_count;cat_index++){
				let work_count=this.getNumberOfWorks(cat_index);
				for (let index=1;index<=work_count;index++){
					total=total.plus(this.getHTPrice(cat_index,index));
				}
			}
			return total;
		},
		getTotalTTC(){
			let total=new Decimal('0');
			for (let cat_index=1;cat_index<=this.category_count;cat_index++){
				let work_count=this.getNumberOfWorks(cat_index);
				for (let index=1;index<=work_count;index++){
					total=total.plus(this.getTTCPrice(cat_index,index));
				}
			}
			return total;
		},
		getTotalTVA(){
			return this.getTotalTTC().minus(this.getTotalHT());
		},
		getNumberOfWorks(cat_index){
			let work_category_id=this.project.work_categories[cat_index-1].work_category_id;
			return this.work_categories_by_id[work_category_id].works.length;
		},
		addWorkCategory(){
			let el=this;
			let nextUp=Object.values(el.data.work_categories).filter(function(category){
				return Object.values(el.project.work_categories).reduce(function(isNotDone,done,i,arr){
					if(done.work_category_id==category.id){
						isNotDone=false;
						arr.splice(1);
					}
					return isNotDone;
				},true);
			});
			nextUp=nextUp[0]?nextUp[0].id:1;
			let primer_work_category_id=this.work_categories_by_id[nextUp].id;
			this.project.work_categories[this.category_count]={
				work_category_id:primer_work_category_id,
				comments:null,
			};
			this.category_count++;
			this.sanitize(this.category_count);
		},
		removeWorkCategory(cat_index){
			cat_index--;
			let newob=[]
			let base=this.project.work_categories;
            Object.keys(base).forEach(function(key){
                if (cat_index!=key) newob.push(base[key]);
            });
            this.project.work_categories=Object.assign({},newob);
            this.category_count--;
            this.$nextTick(this.$forceUpdate);
		},
		searchClient(){
			let el=this;
			let splitter=/\s+/;

			if (this.searchDebounce){
				window.clearTimeout(this.searchDebounce);
			}
			
			el.showResultsBox=true;
			el.showLoading=true;
			this.searchDebounce=window.setTimeout(function(){
				
				let query='?';
				el.client.name.split(splitter).forEach(function(q){
					query+='q[]='+q+'&';
				});

				$.ajax({
					url:'/api/prospects/search'+query,
					method:'get',
					dataType:"json",
					success:function(data){
						el.search_results=data.result;
						el.showLoading=false;
						el.$nextTick(el.$forceUpdate());
					},
					error:function(){
						el.dislodgeResults();
					}
				});

			},500);
		},
		selectClient(client){
			this.dislodgeResults();
			this.project.client_id=client.id;
			this.client.name=client.full_name;
			this.client.mobile=client.mobile;
			this.client.telephone=client.telephone;
			this.client.email=client.email;

			if (this.project.address || this.project.city || this.project.postal_code){
				launchModal('Utiliser l\'adresse du client ?','Souhaitez-vous utiliser l\'adresse du client pour ce projet ?',()=>{},()=>{
					this.project.address=client.address;
					this.project.city=client.city;
					this.project.postal_code=client.postal_code;
				});
			}else{
				this.project.address=client.address;
				this.project.city=client.city;
				this.project.postal_code=client.postal_code;
			}
			
		},
		dislodgeResults(event=null){
			if(event&&event.relatedTarget&&event.relatedTarget.getAttribute('class')=='result-item') return;	
			if (this.searchDebounce){
				window.clearTimeout(this.searchDebounce);
			}
			this.showResultsBox=false;
			this.showLoading=false;
		},
		uploadFiles(id, callback){
			if (this.files.plans.length>0 || this.files.photos.length>0){
				let data=new FormData();
				data.append('_token',document.querySelector('meta[name="csrf-token"]').getAttribute('content'));
				data.append('target_entity_type','projects');
				data.append('target_entity_id',id);

				//	append plans
				this.files.plans.forEach(function(file){
					data.append('files_plans_files[]',file);
				});

				//	append photos
				this.files.photos.forEach(function(file){
					data.append('files_photos_files[]',file);
				});

				$.ajax({
					url : '/api/files/upload',
					type : 'POST',
					data,
					processData: false,
					contentType: false,
					success(resonse){
						callback();
					},
					error(response){
						callback();
					}
				});

			} else {

				callback();

			}
		},
		saveProject(event){
			// DEBOUNCE
			if (this.saveDebounce){
				event.preventDefault();
				event.stopImmediatePropagation();
				return;
			}

			this.saveDebounce=true;
			handleClick(this,event,function(el,e){
				el.$root.startLoading();
				$.ajax({
					url:'/api/projects',
					method:'post',
					dataType:"json",
					data:{
						data:Object.assign(el.project,{total_ttc:el.getTotalTTC().toFixed(2)}),
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						let url=data.url;
						let id=data.id;

						el.uploadFiles(id,function(){
							el.$root.doneLoading();
							el.$emit('enterShowMode',id,false,function(){
								pushHistory(url,"Vue Projet");
								// UNDEBOUNCE
								el.saveDebounce=false;
							});

						});
					},
					error(response){
						el.$root.failHandler(response);
						// UNDEBOUNCE
						el.saveDebounce=false;
					}
				});
			});
		},
		quickUpdate(){
			this.$nextTick(this.$forceUpdate());
		},
		sanitize(cat_index){
			let cat_id=this.project.work_categories[cat_index-1].work_category_id;
			Object.assign(this.project.work_categories[cat_index-1],{
				company_id:this.work_categories_by_id[cat_id].companies[0]?
					this.work_categories_by_id[cat_id].companies[0].id:
					null,
				quantity_by_work_id:{},
				tax_by_work_id:Object.assign(
					{},
					this.work_categories_by_id[cat_id].works.reduce(function(arr,work){
						arr[work.id]=5;
						return arr;
					},{})
				),
				margin_by_work_id:Object.assign(
					{},
					this.work_categories_by_id[cat_id].works.reduce(function(arr,work){
						arr[work.id]=30;
						return arr;
					},{})
				)
			});
			this.$nextTick(this.$forceUpdate());
		},
		sanitize_leaveCompany(cat_index){
			let cat_id=this.project.work_categories[cat_index-1].work_category_id;
			Object.assign(this.project.work_categories[cat_index-1],{
				quantity_by_work_id:{},
				tax_by_work_id:Object.assign(
					{},
					this.work_categories_by_id[cat_id].works.reduce(function(arr,work){
						arr[work.id]=5;
						return arr;
					},{})
				),
				margin_by_work_id:Object.assign(
					{},
					this.work_categories_by_id[cat_id].works.reduce(function(arr,work){
						arr[work.id]=30;
						return arr;
					},{})
				)
			});
			this.$nextTick(this.$forceUpdate());
		},
		mergeData(){

			this.project.project_progress_id=1;
			
			this.category_count=0;
			this.project.work_categories={};

		}
	},
	created(){

		this.mergeData();

	}

	
}
</script>
<style>

input.right-align, td.right-align{
	text-align:right;
}

.control{
	margin:0 !important;
	padding:0 !important;
	padding-right:5px !important;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2.7rem;
}

.input-control{
	font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.fill{
	width:100%;
}

.removeCategoryButton{
	position: absolute;
    -webkit-transform: translate(-1rem, -100%);
    transform: translate(-0.3rem, -250%);
    background: #60000055;
    outline: none;
    border: 0 none;
    color: #99452b;
    font-size: 0.7rem;
    border-radius: 0.6rem;
	padding:0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.group-dark{
	background-color:#e8e8e4 !important;
}

.results-box{
	background: white;
    position: absolute;
    height: auto;
    display: inline-block;
    clear: both;
    z-index: 1;
    width: 80%;
    border-left: 4px solid #4c8aa1;
    border-bottom: 1px solid;
    box-shadow: 3px 3px 6px 0px grey;
}

.result-item{
	padding: 0.4rem;
    box-sizing: border-box;
}

.result-item-inactive{
	padding: 0.4rem;
    box-sizing: border-box;
	background-color: #ddd;
	color: #333;
}

.result-item:hover{
	background-color: #4c8aa1;
}

.box{
	transition: transform 0.3s;
}

.box-dragover{
	transform:scale(1.1);
}


.lds-ripple {
	display: inline-block;
	position: relative;
	margin-top:10px;
	margin-bottom:0;
	left:50%;
	transform: translateX(-50%);
	width: 32px;
	height: 32px;
}
.lds-ripple div {
	position: absolute;
	border: 2px solid #4c8aa1;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1.3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
 	animation-delay: -0.4s;
}
@keyframes lds-ripple {
  0% {
    top: 14px;
    left: 14px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 29px;
    height: 29px;
    opacity: 0;
  }
}
</style>
