<template>
										<tr
											v-on:click="enterShowMode($event,false)" :href="'/clients/'+data.id"
											:style="keepHover?{color: '#fff',backgroundColor: '#43859d'}:null"
										>
									        <td style="width:5%">{{client_id}}</td>
									        <td style="width:15%">{{data.full_name}}</td>
									        <td style="width:15%">{{data.email}}</td>
									        <td style="width:12%">{{data.mobile}}</td>
									        <td style="width:8%">{{data.city}}</td>
									        <td style="width:8%">{{data.contract_type?data.contract_type.name:''}}</td>
									        <td style="width:5%">
									        	<div class="action-btn">
									        		<button v-on:click="enterShowMode($event,true)" id="btn-edit" class="table-btn"><img class="img-responsive" src="/img/edit.png"></button>
										        	<button v-on:click="promptDelete" class="table-btn"><img class="img-responsive" src="/img/delete.png"></button>
									        	</div>
									        </td>
										</tr>
</template>
<script>
export default {
	props:['common','data'],
	data(){
		return{
			keepHover:false
		}
	},
	methods:{
		isChecked(progress_id){
			if (this.data.client_progresses.some(client_progress=> client_progress.id===progress_id)){
				return true;
			}else{
				return false;
			}
		},
		enterShowMode(event,edit){
			this.$emit('enterShowMode',event,this.data.id,edit);
		},
		promptDelete(event){
			event.stopImmediatePropagation();
			let el=this;
			this.keepHover=true;
			this.$nextTick(this.$forceUpdate());
			let deleter=function(){
				el.$root.startLoading();
				$.ajax({
                url:'/api/clients?id='+el.data.id,
                method:'delete',
				dataType:"json",
                data:{
                    _token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                success(data){
					el.$root.doneLoading();
                    el.$emit('enterIndexMode',function(){});
                },
                error(response){
					
					el.$root.failHandler(response);
					
                }
            });
			}
			launchModal(
				'Confirmation de suppression',
				'Êtes vous sûr de bien vouloir supprimer le client "'+el.data.name+'"?',
				function(){el.keepHover=false;},
				deleter
			);
		}
		
	},
	computed:{
		client_id(){
			return this.data.id.toString().padStart(4,0);
		}
	},
	mounted(){
		$('[data-toggle="tooltip"]').tooltip()
	}
}
</script>
