<template>
    <div class="projets col-12">
        <div class="title-label row">
            <div class="col-md-10">
                <h2>Listing des factures</h2>
            </div>
        </div>

        <!-- START TABLEAU PROJETS -->
        <div class="projets-table row">
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nom Projet</th>
                            <th>Nom Client</th>
                            <th>Email </th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th>Facture Datée Du</th>
                            <th>Total TTC</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="bill in bills[current_page]"
                            v-on:click="enterShowMode($event, false, bill.id)"
                            :key="bill.id"
                            :href="'/bills/'+bill.id"
                        >
                            <td>{{bill.name}}</td>
							<td>{{bill.customer.full_name}}</td>
                            <td>{{bill.customer.email}}</td>
                            <td>{{bill.customer.mobile}}</td>
                            <td>{{bill.address}}, {{bill.city}}</td>
							<td>{{bill.created_at.split(" ")[0]}}</td>
							<td>{{parseFloat(bill.total_ttc).toString().places()}}&nbsp;€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
			<nav aria-label="...">
				<ul class="pagination">
					<li v-bind:class="{'disabled':(current_page==1)}" class="page-item">
					<a v-on:click="pageNavigate" :href="'/bills?page='+(current_page-1)" class="page-link" v-bind:page-number="current_page-1">Previous</a>
					</li>

					<li v-for="page in last_page" :key="page" v-bind:class="{'disabled':(page==current_page)}" class="page-item">
						<a v-if="page!=current_page" v-on:click="pageNavigate" v-bind:href="'/bills?page='+page" class="page-link" v-bind:page-number="page">{{page}}</a>
						<span v-if="page==current_page" class="page-link">{{page}}</span>
					</li>

					<li v-bind:class="{'disabled':(current_page==last_page)}" class="page-item">
					<a v-on:click="pageNavigate" :href="'/bills?page='+(current_page-(-1))" class="page-link" v-bind:page-number="current_page-(-1)" >Next</a>
					</li>
				</ul>
			</nav>
        </div>
    </div>
</template>
<script>
export default {
    props:{
		common:{},
		data:{

            current_page:null
            
		}
	},
	data(){
		return{

			current_page:null,
			last_page:null,
			bills:[],
			hash:[]

		}
	},
	watch:{

		data:{

			handler(){
				this.mergeData();
			},
			deep:true

		},

    },
	methods:{
		enterShowMode(event,edit, id){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterShowMode',id,edit,function(){
					pushHistory(url,'Vue Facture'+id.toString().padStart(4,0));
				});
			});

		},
		pageNavigate(event){
			handleClick(this,event,function(el,e){

				let page=e.currentTarget.getAttribute('page-number');

				if(page==el.current_page||page<1||page>el.last_page) return;
				
				el.$root.startLoading();

				let url=e.currentTarget.getAttribute('href');

				el.$parent.fetchIndexData(el.$parent,page,function(){
					el.$root.doneLoading();
					pushHistory(url,'Factures');
				});

			});
		},
		mergeData(){

			this.current_page=this.data.current_page;
			this.last_page=this.data.last_page;
			this.bills[this.current_page]=this.data.bills[this.current_page];

		}
	},
	created(){

		this.mergeData();

	}
}
</script>
