<template>
<div class="col-12">
	<transition name="gen">
		<div
			v-show="generatingPDF"
			class="generating"
		>

			<p class="gentext">
				Générer&nbsp;un&nbsp;PDF...<br>{{parseInt(percentGenerated)}}%
			</p>

			<div class="lds-dual-ring">
			</div>
		</div>
	</transition>
					<div class="ajout-projets form2">
						<div class="title-label row">
							<div class="col-md-10 col-sm-9">
								<h2>Facture n°: {{bill_id.toString().padStart(4,0)}}</h2>
							</div>
							<div class="col-md-2 col-sm-3 p-0">
								<div class="prospect-btn-circle pr-2">
									<div class="btn-circle">

										<button class="btn-sm btn btn-circle-blue">
											<a v-on:click="goToProject" :href="'/projects/'+bill.project_id" id='index-link' class='ajax-link' method='get'><img class="img-responsive rounded" src="/img/arrow-left2.png"></a>
										</button>

									</div>
								</div>
							</div>
						</div>

						<!-- bill DETAILS -->
						<div class="form-group row">
							<div class="col-md-6">
								<div class="row">
									 <div class=" col-md-12">

										 <!-- bill NAME -->
									    <label class="label">Nom Projet</label>
									    <label
											class="input-text input-border-bottom form-control"
										>
										{{bill.name}}
									    </label>
								    </div>
								</div>
								<div class="row">
									 <div class=" col-md-12">

										<!-- bill ADDRESS -->
									    <label class="label">Addresse</label>
									    <label
											class="input-text input-border-bottom form-control"
										>
										{{bill.address}}
									    </label>
								    </div>
								</div>
								<div class="row">
									 <div class=" col-md-6">

									    <label class="label">Ville</label>
									    <label
											class="input-text input-border-bottom form-control"
										>
										{{bill.city}}
									    </label>
								    </div>
									 <div class=" col-md-6">

										<!-- bill POSTAL CODE -->
									    <label class="label" for="adresse">Code postal</label>
									    <label
											class="input-text input-border-bottom form-control"
										>
										{{bill.postal_code}}
									    </label>
								    </div>
								</div>
								
							</div>
							<!-- END LEFT COLUMN OF FORM -->

							<!-- START RIGHT COLUMN OF FORM -->
							<div class="col-md-6">
								<div class="row">
									 <div
									 	class=" col-md-12"
									>
									    <label class="label" for="nom-client">Client</label>
										
									    <label
											class="input-text input-border-bottom form-control"
										>
										{{client.name}}
									    </label>

								    </div>
								</div>
								<div class="row">
									<div class="  col-md-6">
										<label class="label">Téléphone mobile</label>
									    <label
											class="input-text input-border-bottom form-control"
										>
										{{client.mobile}}
									    </label>
									</div>
								    <div class=" col-md-6">
									    <label class="label">Téléphone fixe</label>
									    <label
											class="input-text input-border-bottom form-control"
										>
										{{client.telephone}}
									    </label>
								    </div>
								</div>
								<div class="row">
									<div class="  col-md-12">
										<label class="label">Email</label>
									    <label
											class="input-text input-border-bottom form-control"
										>
										{{client.email}}
									    </label>
									</div>
								</div>
							</div>
						</div>

						<!-- WORK CATEGORIES, WORKS, AND COMPANIES -->
						<div class="table-ajout-projet row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-condensed">
										<thead>
											<tr>
												<th style="width:20%;">Lot</th>
												<th style="width:30%;">Désignation</th>
												<th style="width:5%;min-width:7rem;">Unités</th>
												<th style="width:10%;">Prix&nbsp;Achat</th>
												<th style="width:7%;">TVA</th>
												<th style="width:7%;">Marge</th>
												<th style="width:10%;">Prix&nbsp;vente</th>
												<th style="width:10%;">Total&nbsp;Ligne</th>
											</tr>
										</thead>
										<tbody>
											
											<!-- SECTION PER CATEGORY -->
											<template
												v-for="cat_index in category_count"
											>

												<!-- REPEAT ROW PER WORK OR MIN 3 TIMES -->
												<tr v-for="index in (getNumberOfWorks(cat_index)>3?getNumberOfWorks(cat_index):3)" :key="cat_index+''+index" :class="{'group-dark':cat_index%2==0}">

													<!-- WORK CATEGORY SELECTOR (ONLY SHOWS WHEN FIRST ROW OF SECTION) -->
													<td
														v-if="index==1"
														class="input-control"
													>
														<div style="margin:0;padding:0;width:100%;height:100%">

															<label class="fill table-dropdown">
																{{bill.comments[cat_index-1].work_category.name}}
															</label>

														</div>
													</td>

													<!-- COMPANY SELECTOR (ONLY SHOWS WHEN SECOND ROW OF SECTION) -->
													<td
														v-else-if="index==2"
														class="input-control"
													>

														<!-- ONLY SHOW WHEN CATEGORY HAS COMPANIES ASSIGNED, AND HAS WORKS ASSIGNED -->
														<label class="fill table-dropdown">
															{{bill.comments[cat_index-1].company?bill.comments[cat_index-1].company.name:'ERROR: NO COMPANY'}}
														</label>

													</td>

													<!-- COMMENTS FIELD (ONLY SHOWS WHEN THIRD ROW OF SECTION, SPANS UNTIL FINAL ROW OF SECTION) -->
													<td
														v-else-if="index==3"
														:rowspan="getNumberOfWorks(cat_index)>3?getNumberOfWorks(cat_index)-2:1"
														class="input-control"
													>

														<!-- ONLY SHOW WHEN CATEGORY HAS COMPANIES ASSIGNED, AND HAS WORKS ASSIGNED -->
														<label class="table-textarea fill" style="word-break:break-all">
															{{bill.comments[cat_index-1].comments}}
														</label>
													</td>

													<!-- WORK COLUMNS (ONLY SHOW IF WORK CATEGORY HAS COMPANIES ASSIGNED, AND HAS WORKS ASSIGNED) -->
													<template
														v-if="getWorkIntersect(cat_index,index)"
													>
															<!-- WORK NAME -->
															<td>
																{{getWorkIntersect(cat_index,index).work.name}}
															</td>

															<!-- WORK QUANTITY INPUT -->
															<td style="padding:right:0;text-align:right">

																<!-- DISABLE WHEN NO PRICE -->
																<label
																	class="input-border-bottom-trans"
																	style="width:60%;text-align:right"
																>
																	{{parseFloat(getWorkIntersect(cat_index,index).quantity).toString().places()}}
																	&nbsp;
																	{{getWorkIntersect(cat_index,index).work.unit}}
																</label>
															</td>

															<!-- SHOW BASE PRICE -->
															<td class='right-align control'>
																{{getBasePrice(cat_index,index).toStringPlaces()}}&nbsp;€
															</td>

															<!-- TAX INPUT -->
															<td class='right-align'>

																<!-- DISABLE WHEN NO PRICE -->
																<label class="input-border-bottom-trans">
																	{{parseFloat(getWorkIntersect(cat_index,index).tax).toString()}}&nbsp;%
																</label>
															</td>

															<!-- MARGIN INPUT -->
															<td class='right-align'>

																<!-- DISABLE WHEN NO PRICE -->
																<label class="input-border-bottom-trans">
																	{{parseFloat(getWorkIntersect(cat_index,index).margin).toString()}}&nbsp;%
																</label>
															</td>

															<!-- SHOW PRICE BEFORE TAX -->
															<td class='right-align control'>
																{{getHTPrice(cat_index,index).toStringPlaces()}}&nbsp;€
															</td>

															<!-- SHOW PRICE AFTER TAX -->
															<td class='right-align control'>
																<strong>
																	{{getTTCPrice(cat_index,index).toStringPlaces()}}&nbsp;€
																</strong>
															</td>
													</template>
												</tr>
											</template>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<!-- FILE UPLOAD -->
						<div
							class="upload-box"
						>
							<div
								class="row"
							>
								<div class="col-md-3 offset-9">
									<div class="row">
										 <div class=" col-md-12">
										    <label class="label no-margin" for="total-ht">Total HT</label>
										    <label required="required" class="input-border-bottom form-control text-right no-margin no-padding">
												{{getTotalHT().toStringPlaces()}}&nbsp;€
										    </label>
									    </div>
										 <div class=" col-md-12">
										    <label class="label no-margin" for="total-ht">Total TVA</label>
										    <label required="required" class="input-border-bottom form-control text-right no-margin no-padding">
												{{getTotalTVA().toStringPlaces()}}&nbsp;€
										    </label>
									    </div>
										 <div class=" col-md-12">
										    <label class="label no-margin" for="total-ht">Total TTC</label>
										    <label required="required" class="input-border-bottom form-control text-right no-margin no-padding">
												{{getTotalTTC().toStringPlaces()}}&nbsp;€
										    </label>
									    </div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-3 offset-9">
									<button
										class="btn-blue btn btn-block form-btn"
										v-on:click="generateBillPDF"
									>
										Générer PDF
									</button>
								</div>
							</div>
						</div>
					</div>
</div>
</template>
<script>
export default {
	props:['common','data'],
	data(){
		return{

			generatingPDF:false,
			percentGenerated:0,
			requests:[],

			client:{

				name:'',
				id:null,
				mobile:'',
				telephone:'',
				email:''

			},

			search_results:[],

			category_count:1,

			bill_id:null,

			bill:{

				id:null,
				name:'',
				client_id:null,
				address:'',
				city:'',
				postal_code:'',
				comments:'',
				comments:[]

			},
		}
	},
	watch:{

		data:{

			handler(){
				this.mergeData();
			},
			deep:true

		},

	},
	computed:{
		overwork:{
			cached:false,
			get:function(){
				let el=this;
				let over=0;
				Object.values(el.bill.comments).forEach(function(category){
					let work_count=Object.values(el.comments_by_id[category.work_category_id].works).reduce(function(count){
						return count+1;
					},0);
					if (work_count>3) over+=(work_count-3);
				});
				return over;
			}
		},
		comments_by_id(){
			let by_id={};
			Object.values(this.data.comments).forEach(function(work_cat){
				by_id[work_cat.id]=work_cat;
			});
			return by_id;
		}
	},
	methods:{
		enterIndexMode(event){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href')
				el.$emit('enterIndexMode',function(){
					pushHistory(url,'Factures');
				});
            });
            
		},
		goToProject(event){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href')
				el.$root.$refs.app.navigateShow('projects',el.bill.project_id,false,function(){
					pushHistory(url,'Factures');
				});
            });
		},
		getWorkIntersect(cat_index,index){
			return this.bill.comments[cat_index-1].prices[index-1];
		},
		getBasePrice(cat_index,index){
			let price=this.getWorkIntersect(cat_index,index);
			return Decimal(price.price_per_unit).times(Decimal(price.quantity));
		},
		getHTPrice(cat_index,index){
			let price=this.getWorkIntersect(cat_index,index);
			return Decimal(this.getBasePrice(cat_index,index)).times(Decimal(price.margin).times('0.01').plus('1'));
		},
		getTTCPrice(cat_index,index){
			let price=this.getWorkIntersect(cat_index,index);
			return Decimal(this.getHTPrice(cat_index,index)).times(Decimal(price.tax).times('0.01').plus('1'));
		},
		getTotalHT(){
			let total=new Decimal('0');
			let el=this;
			this.bill.comments.forEach(function(comment,cat_index){
				comment.prices.forEach(function(price,index){

					total=total.plus(el.getHTPrice(cat_index+1,index+1));

				});
			});
			return total;
		},
		getTotalTTC(){
			let total=new Decimal('0');
			let el=this;
			this.bill.comments.forEach(function(comment,cat_index){
				comment.prices.forEach(function(price,index){

					total=total.plus(el.getTTCPrice(cat_index+1,index+1));

				});
			});
			return total;
		},
		getTotalTVA(){
			return this.getTotalTTC().minus(this.getTotalHT());
		},
		getNumberOfWorks(cat_index){
			return this.bill.comments[cat_index-1].prices.length;
		},
		quickUpdate(){
			this.$nextTick(this.$forceUpdate());
		},
		mergeData(){

			this.edit_mode=this.data.edit_mode;

			this.bill_id=this.data.bill_id;
			
			let bill=this.data.bill[this.bill_id];

			this.bill.id=bill.id;
			this.bill.name=bill.name;
			this.bill.client_id=bill.customer_id;
			this.bill.address=bill.address;
			this.bill.city=bill.city;
			this.bill.postal_code=bill.postal_code;
			this.bill.comments=bill.comments;
			this.bill.project_id=bill.project_id;
			this.bill.sell_date=bill.sell_date;
			this.bill.start_date=bill.start_date;
			this.bill.end_date=bill.end_date;

			this.category_count=Object.keys(this.bill.comments).length;

			let client=bill.customer;

			this.client.name=client.full_name;
			this.client.id=client.id;
			this.client.mobile=client.mobile;
			this.client.telephone=client.telephone;
			this.client.email=client.email;

			this.quickUpdate();

		},
		escapeKey(event){
			if (event.keyCode==27){
				window.removeEventListener('keyup',this.escapeKey);
				this.generatingPDF=false;
				this.requests.forEach(request=>request.abort());
			}
		},
		async generateBillPDF(){
			let categories=[];
			let ht=this.getTotalHT().toStringPlaces();
			let tva=this.getTotalTVA().toStringPlaces();
			let ttc=this.getTotalTTC().toStringPlaces();
			for (let i=1;i<=this.category_count;i++){

				let temp={};
				temp.name=this.bill.comments[i-1].work_category.name;
				temp.comments=this.bill.comments[i-1].comments;
				temp.price=new Decimal(0);
				temp.works=[];

				for (let j=1;j<=this.getNumberOfWorks(i);j++){
					temp.works.push(this.getWorkIntersect(i,j).work.name);
					temp.price=temp.price.plus(this.getHTPrice(i,j));
				}

				temp.price=temp.price.toStringPlaces();

				categories.push(temp);
				
			}

			// //========	DEBUG
			// console.log(categories,ht,tva,ttc);
			// return;
			// //========

						let el=this;
						let requests=[]
						let percentRequiredArray=[0,0,0]
						let percentCompleteArray=[0,0,0];
						let resourcesLoaded=[false,false,false]
						let resources=[
							'/api/files/resource?path=invoice.pdf'+'&v='+window.serverAppVersion,
							'/font/WorkSans-Regular.ttf',
							'/font/WorkSans-Bold.ttf',
						];

						function tryDone(){
							if (resourcesLoaded.reduce(function(loaded,state){
								if (!state){
									loaded=false;
								}
								return loaded;
							},true)){
								el.generatingPDF=false;
								el.$parent.generateBillPDF(el.bill,el.client,categories,ht,tva,ttc);
							}
						}

						this.percentGenerated=0;
						this.generatingPDF=true;

						for (let i=0;i<resources.length;i++){
							percentRequiredArray[i] = await axios.head(resources[i]).then(response=>parseInt(response.headers['content-length']));
						}

						resources.forEach((resource,i)=>{
							let req = new XMLHttpRequest();
							el.requests[i]=req;
							req.addEventListener("progress", function(event) {
								if (event.lengthComputable) {
									percentCompleteArray[i]=event.loaded;
									el.percentGenerated=100*(percentCompleteArray.reduce(function(totPer,percent){
										totPer+=percent;
										return totPer;
									},0)/percentRequiredArray.reduce(function(totPer,percent){
										totPer+=percent;
										return totPer;
									},0));
								}
							}, false);

							req.addEventListener("load", function(event) {
								resourcesLoaded[i]=true;
								tryDone();
							}, false);

							req.open("GET",resource);
							req.send();

						})

						window.addEventListener('keyup',this.escapeKey);

		},
	},
	created(){

		this.mergeData();

	}

	
}
</script>
<style>

input.right-align, td.right-align{
	text-align:right;
}

.control{
	margin:0 !important;
	padding:0 !important;
	padding-right:5px !important;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2.7rem;
}

.input-control{
	font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.fill{
	width:100%;
}

.removeCategoryButton{
	position: absolute;
    -webkit-transform: translate(-1rem, -100%);
    transform: translate(-0.3rem, -250%);
    background: #60000055;
    outline: none;
    border: 0 none;
    color: #99452b;
    font-size: 0.7rem;
    border-radius: 0.6rem;
	padding:0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.group-dark{
	background-color:#e8e8e4 !important;
}

.results-box{
	background: white;
    position: absolute;
    height: auto;
    display: inline-block;
    clear: both;
    z-index: 1;
    width: 80%;
    border-left: 4px solid #4c8aa1;
    border-bottom: 1px solid;
    box-shadow: 3px 3px 6px 0px grey;
}

.result-item{
	padding: 0.4rem;
    box-sizing: border-box;
}

.result-item:hover{
	background-color: #4c8aa1;
}

.box{
	transition: transform 0.3s;
}

.box-dragover{
	transform:scale(1.1);
}

</style>
