html{
	overflow-y: scroll; 
}

#reconnect-button{
	background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}

/***************START PAGE CONTENT general declaration***************/
#appLoading{
	transition: visibility 0.5s, opacity 0.5s linear;
}

body{
	margin: 0;
	padding-right:0 !important;
}

img{
	width: 100%;
}

.page{
	position: relative;
	background-color: white;
}
.no-padding{
	padding: 0;
}
.no-margin{
	margin: 0;
}
.content{
    box-shadow: inset 0px 8px 10px -5px rgba(0,0,0,0.3);
	position: relative;
}
/*UPDATE*/

.page-content {
    width: 80%;
    padding: 0;
    margin: 3% 4% 3% 16.5%;
}
/*END UPDATE*/
.form{
	width: 75%;
	margin: 0 auto;
}

.wrap2{
	width: 90%;
	margin: 0 auto;
}

/*table format*/
.prospect-table, .client-table, .enterprise-table, .projets-table, .fatures-table{
    margin: 0px;
    box-shadow: none;
}

.table > thead th{
	width: auto;
	background-color: #a2adb1;
    color: white;
    border: 3px solid white;
    font-weight: lighter;
}
.table tbody tr{
    background-color: #f8f8f8;
    border: 3px solid white;
}
.table th, .table td {
    padding: 0.6rem;
    text-indent: 5px;
}
/*.table-btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: transparent;
    background-color: transparent;
}*/
.table-btn {
    width: 25px;
    height: 25px;
    margin: .1rem 0;
    padding: 0 .3rem;
    border-radius: 100%;
    border: transparent;
    background-color: transparent;
}
.action-btn{
    display: none;
    margin: .2rem 0;
}
.table-btn:hover{
	background-color: #35697b;
}

.table-btn a{
	text-decoration: none;
}
.title{
    background-color: #35697b;
    color: white;
    padding: 15px 30px;
}
.title h6{
	margin: 0;
    font-weight: normal;
}	

.table-wrap{
    padding: 20px;
}

.table{
    font-size: .80rem;
    position: relative;
}

.btn-white{
	border-radius: 0px;
    border-color: white;
    background-color: white;
    color: rgb(0,0,0,0.5);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn-blue{
	border-radius: 0px;
    border-bottom: 5px solid #35697b;
    background-color: #43859d;
    color: white;
    font-size: 13px;
}
.btn-circle{
    width: 30%;
    float: right;
    margin: 0px 5px;
}

.btn-circle-white{
	background-color: white;
    border: 1px solid #43859d;
	border-radius: 100%;
    padding: 0;
    /*float: right;*/
}
.btn-circle-blue{
    border: 1px solid #35697b;
    background-color: #35697b;
	border-radius: 100%;
    padding: 0;
}
/*end table format*/

/***************START FORMS STYLE***************/
.login-input{
    font-size: 14px;
    padding: 25px 0px;
    color: rgba(0,0,0,0.5);
}
.input-border-bottom{
	border-right: 0;
	border-left: 0;
	border-top: 0;
	border-radius: 0;
	border-bottom: 1px solid;
	margin-bottom: 5px;
	outline: 1px solid transparent;
}
.input-border-bottom-trans{
	border-right: 0;
	border-left: 0;
	border-top: 0;
	border-radius: 0;
	border-bottom: 1px solid;
	margin-bottom: 5px;
	background:transparent;
	outline: 1px solid transparent;
}
.input-border-none{
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    border-bottom: 0;
    margin-bottom: 0;
    outline: 1px solid transparent;
}
.label{
    font-size: .7rem;
	color: rgba(0,0,0,0.7);
}

.form-btn {
    margin: 50px 0 0 0;
}
.input-text{
    font-size: 14px;
	font-weight: bold;
    box-shadow: 0px 0px
}
.input-text:focus,
.input-text-3:focus{
    border-bottom: 3px solid #43859d;
    box-shadow: 0 0;
}
.input-text-2{
    font-weight: normal;
    font-size: 1.7vw;
}
.input-text-3{
	font-weight: normal;
	font-size: 14px;
}

/***************END FORMS STYLE***************/

	/*GENERAL DECLARATIONS MEDIA QUERIES*/
	/*@media(max-width: 1920px){
		.page-content {
		    width: 80%;
		    margin: 60px auto;
		}
		.btn-circle {
		    width: 20%;
		}
		
	}*/
	@media(max-width: 1440px){
		.btn-circle {
		    width: 25%;
		}
		.page-content {
		    margin: 3% 0% 3% 16.2%;
		}
	}
	@media(max-width: 1200px){
		/*.page-content {
		    width: 80%;
		}*/
		.page-content {
		    margin: 3% 4.3% 3% 19%;
		}
		.btn-blue {
		    font-size: .8rem;
		}
		.input-text {
		    font-size: .8rem;
		}
	}
	@media(max-width: 1024px){
		.btn-circle {
		    width: 35%;
		}
		.btn-blue {
		    font-size: .6rem;
		}
		.input-text {
		    font-size: .68rem;
		}
	}
	@media(max-width: 991px){
		.page-content {
		    width: 85%;
		    margin: 3% auto;
		}
		.table-wrap {
		    padding: 15px;
		}
		.btn-circle {
		    width: 30%;
		}
		.btn-blue {
		    font-size: 11px;
		}
		.input-text {
		    font-size: 1rem;
		}
		.wrap2 {
		    width: 100%;
		}
		
	}
	@media(max-width: 767px){
		.page-content {
		    width: 90%;
		}
		/* .content {
		} */
		.table-wrap {
		    padding: 10px;
		}
		.table th, .table td {
		    padding: 0.5rem;
		    text-indent: 3px;
		}
		.form{
			width: 100% !important;
		}
		.btn-circle {
		    width: 25%;
		}


	}
	@media(max-width: 575px){
		.btn-circle {
		    width: 8%;
		}
	}
	@media(max-width: 480px){
		.page-content {
		    width: 90%;
		    margin: 30px auto;
		}
		.table th, .table td {
			padding: 0.3rem;
			text-indent: 3px;
			text-align: center;
		}
		.title {
		    padding: 10px 30px;
		}
		.btn-circle {
		    width: 7%;
		}
		.input-text {
		    font-size: .8rem;
		}
		.wrap2 {
		    width: 70%;
		}
	}
	@media(max-width: 320px){
		.page-content {
		    width: 95%;
		    margin: 25px auto;
		}
		.title {
		    padding: 5px 30px;
		}
		.title h6 {
		    font-size: .74rem;
		}
		.table-wrap {
		    padding: 10px 0px;
		}
		.btn-circle {
		    width: 10%;
		}
	}

/***************END PAGE CONTENT general declaration***************/



/***************START LOGIN PAGE***************/

.login-box {
    width: 55%;
    margin: 9rem auto;
    background-color: white;
    box-shadow: 0px 0px 20px #adb5bd;
}

.login-logo{
	box-shadow: 15px 0px 20px 0px #eee;
}

.logo-img{
    width: 90%;
    margin: 5.5rem auto
}

.login-form{
    padding: 0px 6.2vw;
    margin: 60px 0px;
}

.login-form h6{
	font-weight: bold;
	margin-bottom: 20px;
}
.login{
    margin: 25px 0px;
}
	/*START LOGIN MEDIA QUERIES*/

	@media(min-width: 320px){
		.login-box {
		    width: 100%;
	        margin: 5rem auto;	
		}
		.logo-img {
		    width: 30%;
		    margin: 0.5rem auto;
		}
		.login-form {
		    padding: 0px 10.5vw;
		    margin: 2rem 0;
		}
	}

	@media(min-width: 480px){
		.login-box {
		    width: 80%;
		    margin: 5rem auto;
		    background-color: white;
		}
		.logo-img {
		    width: 25%;
		    margin: 0.5rem 1.5rem;
		}
		.login-form {
	        padding: 0px 3rem;
		    margin: 1.5rem 0;
		}
	}

	@media(min-width: 768px){
		.logo-img {
		    width: 80%;
		    margin: 5.5rem auto 5.5rem 2rem;
		}
		.login-form {
		    padding: 0px 10vw;
		    margin: 2rem 0px;
		}
	}
	
	@media (min-width: 992px){
		.login-box{
		    width: 65%;
		}
		.logo-img {
		    width: 90%;
		    margin: 5rem 1.3rem;
		}
		.login-form {
		    padding: 0px 7vw;
		    margin: 3.5rem 0px;
		}
		.login{
		    margin: 35px 0px 0px 0px;
		}
	}

	@media (min-width: 1200px){
		.login-box{
		    width: 55%;
		    margin: 9rem auto;
		}
		.logo-img {
		    width: 90%;
		    margin: 5rem auto 5rem 1.5rem;
		}
		.login-form {
		    margin: 3.5rem 0;
		    padding: 0px 6vw;
		}
		.login{
		    margin: 40px 0px 0px 0px;
		}
	}
	@media(min-width: 1920px){
		.login-box {
		    width: 50%;
		    margin: 15rem auto;
		}
	}
		

	

	
/***************END LOGIN PAGE***************/

/***************START HEADER***************/
.header{
    height: auto;
    display: flex;
    justify-content: center;
	align-items: center;
	z-index:101;
	position: relative;
}

.left-header{
    width: 13%;
    height: 100%;
    background-color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-header{
    box-shadow: 0px 2px 10px -10px rgba(0,0,0,0.3);
	background-color: #4c8aa1;
	width: 87%;
	position: relative;
}

.logo{
    width: 25%;
}

.search-and-admin {
    margin: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
}


.search p,.admin p {
    margin: 0px 0px 0px 10px;
    font-size: 14px;
	color: white;
}

.admin span, .search span{
	color: white;
}

.search button, .admin button{
    align-items: center;
    display: flex;
}

.search button{
    justify-content: left;
}
.search button:active{
    background-color: #35697b;
}
.search button:focus{
    box-shadow: 0 0 !important;
}

.down-arrow-icon{
    width: 10%;
 }

 .search input{
 	border: 0px;
 	background-color: transparent;
 	color: white;
 	outline: none;
 	padding-left: 10px;
 }
 .search input:focus{
 	background-color: #35697b;
    border-radius: 5px;
 }
 .search ::placeholder{
 	color: white;
 }
 .admin .dropdown {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin .dropdown button{
    box-shadow: none;
}
.admin .dropdown-item:active{
	background-color: #35697b;
}
 .navigation{
 	width: 100%;
    display: block;
    position: relative;
    right: 0;
    top: 0;
 	display: none;
 }
 .header .dropdown-menu{
    /*padding: 18px !important;*/
    /*top: 14px !important;*/
    /*left: -10px !important;*/
    background-color: #4c8aa1;
    border-radius: 0px;
    border-top: 0;
    border-bottom: 10px solid rgb(53, 105, 123);
 }
 .dropdown-menu a{
 	color: white;
 }
 .navigation .dropdown-menu{
    background-color: transparent;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
 }
 .navigation .dropdown-item:active{
	background-color: #35697b;
 }
 .navbar {
    padding: 0;
}

 .navbar-header{
    position: absolute;
    right: 0px;
    top: -40px;
 }
 .navbar-toggle:focus{
    box-shadow: 0 0 !important;
 }
.navbar-collapse a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.navbar-collapse{
	top: 15px;
    position: relative;
}
.navbar-nav li{
    margin: .5rem 2.5rem;
}
.navbar-collapse ul{
    border-top: 1px solid #eee;
}

 	/*START HEADER MEDIA QUERY*/
 	@media(max-width: 1920px){
 		.search-and-admin {
		    margin: 30px;
		}
		.search p,.admin p {
		    font-size: 1rem;
		}
		.admin .dropdown button{
			width: 65%;
		    justify-content: center;
		}
		.logo {
		    width: 20%;
		}
 	}
 	@media(max-width: 1440px){
 		.search-and-admin {
		    margin: 15px;
		}
		.logo {
		    width: 25%;
		}

 	}
 	@media(max-width: 1200px){
 		.left-header {
			width: 15%;
		}
		.right-header{
			width: 85%;
		}
		.search-and-admin {
		    margin: 10px;
		}
 	}
 	@media(max-width: 1024px){
 		.left-header {
		    width: 15%;
		}
		.right-header{
			width: 85%;
		}
		.logo {
		    width: 26%;
		}
		.search-and-admin {
		    margin: 10px 20px;
		}

 	}
	@media(max-width: 991px){
		.left-header {
		    width: 15%;
		}
		.right-header {
		    width: 85%;
		}
		.admin{
			display: none;
		}
		.navigation{
			display: block;
		}
		.navbar-header {
		    top: -35px;
		}
		.search-and-admin {
		    margin: 20px;
		}
		.logo {
		    width: 27%;
		}
	}

	@media(max-width: 767px){
		.left-header {
		    width: 15%;
		}
		.right-header {
		    width: 85%;
		}
		.logo {
		    width: 30%;
		}
		.navigation{
			display: block;
			position: relative;
		    right: 0;
            top: 0px;
		}
		
		/*.navbar-header {
	        top: -38px
		}*/
		.admin{
			display: none;
		}
	}
	@media(max-width: 575px){
		.search input{
			position: relative;
		    left: 0;
		    width: 80%;
		}
		.logo {
		    width: 45%;
		}
		.search-and-admin {
		    margin: 15px;
		}
	}
	@media(max-width: 480px){
		.navigation{
            top: -4px;
		}
		.navbar-header {
		    top: -33px;
		}
		.search input {
		    width: 75%;
		}
		.search-and-admin {
		    margin: 15px;
		}
	}
	@media(max-width: 320px){
		.search input {
		    width: 70%;
	        font-size: .7rem;
		}
		.navbar-header {
		    top: -34px;
		}
		.navbar-nav li {
		    margin: .2rem 1.5rem;
		}
		.logo {
		    width: 60%;
		}
	}
/***************END HEADER***************/

/***************START SIDEBAR***************/

/*UPDATE*/
.sidebar {
    width: 13%;
    background-color: white;
    border: .5px solid rgba(0,0,0,0.2);
    position: absolute;
    z-index: 101;
    min-height: 100vh;
    bottom: 0;
    top: 0;
}
/*END UPDATE*/
.menu{
	position: sticky;
    top: 0;
}

.menu span:first-child{
    width: 20%;
    height: auto;
	font-size: 2rem;
}
.menu span:nth-child(2){
    margin-left: 1rem;
}
.icon2{
    display: none;
}
.menu a{
	font-size: 1rem;
    padding: 15px 0px 15px 30px;
    text-decoration: none;
    color: #8b8b8b;
    margin: 0;
}
.menu li:last-child > a{
	color: #43859d;  
}
.menu a:hover{
	background-color: #43859d;
	border-right: 10px solid #35697b;
    color: white !important;
}
.menu a:active{
	background-color: #43859d;
	border-right: 10px solid #35697b;
    color: white !important;
}
	/***************START FOOTER***************/
	.footer{
	    position: absolute;
	    bottom:0;
	    right: 0;
	    left: 0;
	    color: #8b8b8b;
	    font-size: 1vw;
	}
	/***************END FOOTER***************/

	/*START SIDEBAR MEDIA QUERIES*/
	@media(max-width: 1920px){
		.menu a {
		    font-size: 1.2rem;
		}
		/*.menu span{
		    margin: 5px;
		}*/
		
	}
	@media(max-width: 1440px){
		.menu span:nth-child(2){
		    margin-left: 20px;
		    font-size: .9rem;
		}
		
	}
	@media(max-width: 1200px){
		.menu a {
		    /*font-size: 13px;*/
		}
		.sidebar {
		    width: 15%;
		}
		
	}

	@media (max-width: 1024px){
		.menu a {
		    /*font-size: 14px;*/
		}
		.sidebar {
		    width: 15%;
		}
		.menu span {
		    margin: 0px;
		}

	}

	@media (max-width: 991px){
		.sidebar{
		    width: 0;
		    z-index: 1;
		    top: 0;
		    left: 0;
		    background-color: white;
		    overflow-x: hidden;
		    transition: 0.5s;
		}
		
		.menu{
		    margin: 30px 0px;
		}
	}

	@media(max-width: 767px){
		.sidebar{
		    display: none;
		}
	}
	
/***************END SIDEBAR***************/


/***************START ACCUEIL***************/

.graph, .table-prospect, .table-client, 
.table-project, .table-activities{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border: .5px solid rgba(0,0,0,0.2);
    margin: 0px 0px 50px 0px;
}

.graph-content{
    padding: 25px 32px;
}
.graph canvas{
	width: 100%;
	height: 250px;
}

.upper-text, .lower-text{
	padding: 0;
    font-size: 12px
}
.upper-text p, .lower-text p{
	margin-bottom: 0;
}

.accueil thead th{
	width: 20%;
}

.circle-check{
	display:inline-block;
	margin-left:-8px;
}

.dot {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #43859d;
    margin: 0 2px;
}
.checked{
    background-image: url(../img/circle-check.png);
    background-blend-mode: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #44849d;
}
		/*ACUEIL MEDIA QUERIES*/
		@media(max-width: 1920px){
			.graph canvas{
				height: auto;
			}
		}
		@media(max-width: 1024px){
			.dot {
			    margin: 0 .1rem 0 0;
			    float: left;
			}
		}
		@media(max-width: 991px){
			.accueil thead th {
			    text-align: center;
			}
			.dot {
			    margin: 0 .1rem; 
			}
		}
		@media(max-width: 767px){
			.accueil thead th {
			    text-align: center;
			}
			.dot {
			    height: 11px;
			    margin: 0;
			}
		}
		@media(max-width: 480px){
			.dot {
			    display: flex;
			    width: 9px;
			    height: 9px;
			}
		}
		@media(max-width: 320px){
			.graph, .table-prospect, .table-client, .table-project, .table-activities {
			    margin: 0px 0px 30px 0px;
			}
			.dot {
			    width: 8px;
			    height: 8px;
			}
		}

/***************END ACCUEIL***************/

/***************START PROSPECTS***************/
.title-label {
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-label h2{
    font-weight: bold;
}

.btn-img{
	width: 20%;
	float: left;
}

/* AJOUT PROSPECT */
.form{
	width: 75%;
	margin: 0 auto;
}
.ajout-prospect .form-btn{
    margin: 10px 0px
}
.prospect-btn-circle{
	display: flex;
    justify-content: flex-end;
}
.prospect-btn-circle .btn-circle{
    width: 20%;
}
	/*ACCUEIL MEDIA QUERIES*/
	@media(max-width: 1920px){
		.prospect-btn-circle .btn-circle {
		    width: 15%;
		}
	}
	@media(max-width: 1024px){
		.prospect-btn-circle .btn-circle {
		    width: 20%;
		}
	}
	@media(max-width: 991px){
		.form {
		    width: 100%;
		}
	}
	@media(max-width: 767px){
		.ajout-prospect .form-btn {
		    margin: 30px 0px;
		}
	}
	@media(max-width: 480px){
		.ajout-prospect .form-btn {
		    margin: 20px 0px 0px 0px;
		}
		.prospect-btn-circle .btn-circle {
		    width: 30%;
		}
	}
	@media(max-width: 320px){
		.prospect-btn-circle .btn-circle {
		    width: 50%;
		    margin: 0 0 0 .1rem;
		}
		.title-label h2 {
		    font-size: 1.5rem;
		}
		.input-text {
		    font-size: .8rem;
		    font-weight: bold;
		    box-shadow: 0px 0px;
		}
		.prospects .dot {
		    width: 9px;
		    height: 10px;
		}
	}
/***************END PROSPECTS***************/

/***************START CLIENT***************/

.client-table  tbody tr:hover td:first-child,
.prospect-table  tbody tr:hover td:first-child,
.enterprise-table  tbody tr:hover td:first-child,
.projets-table  tbody tr:hover td:first-child,
.factures-table  tbody tr:hover td:first-child{
	position: relative;

}
.client-table  tbody tr:hover td,
.prospect-table  tbody tr:hover td,
.enterprise-table  tbody tr:hover td,
.projets-table  tbody tr:hover td,
.factures-table  tbody tr:hover td{
	background-color: #43859d;
	color: white;
}
.client-table  tbody tr:hover td:last-child,
.prospect-table  tbody tr:hover td:last-child,
.enterprise-table  tbody tr:hover td:last-child,
.projets-table  tbody tr:hover td:last-child,
.factures-table  tbody tr:hover td:last-child{
	padding: 0;
}
.client-table  tbody tr:hover .action-btn,
.prospect-table  tbody tr:hover .action-btn,
.enterprise-table  tbody tr:hover .action-btn,
.projets-table  tbody tr:hover .action-btn,
.factures-table  tbody tr:hover .action-btn{
    display: flex;
    justify-content: center;
    align-items: center;

}
.client-table  tbody tr:hover .dot,
.prospect-table  tbody tr:hover .dot,
.enterprise-table  tbody tr:hover .dot,
.projets-table  tbody tr:hover .dot,
.factures-table  tbody tr:hover .dot{
	border: 1px solid white;
}
.client-table  tbody tr:hover td:first-child::before,
.prospect-table  tbody tr:hover td:first-child::before,
.enterprise-table  tbody tr:hover td:first-child::before,
.projets-table  tbody tr:hover td:first-child::before,
.factures-table  tbody tr:hover td:first-child::before{
	content: " ";
    position: absolute;
    height: 100%;
    width: 15px;
    left: -10px;
    background-color: #35697b;
    top: 0px;
}
/* VUE CLIENT */
.vue-client thead th{
	width: 20%;
}
.vue-client thead th:first-child{
	background-color: white;
}
.vue-client tbody tr td:first-child{
	background-color: #a2adb1;
	color: white;
}
.vue-client .title-label p{
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}
	/*CLIENT MEDIA QUERIES*/
	@media(max-width: 320px){
		.ajout-client .form-btn {
		    margin: 30px 0 0 0;
		}
	}

/***************END CLIENT***************/

/***************START ENTERPRISE***************/
.enterprise-table{
	margin-bottom: 50px;
}
.enterprise .dropdown{
	width: 150px;
    margin-left: 30px;
    position: relative;
}

/* VUE ENTERPRISE */
.vue-enterprise-btn button{
	margin: 5px 0px;
}
.rib{
	margin: 10px 0px;
}
.vue-enterprise-btn p{
	font-size: 10px;
    margin: .6rem 0;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
}
.vue-enterprise .form-btn .pdf-btn img{
    width: 30%;
    margin: 0 .2rem;
}

/* AJOUT ENTERPRISE */
.box{
	border: 2px dashed rgba(0,0,0,0.3);
    outline: 5px solid #eee;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 50px 0px 15px;
}
.box p{
	font-size: 9px;
    margin: 10px 0px;
}
.box button{
    font-size: 9px;
    padding: 5px;
    margin: 8px 0px
}

.upload-btn p {
    margin: 15px 19px 15px 0px;
}

/* AJOUT TRAVAUX */
.travaux-btn{
	height: 300px;
}
.travaux-btn img{
    width: 17px;
}
.travaux-btn .form-btn{
	padding-left: 3px;
}

	/*ENTERPRISE MEDIA QUERY*/
	@media(max-width: 1920px){
		.rib {
		    margin: 0px;
		}
		.upload-box .form-btn {
		    margin: 6.5rem 0;
		}
		.vue-enterprise-btn p {
		    font-size: 12px;
		    margin: .8rem 0;
		}
		.vue-enterprise .form-btn .pdf-btn img {
		    width: 25%;
		}
	}
	@media(max-width: 1200px){
		.travaux-btn .btn-blue{
			font-size: .7rem;
		}
	}
	@media(max-width: 1024px){
		.vue-enterprise-btn p {
		    font-size: 11px;
		}
		.travaux-btn .btn-blue {
		    font-size: 10px;
		}
		.upload-btn p {
		    margin: 13px 4px;
		}
	}
	@media(max-width: 991px){
		.upload-btn p {
		    margin: 1rem 0;
		    padding-right: 0.7rem;
		    font-size: .5rem;
		}
		.travaux-btn .btn-blue {
		    font-size: 12px;
		}

	}
	@media(max-width: 767px){
		.ajout-enterprise .btn-img {
		    width: 10%;
		    margin: 0 .7rem 0 0;
		}
		.ajout-enterprise .btn-white{
			justify-content: flex-start;
		}
		.upload-btn p {
		     margin: 0; 
		     padding-right: 0; 
		    font-size: .6rem;
		}
		.upload-box .form-btn {
		    margin: 1.5rem 0;
		}
		.travaux-btn > .form-btn {
		    margin: 25px 0 0 0;
		}
		.vue-enterprise .pdf-btn img {
		    width: 10%;
		    margin: 0px 5px 0px 0px;
		}
		.vue-enterprise-btn p {
		    font-size: 14px;
		    margin: 0.6rem 0;
		}
		.vue-enterprise .form-btn .pdf-btn img {
		    width: 15%;
		}
		.travaux-btn {
		    height: auto;
		}
	}
	@media(max-width: 480px){
		.enterprise .dropdown {
		    position: absolute;
		    top: -45px;
		    left: 100px;
		}
		.ajout-enterprise .btn-img {
		    width: 10%;
		    margin: 0 .7rem;
		}
		.ajout-enterprise .btn-white{
			justify-content: flex-start;
		}
		.travaux-btn > .form-btn {
		    margin: 0;
		}
		.travaux-btn {
		    height: 120px;
		}
		.vue-enterprise .form-btn .pdf-btn img {
		    width: 5%;
		}
		.vue-enterprise .form-btn{
			margin: 25px 0 0 0;
		}
		.vue-enterprise-btn button {
		     margin: 0px; 
		}
	}
	@media(max-width: 320px){
		.enterprise .dropdown select {
		    font-size: .8rem;
		    width: 70%;
		    position: absolute;
		    top: 0;
		    left: -45px;
		}
	}
/***************END ENTERPRISE***************/


/***************START AJOUT PROJETS***************/

.table-textarea{
	background: transparent;
    border: 0 none;
}

.table-dropdown{
	background: transparent;
    border: 0 none;
}

.form2{
	width: 85%;
	margin: 0 auto;
}
.ajout-projets .btn-white {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.ajout-projets .btn-img {
    width: 15%;
}
.upload-box1 > p,
.upload-box2 > p,
.upload-box3 > p{
	font-size: 12px;
	font-weight: bold;
}
.three-btn{
    padding: 0px 5px;
}
.table-ajout-projet a{
	text-decoration: none;
	color: rgba(0,0,0,0.5);
}
.vue-projet .btn-circle{
    width: 40px;
    margin: 0px 5px;
}
.vue-projet .planning-btn a{
	text-decoration: none;
}
.projet-btn-circle{
	display: flex;
    justify-content: flex-end;
}
.projet-btn-circle .btn-circle{
    width: 20%;
}
	/*PROJETS MEDIA QUERIES*/
	@media(max-width: 1920px){
		.projet-btn-circle .btn-circle {
		    width: 15%;
		}
		.ajout-projets .wrap2 {
		    width: 100%;
		}
	}
	@media(max-width: 1440px){
		.three-btn .btn-blue {
		    font-size: 11px;
		}
	}
	@media(max-width: 1024px){
		.projet-btn-circle .btn-circle {
		    width: 20%;
		}
		.three-btn .btn-blue {
		    font-size: 9px;
		}
	}
	@media(max-width: 991px){
		.form2 {
		    width: 100%;
		}
		.vue-projet .btn-circle {
		    width: 15%;
		    margin: 0px 5px;
		}
		.ajout-projets .btn-img {
		    width: 10%;
		}
	}
	@media(max-width: 767px){
		.form2 {
		    width: 100%;
		}
		.vue-projet .btn-circle {
		    width: 25px;
		}
		.projets .table-btn {
		    width: 20px;
		    padding: 0 .1rem;
		}
		.projets .table-btn:hover{
			background-color: transparent;
		}
		.ajout-projets .btn-img {
		    width: 10%;
		}
		.three-btn {
		    padding: 0px 15px;
		}
		.planning-btn{
			margin-bottom: 20px;
		}
		.three-btn .btn-blue {
		    font-size: 11px;
		}
	}
	@media(max-width: 480px){
		.projet-btn-circle .btn-circle {
		    width: 30%;
		}
		.ajout-projets .wrap2 {
		    width: 70%;
		}
		.ajout-projets .upload-box .form-btn {
		    margin: .5rem 0;
		}
		.three-btn .form-btn {
		    margin: 20px 0 0 0;
		}
	}
	@media(max-width: 320px){
		.projet-btn-circle .btn-circle {
		    width: 50%;
		    margin: 0 0 0 .1rem;
		}
		.planning-btn{
		    margin: 20px auto;
		}
		.vue-projet .form-btn{
			margin: 20px 0px 0px 0px;
		}
		.three-btn {
		    padding: 0 15px;
		}
	}
/***************END AJOUT PROJETS***************/



/***************START AJOUT FACTURES***************/
.ajout-factures li{
	font-size: 14px;
	margin: 10px 0px 0px;	
}
.ajout-factures .pdf-btn {
    width: 70%;
}

.ajout-factures  img{
    margin: 0px 3px 0px 0px;
}
	/*AJOUT FACTURES MEDIA QUERIES*/
	@media(max-width: 1920px){
		.ajout-factures .pdf-btn img {
		    width: 20%;
		    margin: 0px 5px 0px 0px;
		}
	}
	@media(max-width: 1440px){
		.ajout-factures .pdf-btn img {
		    width: 30%;
		}
	}
	@media(max-width: 1024px){
		.ajout-factures .pdf-btn {
		    width: 75%;
		}
	}
	@media(max-width: 767px){
		.ajout-factures .pdf-btn {
		    width: 15%;
		}
	}
	@media(max-width: 480px){
		.ajout-factures .pdf-btn {
		    width: 20%;
		}
	}
/***************END AJOUT FACTURES***************/

.planning-btn-circle{
	display: flex;
    justify-content: flex-end;
}
.planning-btn-circle .btn-circle{
    width: 15%;
}
.planning-table{
	margin-top: 3vw;
	margin-bottom: 3vw;
}

	/*PLANNING MEDIA QUERIES*/
	@media(max-width: 480px){
		.planning .form-btn {
		    margin: 20px 0 0 0;
		}
		.planning-btn-circle .btn-circle {
		    width: 30%;
		}
	}
	@media(max-width: 320px){

	}