<template>
<div class="col-12">
					<div class="ajout-projets form2">
						<div class="title-label row">
							<div class="col-md-10 col-sm-9">
								<h2>{{objective.year}}</h2>
							</div>
							<div class="col-md-2 col-sm-3 p-0">
								<div class="prospect-btn-circle pr-2">
									<div class="btn-circle">

										<button v-if="!edit_mode" class="btn-sm btn btn-circle-white">
										<span v-on:click="enableEdit" id='edit-link' method='get'><img class="img-responsive rounded" src="/img/edit2.png"></span>
										</button>

										<button v-if="edit_mode" class="btn-sm btn btn-circle-white">
										<span v-on:click="saveObjective($event)" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/save_icon.png"></span>
										</button>

									</div>
									<div class="btn-circle">
										<button v-if="!edit_mode" class="btn-sm btn btn-circle-blue">
											<a v-on:click="enterIndexMode" href="/config" id='index-link' class='ajax-link' method='get'><img class="img-responsive rounded" src="/img/arrow-left2.png"></a>
										</button>

										<button v-if="edit_mode" class="btn-sm btn btn-circle-white">
										<span v-on:click="discardEdits" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/close_icon.png"></span>
										</button>

									</div>
								</div>
							</div>
						</div>

						<!-- PROJECT DETAILS -->
						<div class="form-group row">
							<div class="col-6">
									<div class="row">
										<div class="col-12">
											<label class="label">Janv</label>
											<input
												v-model="objective.jan"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Févr</label>
											<input
												v-model="objective.feb"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Mars</label>
											<input
												v-model="objective.mar"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Avr</label>
											<input
												v-model="objective.apr"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Mai</label>
											<input
												v-model="objective.may"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Juin</label>
											<input
												v-model="objective.jun"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
								</div>

								<div class="col-6">
									<div class="row">
										<div class="col-12">
											<label class="label">Juil</label>
											<input
												v-model="objective.jul"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Août</label>
											<input
												v-model="objective.aug"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Sept</label>
											<input
												v-model="objective.sep"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Oct</label>
											<input
												v-model="objective.oct"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Nov</label>
											<input
												v-model="objective.nov"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Déc</label>
											<input
												v-model="objective.dec"
												:disabled="!edit_mode"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
								</div>
						</div>
					</div>
</div>
</template>
<script>
export default {
	props:['common','data'],
	data(){
		return{

			edit_mode:false,

			saveDebounce:false,

			project_id:null,

			objective:{

				year:0,
				jan:0,
				feb:0,
				mar:0,
				apr:0,
				may:0,
				jun:0,
				jul:0,
				aug:0,
				sep:0,
				oct:0,
				nov:0,
				dec:0,

			},

		}
	},
	watch:{

		// data:{

		// 	handler(){
		// 		this.mergeData();
		// 	},
		// 	deep:true

		// },

	},
	methods:{
		enterIndexMode(event){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href')
				el.$emit('enterIndexMode',false,function(){
					pushHistory(url,'Projets');
				});
            });
            
        },
        enableEdit(){
            
            this.edit_mode=true;

        },
        discardEdits(){

            this.mergeData();
            this.edit_mode=false;

        },
		saveObjective(event){

			this.edit_mode=false;

			// DEBOUNCE
			if (this.saveDebounce){
				event.preventDefault();
				event.stopImmediatePropagation();
				return;
			}

			this.saveDebounce=true;

			let pro=this.project;

			handleClick(this,event,function(el,e){
				el.$root.startLoading();
				$.ajax({
					url:'/api/config',
					method:'patch',
					dataType:"json",
					data:{
						data:el.objective,
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						let url=data.url;
						let id=data.id;

						el.$root.doneLoading();
						el.$emit('enterShowMode',id,false,function(){
							pushHistory(url,"Vue Projet");
							// UNDEBOUNCE
							el.saveDebounce=false;
						});
					},
					error(response){
						el.$root.failHandler(response);
						// UNDEBOUNCE
						el.saveDebounce=false;
					}
				});
			});
		},
		quickUpdate(){
			this.$nextTick(this.$forceUpdate());
		},
		mergeData(){

			this.edit_mode=this.data.edit_mode;

			this.objective_id=this.data.objective_id;
			
			this.objective=this.data.objective[this.objective_id];

			this.quickUpdate();

		}
	},
	created(){

		this.mergeData();

	}

	
}
</script>
<style>

input.right-align, td.right-align{
	text-align:right;
}

.control{
	margin:0 !important;
	padding:0 !important;
	padding-right:5px !important;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2.7rem;
}

.input-control{
	font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.fill{
	width:100%;
}

.removeCategoryButton{
	position: absolute;
    -webkit-transform: translate(-1rem, -100%);
    transform: translate(-0.3rem, -250%);
    background: #60000055;
    outline: none;
    border: 0 none;
    color: #99452b;
    font-size: 0.7rem;
    border-radius: 0.6rem;
	padding:0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.group-dark{
	background-color:#e8e8e4 !important;
}

.results-box{
	background: white;
    position: absolute;
    height: auto;
    display: inline-block;
    clear: both;
    z-index: 1;
    width: 80%;
    border-left: 4px solid #4c8aa1;
    border-bottom: 1px solid;
    box-shadow: 3px 3px 6px 0px grey;
}

.result-item{
	padding: 0.4rem;
    box-sizing: border-box;
}

.result-item:hover{
	background-color: #4c8aa1;
}

.box{
	transition: transform 0.3s;
}

.box-dragover{
	transform:scale(1.1);
}

</style>
