<template>
    <div class="projets col-12">
        <div class="title-label row">
            <div class="col-md-10">
                <h2>Listing des Objectifs</h2>
            </div>
            <div class="col-md-2">
                <div class="float-right">
                    <a v-on:click="enterCreateMode" href="/config/create">
                        <button class="btn-sm btn btn-blue" style="width: 100px;">
                            <div class="btn-img">
                                <img class="img-responsive" src="/img/btn-plus.png">
                            </div> Ajouter
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <!-- START TABLEAU PROJETS -->
        <div class="projets-table row">
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Année</th>
                            <th>Janv</th>
                            <th>Févr</th>
                            <th>Mars</th>
                            <th>Avr</th>
                            <th>Mai</th>
                            <th>Juin</th>
                            <th>Juil</th>
                            <th>Août</th>
                            <th>Sept</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Déc</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="objective in objectives[current_page]"
                            v-on:click="enterShowMode($event, objective.id,false)"
                            :key="objective.id"
                            :href="'/config/'+objective.id"
							:style="keepHover[objective.id]?{color: '#fff',backgroundColor: '#43859d'}:null"
                        >
                            <td>{{objective.year}}</td>
                            <td>{{(objective.jan/1000).toFixed(1)}}k</td>
                            <td>{{(objective.feb/1000).toFixed(1)}}k</td>
                            <td>{{(objective.mar/1000).toFixed(1)}}k</td>
                            <td>{{(objective.apr/1000).toFixed(1)}}k</td>
                            <td>{{(objective.may/1000).toFixed(1)}}k</td>
                            <td>{{(objective.jun/1000).toFixed(1)}}k</td>
                            <td>{{(objective.jul/1000).toFixed(1)}}k</td>
                            <td>{{(objective.aug/1000).toFixed(1)}}k</td>
                            <td>{{(objective.sep/1000).toFixed(1)}}k</td>
                            <td>{{(objective.oct/1000).toFixed(1)}}k</td>
                            <td>{{(objective.nov/1000).toFixed(1)}}k</td>
                            <td>{{(objective.dec/1000).toFixed(1)}}k</td>
                            <td style="width:10%">
                                <div class="action-btn">
                                    <button v-on:click="enterShowMode($event,objective.id,true)" :href="'/config/'+objective.id" class="table-btn"><a href="?page=vue-enterprise"><img class="img-responsive" src="/img/edit.png"></a></button>
                                
                                    <button  v-on:click="promptDelete($event,objective.id,objective.year)" class="table-btn"><img class="img-responsive" src="/img/delete.png"></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
			<nav aria-label="...">
				<ul class="pagination">
					<li v-bind:class="{'disabled':(current_page==1)}" class="page-item">
					<a v-on:click="pageNavigate" :href="'/config?page='+(current_page-1)" class="page-link" v-bind:page-number="current_page-1">Précédent</a>
					</li>

					<li v-for="page in last_page" :key="page" v-bind:class="{'disabled':(page==current_page)}" class="page-item">
						<a v-if="page!=current_page" v-on:click="pageNavigate" v-bind:href="'/config?page='+page" class="page-link" v-bind:page-number="page">{{page}}</a>
						<span v-if="page==current_page" class="page-link">{{page}}</span>
					</li>

					<li v-bind:class="{'disabled':(current_page==last_page)}" class="page-item">
					<a v-on:click="pageNavigate" :href="'/config?page='+(current_page-(-1))" class="page-link" v-bind:page-number="current_page-(-1)" >Suivant</a>
					</li>
				</ul>
			</nav>
        </div>
    </div>
</template>
<script>
export default {
    props:{
		common:{},
		data:{

            current_page:null
            
		}
	},
	data(){
		return{

			keepHover:{},

			current_page:null,
			last_page:null,
			objectives:[],
			hash:[]

		}
	},
	watch:{

		data:{

			handler(){
				this.mergeData();
			},
			deep:true

		},

    },
	methods:{
		enterIndexMode(){
			let el=this;
			this.$emit('enterIndexMode',this.current_page,function(){
				el.mergeData();
			});
		},
		enterCreateMode(event){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterCreateMode',function(){
					pushHistory(url,'Config');
				});
			});
		},
		enterShowMode(event,id,edit){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterShowMode',id,edit,function(){
					pushHistory(url,'Config');
				});
			});

		},
		pageNavigate(event){
			handleClick(this,event,function(el,e){

				let page=e.currentTarget.getAttribute('page-number');

				if(page==el.current_page||page<1||page>el.last_page) return;
				
				el.$root.startLoading();

				let url=e.currentTarget.getAttribute('href');

				el.$parent.fetchIndexData(el.$parent,page,function(){
					el.$root.doneLoading();
					pushHistory(url,'Config');
				});

			});
		},
        promptDelete(event,id,name){
			event.stopImmediatePropagation();
			let el=this;
			this.keepHover[id]=true;
			this.$nextTick(this.$forceUpdate());
			let deleter=function(){
				el.$root.startLoading();
				$.ajax({
                url:'/api/config?id='+id,
                method:'delete',
				dataType:"json",
                data:{
                    _token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                success(data){
					el.$root.doneLoading();
                    el.$emit('enterIndexMode',this.current_page,function(){
						el.mergeData();
					});
                },
                error(response){
					
					el.$root.failHandler(response);
					
                }
            });
			}
			launchModal(
				'Confirmation de suppression',
				'Êtes vous sûr de bien vouloir supprimer le objectif "'+name+'"?',
				function(){el.keepHover[id]=false; el.$nextTick(el.$forceUpdate());},
				deleter
			);
		},
		mergeData(){

			this.current_page=this.data.current_page;
			this.last_page=this.data.last_page;
			this.objectives[this.current_page]=this.data.objectives[this.current_page];
			this.$nextTick(this.$forceUpdate());

		}
	},
	created(){

		this.mergeData();

	}
}
</script>
