<template>
<div class="col-12">
					<div class="ajout-projets form2" ref="test">
						<div class="title-label row">
							<div class="col-md-10 col-sm-9">
								<h2>Ajout Objectif</h2>
							</div>
							<div class="col-md-2 col-sm-3">
								<div class="btn-circle">
									<button class="btn-sm btn btn-circle-white">
										<a v-on:click="enterIndexMode" href="/config"><img class="img-responsive rounded" src="/img/arrow-left.png"></a>
									</button>
								</div>
							</div>
						</div>

						<!-- PROJECT DETAILS -->
						<div class="form-group row">
								<div class="col-12">
									<label class="label">Année</label>
									<input
										v-model="objective.year"
										required
										type="number"
										class="input-text input-border-bottom form-control"
									>
								</div>

								<div class="col-6">
									<div class="row">
										<div class="col-12">
											<label class="label">Janv</label>
											<input
												v-model="objective.jan"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Févr</label>
											<input
												v-model="objective.feb"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Mars</label>
											<input
												v-model="objective.mar"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Avr</label>
											<input
												v-model="objective.apr"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Mai</label>
											<input
												v-model="objective.may"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Juin</label>
											<input
												v-model="objective.jun"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
								</div>

								<div class="col-6">
									<div class="row">
										<div class="col-12">
											<label class="label">Juil</label>
											<input
												v-model="objective.jul"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Août</label>
											<input
												v-model="objective.aug"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Sept</label>
											<input
												v-model="objective.sep"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Oct</label>
											<input
												v-model="objective.oct"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Nov</label>
											<input
												v-model="objective.nov"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label class="label">Déc</label>
											<input
												v-model="objective.dec"
												type="number"
												class="input-text input-border-bottom form-control"
											>
										</div>
									</div>
								</div>

								<div class="col-md-6 offset-6">
									<div class="row">
										<div class="three-btn offset-8 col-md-4 col-sm-4">
											<button
												v-on:click="saveObjective"
												id="save"
												class="btn-blue btn btn-block form-btn"
											>Enregistrer</button>
										</div>
									</div>
								</div>
						</div>
					</div>
</div>
</template>
<script>
export default {
	props:['common','data'],
	data(){
		return{

			saveDebounce:false,

			objective:{

				year:new Date().getFullYear(),
				jan:0,
				feb:0,
				mar:0,
				apr:0,
				may:0,
				jun:0,
				jul:0,
				aug:0,
				sep:0,
				oct:0,
				nov:0,
				dec:0,

			},

		}
	},
	watch:{

		// data:{

		// 	handler(){
		// 		this.mergeData();
		// 	},
		// 	deep:true

		// },

	},
	computed:{
		overwork:{
			cached:false,
			get:function(){
				let el=this;
				let over=0;
				Object.values(el.project.work_categories).forEach(function(category){
					let work_count=Object.values(el.work_categories_by_id[category.work_category_id].works).reduce(function(count){
						return count+1;
					},0);
					if (work_count>3) over+=(work_count-3);
				});
				return over;
			}
		},
		work_categories_by_id(){
			let by_id={};
			Object.values(this.data.work_categories).forEach(function(work_cat){
				by_id[work_cat.id]=work_cat;
			});
			return by_id;
		}
	},
	methods:{
		enterIndexMode(event){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href')
				el.$emit('enterIndexMode',false,function(){
					pushHistory(url,'Config');
				});
            });
        
        },
		saveObjective(event){
			// DEBOUNCE
			if (this.saveDebounce){
				event.preventDefault();
				event.stopImmediatePropagation();
				return;
			}

			this.saveDebounce=true;
			handleClick(this,event,function(el,e){
				el.$root.startLoading();
				$.ajax({
					url:'/api/config',
					method:'post',
					dataType:"json",
					data:{
						data:el.objective,
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						let url=data.url;
						let id=data.id;

						el.$root.doneLoading();
						el.$emit('enterShowMode',id,false,function(){
							pushHistory(url,"Config");
							// UNDEBOUNCE
							el.saveDebounce=false;
						});

					},
					error(response){
						el.$root.failHandler(response);
						// UNDEBOUNCE
						el.saveDebounce=false;
					}
				});
			});
		},
		quickUpdate(){
			this.$nextTick(this.$forceUpdate());
		},
		mergeData(){

			this.objective={

				year:new Date().getFullYear(),
				jan:0,
				feb:0,
				mar:0,
				apr:0,
				may:0,
				jun:0,
				jul:0,
				aug:0,
				sep:0,
				oct:0,
				nov:0,
				dec:0,

			};

		}
	},
	created(){

		this.mergeData();

	}

	
}
</script>
<style>

input.right-align, td.right-align{
	text-align:right;
}

.control{
	margin:0 !important;
	padding:0 !important;
	padding-right:5px !important;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2.7rem;
}

.input-control{
	font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.fill{
	width:100%;
}

.removeCategoryButton{
	position: absolute;
    -webkit-transform: translate(-1rem, -100%);
    transform: translate(-0.3rem, -250%);
    background: #60000055;
    outline: none;
    border: 0 none;
    color: #99452b;
    font-size: 0.7rem;
    border-radius: 0.6rem;
	padding:0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.group-dark{
	background-color:#e8e8e4 !important;
}

.results-box{
	background: white;
    position: absolute;
    height: auto;
    display: inline-block;
    clear: both;
    z-index: 1;
    width: 80%;
    border-left: 4px solid #4c8aa1;
    border-bottom: 1px solid;
    box-shadow: 3px 3px 6px 0px grey;
}

.result-item{
	padding: 0.4rem;
    box-sizing: border-box;
}

.result-item:hover{
	background-color: #4c8aa1;
}

.box{
	transition: transform 0.3s;
}

.box-dragover{
	transform:scale(1.1);
}

</style>
