<template>

	<main role="main" class='page container-fluid'>

		<Header v-bind:links="links"/>
		<div class="content row">
			<Navbar ref="navbar" v-bind:links="links" v-bind:current="resource"/>
			<Loading ref="loading"/>
				<keep-alive>
					<transition name="fade">
						<Dashboard ref="page" v-if="resource==='dashboard'" :key="resource" v-bind:data="page[resource]"/>
						<Prospects ref="page" v-else-if="resource==='prospects'" :key="resource" v-bind:data="page[resource]"/>
						<Clients ref="page" v-else-if="resource==='clients'" :key="resource" v-bind:data="page[resource]"/>
						<Companies ref="page" v-else-if="resource==='companies'" :key="resource" v-bind:data="page[resource]"/>
						<Projects ref="page" v-else-if="resource==='projects'" :key="resource" v-bind:data="page[resource]"/>
						<WorkCategories ref="page" v-else-if="resource==='work_categories'" :key="resource" v-bind:data="page[resource]"/>
						<Bills ref="page" v-else-if="resource==='bills'" :key="resource" v-bind:data="page[resource]"/>
						<Config ref="page" v-else-if="resource==='config'" :key="resource" v-bind:data="page[resource]"/>
						<Test v-else-if="resource==='test'"/>
					</transition>
				</keep-alive>
		</div>

	</main>

</template>
<script>
export default {
	data(){ 
		return {
			resource:String,

			pageTitles:{
				dashboard:{
					index:"Accueil"
				},
				prospects:{
					index:"Prospects",
					show:"Vue Prospect",
					create:"Ajout Prospect"
				},
				clients:{
					index:"Clients",
					show:"Vue Client",
					create:"Ajout Client"
				},
				companies:{
					index:"Enterprises",
					show:"Vue Enterprise",
					create:"Ajout Enterprise"
				},
				work_categories:{
					index:"Domaines",
					show:"Vue Travaux",
					create:"Ajout Travaux"
				},
				projects:{
					index:"Projets",
					show:"Vue Projet",
					create:"Ajout Projet"
				},
				bills:{
					index:"Factures",
					show:"Vue Facture"
				},
				config:{
					index:"Config",
					show:"Config",
					create:"Config"
				}
			},
			
			page:{
				prospects:{
					mode:'index'
				},
				clients:{
					mode:'index'
				},
				companies:{
					mode:'index'
				},
				work_categories:{
					mode:'index'
				},
				projects:{
					mode:'index'
				},
				bills:{
					mode:'index'
				},
				config:{
					mode:'index'
				}
			},
			links:{}
		}
	},
	methods:{
		navigate(event,page){
			let model=this.page;
			let showURL=event.currentTarget.getAttribute('href');
			this.$root.startLoading();
			handleClick(this,event,function(el,e){
				let url='/api/pages'+e.currentTarget.getAttribute('href')+'?hash='+ function(){ try {return model[page].hash;} catch(e) {return '';} }();
				$.ajax({
					url,
					method:"get",
					dataType:"json",
					success(data){
						if (data.data_state==="new"){
							model[page]=Object.assign({},data);
						}

						el.resource=page;
						el.$nextTick(function(){
							
							el.$refs.page.mergeData?
							el.$root.$refs.app.$refs.page.mergeData():null;
							el.$nextTick(function(){
								el.$refs.page.$refs.mode&&
								el.$refs.page.$refs.mode.mergeData?
								el.$refs.page.$refs.mode.mergeData():null;
								el.$nextTick(function(){
									el.$refs.page.$refs.mode&&
									el.$refs.page.$refs.mode.$forceUpdate?
									el.$refs.page.$refs.mode.$forceUpdate():null;

								});

							});

						});
						pushHistory(showURL,el.pageTitles[page].index);
						el.$root.doneLoading();
					},
					error(response){
						el.$root.failHandler(response);
					}
				});
			});
		},
		loadCommon(page,callback){
			let el=this;
			let model=this.page;
			let url='/api/'+page+'/common?hash='+ function(){ try {return model[page].common.hash;} catch(e) {return '';} }();
				$.ajax({
					url,
					method:"get",
					dataType:"json",
					success(data){

						if (data.data_state==="new"){
							model[page].common=Object.assign({},data);
						}

						callback();
					},
					error(response){
						el.$root.failHandler(response);
					}
				});

		},
		navigateIndex(page,pageNumber,callback=function(){}){
			let el=this;
			let model=this.page;
			this.$root.startLoading();
			let success=function(){
				let url=(page!='dashboard')?'/api/'+page+'/index?page='+pageNumber+'&hash='+ function(){ try {return typeof model[page].hash=="Object"?model[page].hash[pageNumber]:model[page].hash;} catch(e) {return '';} }()
					:'/api/pages/dashboard';
				
				$.ajax({
					url,
					method:"get",
					dataType:"json",
					success(data){
						if (data.data_state==="new"){
							if (page!='dashboard'){
								model[page].modes={};
								model[page].modes.index=Object.assign({},data);
							}else{
								model[page]={}
								model[page]=Object.assign({},data);
							}
						}

						el.resource=page;
						el.$nextTick(function(){
							
							if (page!='dashboard') model[page].mode='index';
							el.$refs.page.mergeData?
							el.$refs.page.mergeData():null;
							el.$nextTick(function(){
								el.$refs.page.$refs.mode&&
								el.$refs.page.$refs.mode.mergeData?
								el.$refs.page.$refs.mode.mergeData():null;
								el.$nextTick(function(){
									el.$refs.page.$refs.mode&&
									el.$refs.page.$refs.mode.$forceUpdate?
									el.$refs.page.$refs.mode.$forceUpdate():null;

								});

							});

						});
						callback();
						el.$root.doneLoading();
					},
					error(response){
						el.$root.failHandler(response);
					}
				});

			}

			if (page!='dashboard') {
				this.loadCommon(page,success);
			} else {
				success();
			}
		},
		navigateShow(page,id,edit_mode,callback=function(){}){
			let el=this;
			let model=this.page;
			this.$root.startLoading();
			let success=function(){
				let url='/api/'+page+'/show?id='+id+'&hash='+ function(){ try {return model[page].hash[id];} catch(e) {return '';} }();
				$.ajax({
					url,
					method:"get",
					dataType:"json",
					success(data){
						if (data.data_state==="new"){
							model[page].modes={};
							model[page].modes.show=Object.assign({},data);
						}

						el.resource=page;
						el.$nextTick(function(){
							
							model[page].mode='show';
							el.$refs.page.mergeData?
							el.$refs.page.mergeData():null;
							el.$nextTick(function(){
								el.$refs.page.$refs.mode&&
								el.$refs.page.$refs.mode.mergeData?
								el.$refs.page.$refs.mode.mergeData():null;
								el.$nextTick(function(){
									el.$refs.page.$refs.mode&&
									el.$refs.page.$refs.mode.$forceUpdate?
									el.$refs.page.$refs.mode.$forceUpdate():null;

								});

							});

						});
						callback();
						el.$root.doneLoading();
					},
					error(response){
						el.$root.failHandler(response);
					}
				});

			}

			this.loadCommon(page,success);
		},
		navigateCreate(page,callback=function(){}){
			let el=this;
			let model=this.page;
			this.$root.startLoading();
			let success=function(){
				let url='/api/'+page+'/create?hash='+ function(){ try {return model[page].hash;} catch(e) {return '';} }();
				
				$.ajax({
					url,
					method:"get",
					dataType:"json",
					success(data){
						if (data.data_state==="new"){
							model[page].modes={};
							model[page].modes.create=Object.assign({},data);
						}

						el.resource=page;
						el.$nextTick(function(){
							
							model[page].mode='create';
							el.$refs.page.mergeData?
							el.$refs.page.mergeData():null;
							el.$nextTick(function(){
								el.$refs.page.$refs.mode&&
								el.$refs.page.$refs.mode.mergeData?
								el.$refs.page.$refs.mode.mergeData():null;
								el.$nextTick(function(){
									el.$refs.page.$refs.mode&&
									el.$refs.page.$refs.mode.$forceUpdate?
									el.$refs.page.$refs.mode.$forceUpdate():null;

								});

							});

						});
						callback();
						el.$root.doneLoading();
					},
					error(response){
						el.$root.failHandler(response);
					}
				});

			}

			this.loadCommon(page,success);
		},
	},
	created(){
		this.resource=globalStartData.resource;
		this.page[this.resource]=Object.assign({},globalStartData.page);
		this.links=Object.assign({},globalStartData.links);
	}
}
</script>
<style>
	.fade-enter-active{
		transition: all .5s;
	}
	.fade-leave-active {
		position:absolute;
		right:0;
		transition: all .5s;
	}
	.fade-enter{
		opacity: 0;
		transform: translateX(-100%);
	}
	.fade-leave-to{
		opacity: 0;
		transform: translateX(100%);
	}

	.throw-enter-active{
		transition: all .5s;
	}
	.throw-leave-active {
		position:absolute;
		top:0;
		transition: all .5s;
	}
	.throw-enter{
		opacity: 0;
		transform: scale(.2);
		z-index:2;
	}
	.throw-leave-to{
		opacity: 0;
		transform: scale(1.2);
		z-index:1;
	}
</style>
