<template>
	<iframe id="pdf" style="width: 100%; height: 100vh;"></iframe>
</template>
<script>
import { StandardFonts, PDFDocument, degrees, grayscale, rgb, ColorTypes, PDFDict } from 'pdf-lib'
import fontkit from '@pdf-lib/fontkit'
export default {
	data(){
		return{
			
		}
			
	},
	methods:{
		async generateReport(){

// --------------------------------------------------------------
// DATA

			let name='John Doe';
			let address='123 Test address';
			let postal_code='12345';
			let client_postal='12312';
			let city='Paris';
			let email='asd@gmail.com';
			let mobile='1238-12312-12312';
			let ht='24 232,99';
			let tva='4 234,04';
			let ttc='123 232,05';
			let date="29/12/2019";
			let project_name="Test Project";
			let bill_id="12".padStart(6,'0');
			let categories=[
				{
					name:'Etude',
					price:'1 232,44',
					works:[
						"Test Work",
						"Test Work 2",
						"Another test work",
						"More work",
						"Test work name"
					]
				},
				{
					name:'Test Lot',
					price:'1 232,44',
					works:[
						"Test Work",
						"Test Work 2",
						"Another test work",
						"More work",
						"Test work name"
					]
				},
				{
					name:'Test Lot',
					price:'1 232,44',
					works:[
						"Test Work",
						"Test Work 2",
						"Another test work",
						"More work",
						"Test work name"
					]
				},
				{
					name:'Test Lot',
					price:'1 232,44',
					works:[
						"Test Work",
						"Test Work 2",
						"Another test work",
						"More work",
						"Test work name"
					]
				},
				{
					name:'Test Lot',
					price:'1 232,44',
					works:[
						"Test Work",
						"Test Work 2",
						"Another test work",
						"More work",
						"Test work name"
					]
				},
				{
					name:'Test Lot',
					price:'1 232,44',
					works:[
						"Test Work",
						"Test Work 2",
						"Another test work",
						"More work",
						"Test work name"
					]
				},
				
			];


// --------------------------------------------------------------
// GENERATOR

			let y=0;
			function lastY(x){
				y-=x;
				return y;
			}

			const infoURL='/api/files/resource?path=invoice.pdf';
			const texURL='/font/segoe-ui.ttf';
			const texBoldURL='/font/segoe-ui-bold.ttf';

			const infoSRC=await axios.get(infoURL,{responseType:'arraybuffer'}).then(res => res.data);
			const texSRC=await axios.get(texURL,{responseType:'arraybuffer'}).then(res => res.data);
			const texBoldSRC=await axios.get(texBoldURL,{responseType:'arraybuffer'}).then(res => res.data);


			console.log(texSRC);

			const pdfDoc = await PDFDocument.create();
			pdfDoc.registerFontkit(fontkit);
			const infoPage = await PDFDocument.load(infoSRC).then(doc=>pdfDoc.copyPages(doc,[0])).then(pages=>pages[0]);
			const tex = await pdfDoc.embedFont(texSRC);
			const texBold = await pdfDoc.embedFont(texBoldSRC);
			const timesFont = await pdfDoc.embedFont(StandardFonts.TimesRoman);
			const timesFontItalic = await pdfDoc.embedFont(StandardFonts.TimesRomanBoldItalic);
			const timesFontBold = await pdfDoc.embedFont(StandardFonts.TimesRomanBold);

			let currentPage=0;
			const info=pdfDoc.addPage(infoPage);
			info.setFont(tex);
			info.setFontSize(11);

			info.drawText("# "+bill_id,{
				x:495-tex.widthOfTextAtSize("# "+bill_id,11),
				y:732
			});

			y=640;

			info.drawText(name,{
				x:495-texBold.widthOfTextAtSize(name,11),
				y:lastY(0),
				font:texBold
			});

			info.drawText(address,{
				x:495-tex.widthOfTextAtSize(address,11),
				y:lastY(12)
			});

			info.drawText(postal_code+" "+city,{
				x:495-tex.widthOfTextAtSize(postal_code+" "+city,11),
				y:lastY(12)
			});

			info.drawText(mobile,{
				x:495-tex.widthOfTextAtSize(mobile,11),
				y:lastY(12)
			});

			info.drawText(date,{
				x:495-tex.widthOfTextAtSize(date,11),
				y:lastY(24)
			});

			info.drawText(date,{
				x:495-tex.widthOfTextAtSize(date,11),
				y:lastY(18)
			});

			info.drawText(project_name,{
				x:495-tex.widthOfTextAtSize(project_name,11),
				y:lastY(18)
			});

			y=495;

			categories.forEach((category,i)=>{
				info.drawText((i+1).toString(),{
					x:43,
					y:lastY(0)+2,
					font:tex,
					size:8
				});
				info.drawText(category.name,{
					x:78,
					y:lastY(0)+2,
					font:tex,
					size:8
				});
				info.drawText(category.price + " € HT",{
					x:490-tex.widthOfTextAtSize(category.price + " € HT",8),
					y:lastY(0)+2,
					font:tex,
					size:8
				});
				category.works.forEach(work =>{

					info.drawText(work,{
						x:82,
						y:lastY(7),
						size:6
					});

				})
				lastY(12)
			});

			y=200;

			info.drawRectangle({
				x: 250,
				y: lastY(0)-4,
				width: 250,
				height: 1,
				color: grayscale(0)
			})


			info.drawText("Total HT : "+ht+"  €",{
				x:490-tex.widthOfTextAtSize("Total HT : "+ht+"  €",10),
				y:lastY(16),
				font:tex,
				size:10
			});
			
			info.drawText("TVA : "+tva+"  €",{
				x:490-tex.widthOfTextAtSize("TVA : "+tva+"  €",10),
				y:lastY(16),
				font:tex,
				size:10
			});

			info.drawText("Total TTC : "+ttc+"  €",{
				x:490-texBold.widthOfTextAtSize("Total TTC : "+ttc+"  €",10),
				y:lastY(16),
				font:texBold,
				size:10
			});

			// const pdfData= await pdfDoc.save();
			// downloadBlob(pdfData,'offreContractant.pdf','application/pdf');

			const pdfDataUri = await pdfDoc.saveAsBase64({ dataUri: true });

			document.getElementById('pdf').src = pdfDataUri;
		}
	},
	created(){

		this.generateReport();

	}

	
}
</script>