<template>
<div class="col-12">
    <div class="vue-client row">
        <div class="col-12 offset-0 offset-sm-1 col-sm-10">
        <div class="title-label row">
            <div class="col-9">
                <h2>{{client.id.toString().padStart(4,0)}}</h2>
            </div>
            <div class="col-3 p-0">
                <div class="prospect-btn-circle pr-2">
                    <div class="btn-circle">

                        <button v-if="!edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="enableEdit" id='edit-link' method='get'><img class="img-responsive rounded" src="/img/edit2.png"></span>
                        </button>

                        <button v-if="edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="saveEdits($event)" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/save_icon.png"></span>
                        </button>

                    </div>
                    <div class="btn-circle">
                        <button v-if="!edit_mode" class="btn-sm btn btn-circle-blue">
                            <a v-on:click="enterIndexMode" href="/clients" id='index-link' class='ajax-link' method='get'><img class="img-responsive rounded" src="/img/arrow-left2.png"></a>
                        </button>

                        <button v-if="edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="discardEdits" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/close_icon.png"></span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- START FORM -->
        <div class="col-12 offset-0 offset-sm-1 col-sm-10">
        <form class="from-group row">
            <!-- START LEFT COLUMN FORM -->
            <div class="col-md-7">
                <!-- NOM AND PRENOM -->
                <div class="row">
                    <div class="col-md-6">
                        <label class="label" for="nom">Nom</label>
                        <input v-model="client.name" :disabled="!edit_mode" type="text" required class="input-text input-text input-border-bottom form-control" name="name">
                    </div>
                    <div class=" col-md-6">
                        <label class="label" for="nom">Prénom</label>
                        <input v-model="client.surname" :disabled="!edit_mode" type="text" class="input-text input-text input-border-bottom form-control" name="surname">
                    </div>
                </div>
                <!-- ADRESSE AND EMAIL -->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="adresse">Adresse</label>
                        <input v-model="client.address" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="city" class="label">Ville</label>
                        <input v-model="client.city" :disabled="!edit_mode" class="input-text input-border-bottom form-control" name="city">
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="label">Code postal</label>
                        <input v-model="client.postal_code" :disabled="!edit_mode" class="input-text input-border-bottom form-control" name="city">
                    </div>
                </div>
                <!-- TELEPHONE MOBILE AND TELEPHONE FIXE -->
                <div class="row">
                    <div class="  col-md-6">
                        <label class="label" for="telephone-mobile">Téléphone mobile </label>
                        <input v-model="client.mobile" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="mobile">
                    </div>
                    <div class=" col-md-6">
                        <label class="label" for="telephone-fixe">Téléphone fixe</label>
                        <input v-model="client.telephone" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="telephone">
                    </div>
                </div>
                <!-- TYPE DE TRAVAUX -->
                <div class="row">
                        <div class=" col-md-6">
                        <label class="label" for="travaux">Type de travaux</label>
                        <select v-model="client.project_type_id" :disabled="!edit_mode" class="input-text input-border-bottom form-control" name="project_type_id">
                            <option disabled selected value>Sélectionnez un type de projet</option>
                            <option v-for="project_type in common.project_types" :key="project_type.id" :value="project_type.id">{{project_type.name}}</option>
                        </select>
                    </div>
                    <div class=" col-md-6">
                        <label class="label" for="travaux">Type de contrat</label>
                        <select v-model="client.contract_type_id" :disabled="!edit_mode" class="input-text input-border-bottom form-control" name="contract_type_id">
                            <option disabled selected value>Sélectionnez un type de contrat</option>
                            <option v-for="contract_type in common.contract_types" :key="contract_type.id" :value="contract_type.id">{{contract_type.name}}</option>
                        </select>
                    </div>
                </div>
                <!-- TYPE -->
                <div class="row">
                </div>
            </div>
            <!-- END  LEFT COLUMN FORM-->

            <!-- START RIGHT COLUMN FORM -->
            <div class="col-md-5">
                <!-- DATE PRISE CONTACT -->
                <div class="row">
                    <div class=" col-md-12">
                        <label class="label" for="date">Date prise Contact</label>
                        <DatePick v-on:change="function(e){client.first_contact=e; $nextTick($forceUpdate);}" v-model="client.first_contact" @change="function(e){client.first_contact=e; $nextTick($forceUpdate);}" type="date" :editable="edit_mode" class="input-text input-border-bottom form-control" name="first_contact"/>
                    </div>
                </div>
                <!-- ORIGINE -->
                <div class="row">
                    <div class=" col-md-12">
                        <label class="label" for="email">Email</label>
                        <input v-model="client.email" :disabled="!edit_mode" type="email" class="input-text input-border-bottom form-control" name="email">
                    </div>
                </div>
                <!-- DESCRIPTION -->
                <div class="description row">
                    <div class=" col-md-12">
                        <label class="label" for="description">Description</label>
                        <textarea v-model="client.comments" :disabled="!edit_mode" class="input-text input-border-bottom form-control" rows="4" name="comments"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="vue-client row mt-5">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Prix achat </th>
                                <th>TVA</th>
                                <th>Montant marge % HT</th>
                                <th>Prix de vente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="project in client.projects"
                                :key="project.id"
                            >
                                <td>{{project.name}}</td>
                                <td>{{project_details[project.id].totalBuyPrice.toStringPlaces()}}&nbsp;€</td>
                                <td>{{project_details[project.id].totalTaxPercent}}%</td>
                                <td>{{project_details[project.id].totalMarginPercent}}%</td>
                                <td>{{project_details[project.id].totalSellPrice.toStringPlaces()}}&nbsp;€</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    props:['common','data'],
    data(){
        return{

            edit_mode:false,
            
            client:{
				name:'',
				surname:'',
				address:'',
				city:'',
                postal_code:'',
				email:'',
				mobile:'',
				telephone:'',
				first_contact:'',
				project_type_id:'',
				contract_type_id:'',
				comments:'',
			},

        }
    },
    computed:{
        project_details(){
            let result={};
            this.client.projects.forEach(function(project){
                let totalBuyPrice=Decimal(0),
                    totalTax=Decimal(0),
                    totalMargin=Decimal(0),
                    totalSellPrice=Decimal(0);
                project.prices.forEach(function(price){
                    let buy=Decimal(price.quantity).times(Decimal(price.price_per_unit));
                    let tax=buy.times(Decimal(price.tax).dividedBy(100));
                    let margin=buy.times(Decimal(price.margin).dividedBy(100));
                    let sell=buy.plus(tax).plus(margin);
                    totalBuyPrice=totalBuyPrice.plus(buy);
                    totalTax=totalTax.plus(tax);
                    totalMargin=totalMargin.plus(margin);
                    totalSellPrice=totalSellPrice.plus(sell);
                });
                result[project.id]={};
                result[project.id].totalBuyPrice=totalBuyPrice;
                result[project.id].totalSellPrice=totalSellPrice;
                result[project.id].totalTaxPercent=totalTax.dividedBy(totalBuyPrice).times(100);
                result[project.id].totalMarginPercent=totalMargin.dividedBy(totalBuyPrice).times(100);

            });

            return result;
        }
    },
    watch:{
        data(){

            this.mergeData();

        },
        client(){
            
            this.$forceUpdate();

        }
    },
    methods:{
		enterIndexMode(event){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href')
				el.$emit('enterIndexMode',1,function(){
					pushHistory(url,'Clients');
				});
            });
            
        },
        enableEdit(){
            
            this.edit_mode=true;

        },
        discardEdits(){

            this.mergeData();
            this.edit_mode=false;

        },
        saveEdits(event){

            this.edit_mode=false;
            handleClick(this,event,function(el,e){
			    el.$root.startLoading();
				$.ajax({
					url:'/api/clients',
					method:'patch',
					dataType:"json",
					data:{
						data:el.client,
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						let url=data.url;
						let id=data.id;
						el.$root.doneLoading();
						el.$emit('enterShowMode',id,false,function(){
							pushHistory(url,"Vue Client");
						});
					},
					error(response){
                        el.edit_mode=true;
						el.$root.failHandler(response);
					}
				});
			});

        },
        mergeData(){

			this.edit_mode=this.data.edit_mode||false;

            this.client=Object.assign({},this.data);

            this.$nextTick(this.$forceUpdate());
            
        }
    },
    created(){

        this.mergeData();

    }
}
</script>
