<template>
					<!-- START AJOUT PROSPECT -->
					<div class="ajout-prospect col-12">
					<div class="row">
						<div class="title-label offset-0 offset-sm-1 col-12 col-sm-10">
							<div class="col-md-10 col-sm-9">
								<h2>Ajout Client</h2>
							</div>
							<div class="col-md-2 col-sm-3 p-0">
								<div class="btn-circle">
									<button class="btn-sm btn btn-circle-white">
										<a v-on:click="enterIndexMode" href="/clients"><img class="img-responsive rounded" src="/img/arrow-left.png"></a>
									</button>
								</div>
							</div>
						</div>

						<!-- START FORM -->
						<div class="from-group offset-0 offset-sm-1 col-12 col-sm-10">
							<div class="row">
							<!-- START LEFT COLUMN FORM -->
							<div class="col-md-7">
								<!-- NOM AND PRENOM -->
								<div class="row">
									<div class="col-md-6">
										<label class="label" for="nom">Nom</label>
									    <input v-model="client.name" type="text" required="required" class="input-text input-text input-border-bottom form-control" name="name">
									</div>
								    <div class=" col-md-6">
									    <label class="label" for="nom">Prénom</label>
									    <input v-model="client.surname" type="text" class="input-text input-text input-border-bottom form-control" name="surname">
								    </div>
								</div>
								<!-- ADDRESS -->
								<div class="row">
									 <div class=" col-md-12">
										<label class="label" for="adresse">Adresse</label>
									    <input v-model="client.address" type="text" class="input-text input-border-bottom form-control" name="address">
								    </div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label for="city" class="label">Ville</label>
										<input v-model="client.city" class="input-text input-border-bottom form-control" name="city">
									</div>
									<div class="col-md-6">
										<label for="city" class="label">Code postal</label>
										<input v-model="client.postal_code" class="input-text input-border-bottom form-control" name="city">
									</div>
								</div>
								<!-- TELEPHONE MOBILE AND TELEPHONE FIXE -->
								<div class="row">
									<div class="  col-md-6">
										<label class="label" for="telephone-mobile">Téléphone mobile </label>
									    <input v-model="client.mobile" type="text" class="input-text input-border-bottom form-control" name="mobile">
									</div>
								    <div class=" col-md-6">
									    <label class="label" for="telephone-fixe">Téléphone fixe</label>
									    <input v-model="client.telephone" type="text" class="input-text input-border-bottom form-control" name="telephone">
								    </div>
								</div>
								<!-- TYPE DE TRAVAUX -->
								<div class="row">
									 <div class=" col-md-12">
										<label class="label" for="travaux">Type de travaux</label>
										<select v-model="client.project_type_id" class="input-text input-border-bottom form-control" name="project_type_id">
											<option disabled selected value>Sélectionnez un type de projet</option>
											<option v-for="project_type in common.project_types" :key="project_type.id" :value="project_type.id">{{project_type.name}}</option>
										</select>
								    </div>
								</div>
								<!-- TYPE -->
								<div class="row">
									 <div class=" col-md-12">
										<label class="label" for="travaux">Type de contrat</label>
										<select v-model="client.contract_type_id" class="input-text input-border-bottom form-control" name="contract_type_id">
											<option disabled selected value>Sélectionnez un type de contrat</option>
											<option v-for="contract_type in common.contract_types" :key="contract_type.id" :value="contract_type.id">{{contract_type.name}}</option>
										</select>
								    </div>
								</div>
							</div>
							<!-- END  LEFT COLUMN FORM-->

							<!-- START RIGHT COLUMN FORM -->
							<div class="col-md-5">
								<!-- DATE PRISE CONTACT -->
								<div class="row">
									<div class=" col-md-12">
										<label class="label" for="date">Date prise Contact</label>
									    <DatePick v-on:change="function(e){client.first_contact=e; $nextTick($forceUpdate);}" v-model="client.first_contact" type="date" class="input-text input-border-bottom form-control" nme="first_contact"/>
									</div>
								</div>
								<!-- EMAIL -->
								<div class="row">
									<div class="col-md-12">
									    <label class="label" for="email">Email</label>
									    <input v-model="client.email" type="email" class="input-text input-border-bottom form-control" name="email">
									</div>
								</div>
								<!-- BUDGET -->
								<div class="row">
									<div class="col-md-12">
										<label class="label">Budget</label>
										<div class="input-group input-border-bottom">
											<div>
												<span class="input-group-text input-border-none bg-white">€</span>
											</div>
											<input v-model="client.budget" type="number" class="currency input-text input-border-none form-control" name="budget" step="0.01" min="0.01" max="99999999.99">
										</div>
									</div>
								</div>
								<!-- DESCRIPTION -->
								<div class="description row">
									<div class=" col-md-12">
										<label class="label" for="description">Description</label>
									    <textarea v-model="client.comments" class="input-text input-border-bottom form-control" rows="4" name="comments"></textarea>
								    </div>
								</div>
							</div>
							
							</div>
								<!-- BUTTONS -->
								<div class="row">
									<div class="form-btn col-2 offset-1 ml-auto">
										<button v-on:click="saveNewClient" class="btn-blue btn btn-block" id="ajouter">Ajouter</button>
									</div>
								</div>
						</div>
						<!-- END FORM -->
					</div>
					</div>
					<!-- END AJOUT PROSPECT -->
</template>
<script>
export default {
	props:['common'],
	data(){
		return{

			saveDebounce:false,

			client:{
				name:'',
				surname:'',
				address:'',
				city:'',
				postal_code:'',
				email:'',
				mobile:'',
				telephone:'',
				first_contact:'',
				budget:'',
				project_type_id:'',
				contract_type_id:'',
				comments:'',
			},

		}
	},
	methods:{
		enterIndexMode(event){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href')
				el.$emit('enterIndexMode',1,function(){
					pushHistory(url,'Clients');
				});
			});
		},
		saveNewClient(event){
			// DEBOUNCE
			if (this.saveDebounce){
				event.preventDefault();
				event.stopImmediatePropagation();
				return;
			}

			this.saveDebounce=true;
			handleClick(this,event,function(el,e){
				el.$root.startLoading();
				$.ajax({
					url:'/api/clients',
					method:'post',
					dataType:"json",
					data:{
						data:el.client,
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						let url=data.url;
						let id=data.id;
						el.$emit('enterShowMode',id,false,function(){
							pushHistory(url,"Vue Client");
							el.$root.doneLoading();
							// UNDEBOUNCE
							el.saveDebounce=false;
						});
					},
					error(response){
						el.$root.failHandler(response);
						// UNDEBOUNCE
						el.saveDebounce=false;
					}
				});
			});
		}
	}
}
</script>
