<template>
					<div class="clients col-12">
						<div class="title-label row">
							<div class="col-md-10">
								<h2>Clients</h2>
							</div>
							<div class="col-md-2">
								<div class="float-right">
									<a v-on:click="enterCreateMode" href="/clients/create">
										<button class="btn-sm btn btn-blue" style="width: 100px;">
											<div class="btn-img">
												<img class="img-responsive" src="/img/btn-plus.png">
											</div> Ajouter
										</button>
									</a>
								</div>
							</div>
						</div>
						<div class="client-table row">
							
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Référence</th>
											<th>Nom</th>
											<th>Email </th>
											<th>Téléphone</th>
											<th>Ville</th>
											<th>Type d'offre</th>
											<th>Action</th>

										</tr>
									</thead>
									<tbody>
										<ClientRow
										v-for="client in clients[current_page]" :key="client.id" 
										v-bind:common="common"
										v-bind:data="client"
										v-on:enterShowMode="enterShowMode"
										v-on:enterIndexMode="enterIndexMode"
										/>
									</tbody>
								</table>
							</div>

							<nav aria-label="...">
								<ul class="pagination">
									<li v-bind:class="{'disabled':(current_page==1)}" class="page-item">
									<a v-on:click="pageNavigate" :href="'/clients?page='+(current_page-1)" class="page-link" v-bind:page-number="current_page-1">Précédent</a>
									</li>

									<li v-for="page in last_page" :key="page" v-bind:class="{'disabled':(page==current_page)}" class="page-item">
										<a v-if="page!=current_page" v-on:click="pageNavigate" v-bind:href="'/clients?page='+page" class="page-link" v-bind:page-number="page">{{page}}</a>
										<span v-if="page==current_page" class="page-link">{{page}}</span>
									</li>

									<li v-bind:class="{'disabled':(current_page==last_page)}" class="page-item">
									<a v-on:click="pageNavigate" :href="'/clients?page='+(current_page-(-1))" class="page-link" v-bind:page-number="current_page-(-1)" >Suivant
</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
</template>
<script>
export default {
	props:['common','data'],
	data(){
		return{

			current_page:null,
			last_page:null,
			clients:[],
			hash:[]

		}
	},
	watch:{

		data:{

			handler(){
				this.mergeData();
			},
			deep:true

		},

	},
	methods:{
		enterIndexMode(){
			let el=this;
			this.$emit('enterIndexMode',this.current_page,function(){
				el.mergeData();
			});
		},
		enterCreateMode(event){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterCreateMode',function(){
					pushHistory(url,'Ajout Client');
				});
			});
		},
		enterShowMode(event, id, edit){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterShowMode',id,edit,function(){
					pushHistory(url,'Vue Client');
				});
			});

		},
		pageNavigate(event){
			handleClick(this,event,function(el,e){

				let page=e.currentTarget.getAttribute('page-number');

				if(page==el.current_page||page<1||page>el.last_page) return;
				
				el.$root.startLoading();

				let url=e.currentTarget.getAttribute('href');

				el.$parent.fetchIndexData(el.$parent,page,function(){
					el.$root.doneLoading();
					pushHistory(url,'Clients');
				});

			});
		},
		mergeData(){

			this.current_page=this.data.current_page;
			this.last_page=this.data.last_page;
			this.clients[this.current_page]=this.data.clients[this.current_page];
			this.$nextTick(this.$forceUpdate());

		}
	},
	created(){

		this.mergeData();

	}
}
</script>
