<template>
<div class="col-12">
	<transition name="gen">
		<div
			v-show="generatingPDF"
			class="generating"
		>

			<p class="gentext">
				Générer&nbsp;un&nbsp;PDF...<br>{{parseInt(percentGenerated)}}%
			</p>

			<div class="lds-dual-ring">
			</div>
		</div>
	</transition>
    <div class="vue-prospect row">
        <div class="col-12 offset-0 offset-sm-1 col-sm-10">
        <div class="title-label row">
            <div class="col-9">
                <h2> {{prospect.id.toString().padStart(4,0)}}</h2>
            </div>
            <div class="col-3 p-0">
                <div class="prospect-btn-circle pr-2">
                    <div class="btn-circle">

                        <button v-if="!edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="enableEdit" id='edit-link' method='get'><img class="img-responsive rounded" src="/img/edit2.png"></span>
                        </button>

                        <button v-if="edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="saveEdits($event)" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/save_icon.png"></span>
                        </button>

                    </div>
                    <div class="btn-circle">
                        <button v-if="!edit_mode" class="btn-sm btn btn-circle-blue">
                            <a v-on:click="enterIndexMode" href="/prospects" id='index-link' class='ajax-link' method='get'><img class="img-responsive rounded" src="/img/arrow-left2.png"></a>
                        </button>

                        <button v-if="edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="discardEdits" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/close_icon.png"></span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- START FORM -->
        <div class="col-12 offset-0 offset-sm-1 col-sm-10">
        <form class="from-group row">
            <!-- START LEFT COLUMN FORM -->
            <div class="col-md-7">
                <!-- NOM AND PRENOM -->
                <div class="row">
                    <div class="col-md-6">
                        <label class="label" for="nom">Nom</label>
                        <input v-model="prospect.name" :disabled="!edit_mode" type="text" required class="input-text input-text input-border-bottom form-control" name="name">
                    </div>
                    <div class=" col-md-6">
                        <label class="label" for="nom">Prénom</label>
                        <input v-model="prospect.surname" :disabled="!edit_mode" type="text" class="input-text input-text input-border-bottom form-control" name="surname">
                    </div>
                </div>
                <!-- ADRESSE AND EMAIL -->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="adresse">Adresse</label>
                        <input v-model="prospect.address" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="city" class="label">Ville</label>
                        <input v-model="prospect.city" :disabled="!edit_mode" class="input-text input-border-bottom form-control" name="city">
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="label">Code postal</label>
                        <input v-model="prospect.postal_code" :disabled="!edit_mode" class="input-text input-border-bottom form-control" name="city">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label class="label" for="email">Email</label>
                        <input v-model="prospect.email" :disabled="!edit_mode" type="email" class="input-text input-border-bottom form-control" name="email">
                    </div>
                </div>
                <!-- TELEPHONE MOBILE AND TELEPHONE FIXE -->
                <div class="row">
                    <div class="  col-md-6">
                        <label class="label" for="telephone-mobile">Téléphone mobile </label>
                        <input v-model="prospect.mobile" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="mobile">
                    </div>
                    <div class=" col-md-6">
                        <label class="label" for="telephone-fixe">Téléphone fixe</label>
                        <input v-model="prospect.telephone" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="telephone">
                    </div>
                </div>
                <!-- TYPE DE TRAVAUX -->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="travaux">Type de travaux</label>
                        <select v-model="prospect.project_type_id" :editable="edit_mode" class="input-text input-border-bottom form-control" name="project_type_id">
                            <option disabled selected value>Sélectionnez un type de projet</option>
                            <option v-for="project_type in common.project_types" :key="project_type.id" :value="project_type.id">{{project_type.name}}</option>
                        </select>
                    </div>
                </div>
                <!-- TYPE -->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="travaux">Type de contrat</label>
                        <select v-model="prospect.contract_type_id" :disabled="!edit_mode" class="input-text input-border-bottom form-control" name="contract_type_id">
                            <option disabled selected value>Sélectionnez un type de contrat</option>
                            <option v-for="contract_type in common.contract_types" :key="contract_type.id" :value="contract_type.id">{{contract_type.name}}</option>
                        </select>
                    </div>
                </div>
                <!-- DESCRIPTION -->
                <div class="description row">
                    <div class=" col-md-12">
                        <label class="label" for="description">Description</label>
                        <textarea v-model="prospect.comments" :disabled="!edit_mode" class="input-text input-border-bottom form-control" rows="3" name="comments"></textarea>
                    </div>
                </div>
            </div>
            <!-- END  LEFT COLUMN FORM-->

            <!-- START RIGHT COLUMN FORM -->
            <div class="col-md-5">
                <!-- DATE PRISE CONTACT -->
                <div class="row">
                    <div class=" col-md-12">
                        <label class="label" for="date">Date prise Contact</label>
                        <DatePick v-on:change="function(e){prospect.first_contact=e; $nextTick($forceUpdate);}" v-model="prospect.first_contact" type="date" :editable="edit_mode" class="input-text input-border-bottom form-control" name="first_contact"/>
                    </div>
                </div>
                <!-- ORIGINE -->
                <div class="row">
                    <div class=" col-md-12">
                        <label class="label" for="origine">Origine</label>
                        <select v-model="prospect.marketing_avenue_id" :disabled="!edit_mode" class="input-text input-border-bottom form-control" name="marketing_avenue_id">
                            <option disabled selected value>Sélectionnez l'origine</option>
                            <option v-for="marketing_avenue in common.marketing_avenues" :key="marketing_avenue.id" :value="marketing_avenue.id">{{marketing_avenue.name}}</option>
                        </select>
                    </div>
                </div>
                <!-- BUDGET -->
                <div class="row">
                    <div class="col-md-12">
                        <label class="label">Budget</label>
                        <div class="input-group input-border-bottom">
                            <div>
                                <span class="input-group-text input-border-none" v-bind:class="{'bg-white':edit_mode}">€</span>
                            </div>
                            <input v-model="prospect.budget" type="number" :disabled="!edit_mode" class="currency input-text input-border-none form-control" name="budget" step="0.01" min="0.01" max="99999999.99">
                        </div>
                    </div>
                </div>
                <!-- HISTORIQUE RDV -->
                <div class="row">
                    <div class="col-md-12 progress-container">
                        <label class="label">Historique RDV</label>
                        <div v-for="progress_id in common.prospect_progresses_by_order" :key="progress_id" class="progress-row row">
                            <div class="col-md-6">
                                <label class="checkbox-inline input-text">
                                        <input v-on:change="$nextTick($forceUpdate)" v-model="prospect.prospect_progress_ids" :value="progress_id" v-bind:disabled="!edit_mode" class="input-text" type="checkbox">{{common.prospect_progresses[progress_id]}}
                                </label>
                            </div>
                            <div v-if="edit_mode||prospect.prospect_progress_ids.includes(progress_id)" class="col-md-6">
                                <DatePick v-on:change="function(e){prospect.prospect_progress_dates[progress_id]=e; $nextTick($forceUpdate);}" v-model="prospect.prospect_progress_dates[progress_id]" :editable="edit_mode||prospect.prospect_progress_ids.includes(progress_id)" type="date" class="input-text input-border-bottom form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
				<div
					v-if="!edit_mode"
					class="row"
				>
                    <div class="col-6 offset-6">
                        <button
                            v-on:click="generateSheet"
                            type="button"
                            class="btn-blue btn btn-block form-btn"
                            id="fiche-découverte"
                        >
                            Fiche découverte
                        </button>
                    </div>
				</div>
            </div>
        </form>
        </div>
    </div>
</div>
</template>
<script>
export default {
    props:['common','data'],
    data(){
        return{

			generatingPDF:false,
			percentGenerated:0,
			requests:[],

            edit_mode:false,
            
            prospect:{
				name:'',
				surname:'',
				address:'',
                city:'',
                postal_code:'',
                prospect:'',
				email:'',
				mobile:'',
				telephone:'',
				first_contact:'',
				marketing_avenue_id:'',
				budget:'',
				project_type_id:'',
				contract_type_id:'',
				comments:'',
				prospect_progress_ids:[],
				prospect_progress_dates:[],
			},

        }
    },
    watch:{
        data(){

            this.mergeData();

        },
        prospect(){
            
            this.$forceUpdate();

        }
    },
    methods:{
        escapeKey(event){
			if (event.keyCode==27){
				window.removeEventListener('keyup',this.escapeKey);
				this.generatingPDF=false;
				this.requests.forEach(request=>request.abort());
			}
		},
		async generateSheet(){

            let el=this;
            let requests=[];
            let percentRequiredArray=[0];
            let percentCompleteArray=[0];
            let resourcesLoaded=[false];
            let resources=[
                '/api/files/resource?path=fiche_de_découverte.pdf',
            ];

            function tryDone(){
                if (resourcesLoaded.reduce(function(loaded,state){
                    if (!state){
                        loaded=false;
                    }
                    return loaded;
                },true)){
                    el.generatingPDF=false;
                    el.$parent.generateSheet(el.prospect,el.prospect.marketing_avenue_id?el.common.marketing_avenues[el.prospect.marketing_avenue_id-1].name:'');
                }
            }

            this.percentGenerated=0;
            this.generatingPDF=true;

            for (let i=0;i<resources.length;i++){
                percentRequiredArray[i] = await axios.head(resources[i]+'&v='+window.serverAppVersion).then(response=>parseInt(response.headers['content-length']));
            }

            resources.forEach((resource,i)=>{
                let req = new XMLHttpRequest();
                el.requests[i]=req;
                req.addEventListener("progress", function(event) {
                    if (event.lengthComputable) {
                        percentCompleteArray[i]=event.loaded;
                        el.percentGenerated=100*(percentCompleteArray.reduce(function(totPer,percent){
                            totPer+=percent;
                            return totPer;
                        },0)/percentRequiredArray.reduce(function(totPer,percent){
                            totPer+=percent;
                            return totPer;
                        },0));
                    }
                }, false);

                req.addEventListener("load", function(event) {
                    resourcesLoaded[i]=true;
                    tryDone();
                }, false);

                req.open("GET",resource+'&v='+window.serverAppVersion);
                req.send();

            })

            window.addEventListener('keyup',this.escapeKey);

		},
		enterIndexMode(event){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href')
				el.$emit('enterIndexMode',1,function(){
					pushHistory(url,'Prospects');
				});
            });
            
        },
        enableEdit(){
            
            this.edit_mode=true;

        },
        discardEdits(){

            this.mergeData();
            this.edit_mode=false;

        },
        saveEdits(event){

            this.edit_mode=false;
            handleClick(this,event,function(el,e){
			    el.$root.startLoading();
				$.ajax({
					url:'/api/prospects',
					method:'patch',
					dataType:"json",
					data:{
						data:el.prospect,
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						let url=data.url;
						let id=data.id;
						el.$root.doneLoading();
						el.$emit('enterShowMode',id,false,function(){
							pushHistory(url,"Vue Prospect");
						});
					},
					error(response){
			            el.edit_mode=true;
						el.$root.failHandler(response);
					}
				});
			});

        },
        mergeData(){

			this.edit_mode=this.data.edit_mode||false;

            this.prospect=Object.assign({},this.data);
            let progresses=[];
            let progressDates=[];

            this.data.prospect_progresses.forEach(progress=>{
                progresses.push(progress.id); 
                progressDates[progress.id]=progress.pivot.progress_date; 
            });

            this.prospect.prospect_progress_ids=progresses;
            this.prospect.prospect_progress_dates=progressDates;

            delete this.prospect.prospect_progresses;

            this.$nextTick(this.$forceUpdate());
            
        }
    },
    created(){

        this.mergeData();

    }
}
</script>
