<template>
					<div class="prospects col-12">
						<StatusWindow
							v-if="showStatusModal"
							@close="showStatusModal=false"
							:title="showStatusTitle"
							:contents="showStatusContents"
						/>
						<div class="title-label row">
							<div class="col-md-10">
								<h2>Prospects</h2>
							</div>
							<div class="col-md-2">
								<div class="float-right">
									<a v-on:click="enterCreateMode" href="/prospects/create">
										<button class="btn-sm btn btn-blue" style="width: 100px;">
											<div class="btn-img">
												<img class="img-responsive" src="/img/btn-plus.png">
											</div> Ajouter
										</button>
									</a>
								</div>
							</div>
						</div>
						<div class="prospect-table row">
							
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Référence</th>
											<th>Nom</th>
											<th>Email </th>
											<th>Téléphone</th>
											<th>Ville</th>
											<th>Type&nbsp;d'offre</th>
											<th>Origine</th>
											<th>Statut&nbsp;prospect&nbsp;&nbsp;&nbsp;</th>
											<th>Action</th>

										</tr>
									</thead>
									<tbody>
										<ProspectRow
										v-for="prospect in prospects[current_page]" :key="prospect.id" 
										v-bind:common="common"
										v-bind:data="prospect"
										@enterShowMode="enterShowMode"
										@enterIndexMode="enterIndexMode"
										@showStatus="showStatus"
										/>
									</tbody>
								</table>
							</div>

							<nav aria-label="...">
								<ul class="pagination">
									<li v-bind:class="{'disabled':(current_page==1)}" class="page-item">
									<a v-on:click="pageNavigate" :href="'/prospects?page='+(current_page-1)" class="page-link" v-bind:page-number="current_page-1">Précédent</a>
									</li>

									<li v-for="page in last_page" :key="page" v-bind:class="{'disabled':(page==current_page)}" class="page-item">
										<a v-if="page!=current_page" v-on:click="pageNavigate" v-bind:href="'/prospects?page='+page" class="page-link" v-bind:page-number="page">{{page}}</a>
										<span v-if="page==current_page" class="page-link">{{page}}</span>
									</li>

									<li v-bind:class="{'disabled':(current_page==last_page)}" class="page-item">
									<a v-on:click="pageNavigate" :href="'/prospects?page='+(current_page-(-1))" class="page-link" v-bind:page-number="current_page-(-1)" >Suivant</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
</template>
<script>
export default {
	props:['common','data'],
	data(){
		return{

            showStatusModal:false,
            showStatusTitle:'',
            showStatusContents:'',

			current_page:null,
			last_page:null,
			prospects:[],
			hash:[]

		}
	},
	watch:{

		data:{

			handler(){
				this.mergeData();
			},
			deep:true

		},

	},
	methods:{
		enterIndexMode(){
			let el=this;
			this.$emit('enterIndexMode',this.current_page,function(){
				el.mergeData();
			});
		},
		enterCreateMode(event){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterCreateMode',function(){
					pushHistory(url,'Ajout Prospect');
				});
			});
		},
		enterShowMode(event, id, edit){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterShowMode',id,edit,function(){
					pushHistory(url,'Vue Prospect');
				});
			});

		},
		pageNavigate(event){
			handleClick(this,event,function(el,e){

				let page=e.currentTarget.getAttribute('page-number');

				if(page==el.current_page||page<1||page>el.last_page) return;
				
				el.$root.startLoading();

				let url=e.currentTarget.getAttribute('href');

				el.$parent.fetchIndexData(el.$parent,page,function(){
					el.$root.doneLoading();
					pushHistory(url,'Prospects');
				});

			});
		},
        showStatus(event,prospect){
            event.preventDefault();
			event.stopImmediatePropagation();
			let progresses=[];
            let states=[];
			let dates=[];
			Object.values(this.common.prospect_progresses_by_order).forEach((id)=>{
				let progress=this.common.prospect_progresses[id];
				let checked=prospect.prospect_progresses.some((prospect_progress)=> prospect_progress.id==id);
				progresses.push(progress);
				states.push(checked?'fini':'inachevé');
				dates.push(checked?prospect.prospect_progresses.find((prospect_progress)=>{
					return prospect_progress.id==id;
				}).pivot.progress_date.split('-').reverse().join('/'):'');
			});
            this.showStatusTitle=prospect.full_name;
            this.showStatusContents=`
<table class="table">
  <thead>
    <tr>
      <th scope="col">Etat</th>
      <th scope="col">Statut</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>${progresses[0]}</td>
      <td>${states[0]}</td>
      <td>${dates[0]}</td>
    </tr>
    <tr>
      <td>${progresses[1]}</td>
      <td>${states[1]}</td>
      <td>${dates[1]}</td>
    </tr>
    <tr>
      <td>${progresses[2]}</td>
      <td>${states[2]}</td>
      <td>${dates[2]}</td>
    </tr>
    <tr>
      <td>${progresses[3]}</td>
      <td>${states[3]}</td>
      <td>${dates[3]}</td>
    </tr>
    <tr>
      <td>${progresses[4]}</td>
      <td>${states[4]}</td>
      <td>${dates[4]}</td>
    </tr>
    <tr>
      <td>${progresses[5]}</td>
      <td>${states[5]}</td>
      <td>${dates[5]}</td>
    </tr>
  </tbody>
</table>
            `
            this.showStatusModal=true;
        },
		mergeData(){

			this.current_page=this.data.current_page;
			this.last_page=this.data.last_page;
			this.prospects[this.current_page]=this.data.prospects[this.current_page];
			this.$nextTick(this.$forceUpdate());

		}
	},
	created(){

		this.mergeData();

	}
}
</script>
