<template>
    <div class="enterprise col-12">
        <div class="title-label row">
            <div class="col-md-1 col-sm-2 col-xs-2">
                <h2>Types</h2>
                
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="dropdown">
                    <select
                        v-model="category_id"
                        class=" input-text input-border-bottom form-control"
                        style="padding:unset; width:auto;"
                    >
                        <option v-for="category in work_categories_by_id" :key="category.id" :value="category.id">{{category.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-8">
                <div class="float-right">
                    <button v-on:click="enterCreateMode" href="/work_categories/create" class="btn-sm btn btn-blue" style="width: 100px;" >
                        <div class="btn-img">
                            <img class="img-responsive" src="/img/btn-plus.png">
                        </div> Ajouter
                    </button>
                </div>
            </div>
        </div>

        <!-- START TABLEAU ENTERPRISE -->
        <div class="enterprise-table row">
            
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:50%">Nom</th>
                            <th :style="'width:'+(44/work_categories_by_id[category_id].companies.length)+'%'" v-for="company in work_categories_by_id[category_id].companies" :key="company.id">{{company.name.split(" ").join("&nbsp;")}}</th>
                            <th style="width:6%">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="work_categories_by_id[category_id].works.length==0">
                            <td :colspan="work_categories_by_id[category_id].companies.length+2">Rien à montrer</td>
                        </tr>
                        <tr
                            v-for="(work,work_index) in work_categories_by_id[category_id].works"
                            :key="work.id"
                            v-on:click="enterShowMode($event, work.id)"
                            :href="'/work_categories/works/'+work.id"
                            :style="keepHover[work.id]?{color: '#fff',backgroundColor: '#43859d'}:null"
                            class="row-active">
                            <td>{{work.name}}</td>
                            <td v-for="company in work_categories_by_id[category_id].companies" :key="company.id" v-html="(parseFloat(getPriceIntersect(company.id,work_index))>0) ? decimal(getPriceIntersect(company.id,work_index)).toStringPlaces()+' / '+work.unit : getPriceIntersect(company.id,work_index)"></td>
                            <td>
                                <div class="action-btn">
                                    <button v-on:click="enterShowMode($event,work.id,true)" :href="'/work_categories/works/'+work.id" class="table-btn"><a href="?page=vue-enterprise"><img class="img-responsive" src="/img/edit.png"></a></button>
                                                    
                                    <button v-on:click="promptDelete($event,work.id,work.name)" class="table-btn"><img class="img-responsive" src="/img/delete.png"></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END TYPES -->
    </div>
</template>
<script>
export default {
    props:['common', 'data'],
    data(){
        return {

            decimal:Decimal,
            keepHover:{},

            category_id:0,

            work_categories:{}

        }
    },
    computed:{
        work_categories_by_id(){

            let by_id={};
            Object.values(this.work_categories).forEach(function(category){
                by_id[category.id]=category;
            });
            return by_id;

        }
    },
    watch:{

		data:{

			handler(){
				this.mergeData();
			},
			deep:true

		},

	},
	methods:{
        getPriceIntersect(company_id,work_index){
            let returnPrice=`<strong>PAS DE PRIX</strong>`;
            this.work_categories_by_id[this.category_id].works[work_index].prices.forEach(function(price){
                if(price.company_id==company_id){
                    returnPrice=price.price_per_unit;
                }
            });
            return returnPrice;
        },
		enterCreateMode(event){
			handleClick(this,event,function(el,e){
                let url=e.currentTarget.getAttribute('href');
                let category_id=el.category_id;
				el.$emit('enterCreateMode',category_id,function(){
					pushHistory(url,'Ajout Travaux');
				});
			});
		},
		enterShowMode(event, id, edit=false){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterShowMode',id,edit,function(){
					pushHistory(url,'Vue Travaux');
				});
			});

		},
        promptDelete(event,id,name){
			event.stopImmediatePropagation();
			let el=this;
			this.keepHover[id]=true;
			this.$nextTick(this.$forceUpdate());
			let deleter=function(){
				el.$root.startLoading();
				$.ajax({
                url:'/api/works?id='+id,
                method:'delete',
				dataType:"json",
                data:{
                    _token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                success(data){
					el.$root.doneLoading();
                    el.$emit('enterIndexMode',el.category_id,function(){});
                },
                error(response){
					
					el.$root.failHandler(response);
					
                }
            });
			}
			launchModal(
				'Confirmation de suppression',
				'Êtes vous sûr de bien vouloir supprimer le travaux "'+name+'"?',
				function(){el.keepHover[id]=false; el.$nextTick(el.$forceUpdate());},
				deleter
			);
		},
		mergeData(){

            this.category_id=this.data.category_id;
			this.work_categories=Object.assign({},this.data.work_categories);

		}
	},
	created(){

		this.mergeData();

	}
}
</script>
