<template>
<div class="col-12">
    <div class="ajout-travaux form">
        <div class="title-label row">
            <div class="col-9">
                <h2 v-once>Travaux: {{work.name}}</h2>
            </div>
            <div class="col-3">
                <div class="prospect-btn-circle">
                    <div class="btn-circle">

                        <button v-if="!edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="enableEdit" id='edit-link' method='get'><img class="img-responsive rounded" src="/img/edit2.png"></span>
                        </button>

                        <button v-if="edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="saveEdits($event)" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/save_icon.png"></span>
                        </button>

                    </div>
                    <div class="btn-circle">
                        <button v-if="!edit_mode" class="btn-sm btn btn-circle-blue">
                            <a v-on:click="enterIndexMode" href="/work_categories" id='index-link' class='ajax-link' method='get'><img class="img-responsive rounded" src="/img/arrow-left2.png"></a>
                        </button>

                        <button v-if="edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="discardEdits" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/close_icon.png"></span>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <!-- START FORM -->
        <div class="from-group row">
            <!-- START LEFT COLUMN FORM -->
            <div class="col-md-5">
                <!-- TYPE -->
                <div class="row">
                    <div class=" col-md-12">
                        <label class="label" for="type">Type</label>
                        <input :value="work.work_category.name" disabled class="input-text input-border-bottom form-control">
                    </div>
                </div>
                <!-- TACHE -->
                <div class="row">
                    <div class=" col-md-12">
                        <label class="label" for="tache">Tâche</label>
                        <input v-model="work.name" :disabled="!edit_mode" v-on:change="$nextTick($forceUpdate)" type="text" required="required" class="input-text input-border-bottom form-control" name="name">
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12">
                        <label class="label" for="tache">Unité</label>
                        <select v-model="work.unit" :disabled="!edit_mode" v-on:change="$nextTick($forceUpdate)" required="required" class="input-text input-border-bottom form-control" name="unit">
                            <option value="U">U</option>
                            <option value="m">m</option>
                            <option value="m²">m²</option>
                            <option value="ml">ml</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-5"></div>
            </div>
            <!-- END  LEFT COLUMN FORM-->

            <!-- START RIGHT COLUMN FORM -->
            <div class="col-md-7">
                <!-- COUT -->
                <div v-for="(company,company_index) in companies_by_id" :key="company.id" class="row">
                    <div class="col-md-12">
                        <label style="width:100%" class="label" for="cout">
                            <span v-if="company_index==0" >Coût par unité</span>&nbsp;
                        </label>
                        <div class="row">
                            <div class="col-md-8">
                                <input :value="company.name" disabled class=" input-text input-border-bottom form-control">
                            </div>
                            <div class="col-md-4">
                                <input v-model="work.prices[company.id]" :disabled="!edit_mode" v-on:change="$nextTick($forceUpdate)" type="number" placeholder="xxx €" min="0" step="0.01" class="input-text input-border-bottom form-control text-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FORM -->
    </div>
</div>
</template>
<script>
export default {
    props:['common','data'],
    data(){
        return{

            edit_mode:false,
            work:{

                name:'',
                unit:'',
                work_category:{},
                prices:{},
                companies:{}

            }

        }
    },
    computed:{

        companies_by_id(){

            let by_id={};
            Object.values(this.work.work_category.companies).forEach(function(company){
                by_id[company.id]=company;
            });
            return by_id;

        },
        prices_by_company_id(){

            let by_company_id={};
            Object.values(this.work.prices).forEach(function(price){
                by_company_id[price.company_id]=price;
            });
            return by_company_id;

        }

    },
    watch:{
        data(){

            this.mergeData();

        },
        work(){

            this.$forceUpdate();

        }

    },
    methods:{
        enterIndexMode(event){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href')
				el.$emit('enterIndexMode',el.work.work_category.id,function(){
					pushHistory(url,'Domaines');
				});
            });
            
        },
        enableEdit(){
            
            this.edit_mode=true;

        },
        discardEdits(){

            this.mergeData();
            this.edit_mode=false;

        },
        saveEdits(event){

            this.edit_mode=false;
            handleClick(this,event,function(el,e){
			    el.$root.startLoading();
				$.ajax({
					url:'/api/works',
					method:'patch',
					dataType:"json",
					data:{
						data:el.work,
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						let url=data.url;
						let id=data.id;
						el.$root.doneLoading();
						el.$emit('enterShowMode',id,function(){
							pushHistory(url,"Vue Travaux");
						});
					},
					error(response){
                        el.edit_mode=true;
						el.$root.failHandler(response);
					}
				});
			});

        },
        mergeData(){

            this.edit_mode=this.data.edit_mode;

			this.work=Object.assign({},this.data);
			
			this.work.prices=Object.assign(
				{},
				Object.values(this.work.prices).reduce(function(result, priceEntity){
					return Object.assign(result,{[priceEntity.company_id]:parseFloat(priceEntity.price_per_unit).toFixed(2)});
				},{})
			);

            this.$nextTick(this.$forceUpdate());
            
        }
    },
    created(){

        this.mergeData();

    }
    
}
</script>
