<template>
<div class="col-12">
    				<div class="ajout-travaux form">
						<div class="title-label row">
							<div class="col-md-10 col-sm-9">
								<h2>Ajout travaux</h2>
							</div>
							<div class="col-md-2 col-sm-3">
								<div class="btn-circle">
									<button v-on:click="enterIndexMode" href="/work_categories" class="btn-sm btn btn-circle-white">
										<a><img class="img-responsive rounded" src="/img/arrow-left.png"></a>
									</button>
								</div>
							</div>
						</div>

						<!-- START FORM -->
						<div v-for="(work,index) in works" :key="index" class="from-group row">
							<!-- START LEFT COLUMN FORM -->
							<div class="col-md-5">
								<!-- TYPE -->
								<div class="row">
									<div class=" col-md-12">
										<label class="label" for="type">Type</label>
									    <select v-model="work.category_id" v-on:change="sanitize(work)" class=" input-text input-border-bottom form-control" name="work_category_id">
										    <option v-for="work_cat in work_categories_by_id" :key="work_cat.id" :value="work_cat.id">{{work_cat.name}}</option>
										</select>
								    </div>
								</div>
								<!-- TACHE -->
								<div class="row">
									<div class=" col-md-12">
										<label class="label" for="tache">Tâche</label>
									    <input v-model="work.name" v-on:change="$nextTick($forceUpdate)" type="text" required="required" class="input-text input-border-bottom form-control" name="name">
								    </div>
								</div>
								<div class="row">
									<div class=" col-md-12">
										<label class="label" for="tache">Unité</label>
									    <select v-model="work.unit" v-on:change="$nextTick($forceUpdate)" required="required" class="input-text input-border-bottom form-control" name="unit">
                                            <option value="U">U</option>
                                            <option value="m">m</option>
                                            <option value="m²">m²</option>
                                            <option value="ml">ml</option>
									    </select>
								    </div>
								</div>
                                <div class="row mt-5"></div>
							</div>
							<!-- END  LEFT COLUMN FORM-->

							<!-- START RIGHT COLUMN FORM -->
							<div class="col-md-7">
								<!-- COUT -->
								<div v-for="(company,company_index) in work_categories_by_id[work.category_id].companies" :key="company.id" class="row">
									<div class="col-md-12">
										<label style="width:100%" class="label" for="cout">
                                            <span v-if="company_index==0" >Coût par unité</span>&nbsp; <button v-on:click="removeWork(index)" v-if="company_index==0&&work_count>1" class="btn btn-danger" style="position:absolute;right:-10%;top:0">X</button>
                                        </label>
										<div class="row">
											<div class="col-md-8">
                                                <span class=" input-text input-border-bottom form-control">
                                                    {{company.name}}
                                                </span>
                                            </div>
                                            <div class=" col-md-4">
                                                <input v-model="work.prices[company.id]" v-on:change="$nextTick($forceUpdate)" type="number" placeholder="xxx €" class="input-text input-border-bottom form-control text-right" name="cost_per_unit[]">
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END FORM -->

						<!-- BUTTONS -->
						<div class="travaux-btn row">
							<div class="form-btn col-md-3 col-6">
								<button v-on:click="addWork" class="btn btn-blue btn-block">
									 <img class="img-responsive" src="/img/btn-plus.png">&nbsp;Ajouter&nbsp;plus
								</button>
							</div>
							<div class="col-md-6 d-none d-md-block"></div>
							<div class="form-btn col-md-3 col-6">
								<button v-on:click="saveAllWork" class="btn btn-blue btn-block" id="ajouter">
                                    <img class="img-responsive" src="/img/circle-check.png">&nbsp;Valider&nbsp;&nbsp;
                                </button>
							</div>
						</div>
					</div>
</div>
</template>
<script>
export default {
    props:['data'],
    data(){
        return{

            saveDebounce:false,

            category_id:null,
            work_count:1,

            works:{
                
            },


        }
    },
    watch:{

        data(){

            this.mergeData();

        }

    },
    computed:{
        work_categories_by_id(){
            let by_id={};
            Object.values(this.data.work_categories).forEach(function(work_cat){
                by_id[work_cat.id]=work_cat;
            });
            return by_id;
        }
    },
    methods:{
        saveWork(work,index){
            let el=this;
            return $.ajax({
                url:'/api/works',
                method:'post',
                dataType:"json",
                data:{
                    data:work,
                    _token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                success(){
                    Vue.delete(el.works,index);
                },
                fail(){
                    
                    alert('There was an error');
                    //fail thing
                }
            });
        },
        saveAllWork(){
            // DEBOUNCE
			if (this.saveDebounce){
				event.preventDefault();
				event.stopImmediatePropagation();
				return;
			}
            this.saveDebounce=true;
            
            let el=this;
            this.$root.startLoading();
            Object.values(this.works).reduce(function(request,work,index){

                return request.then(function(){
                    return el.saveWork(work,index);
                });
            },$.Deferred().resolve()).then(function(){
                //OK
                el.$emit('enterIndexMode',el.category_id,function(){
                    pushHistory('/work_categories',"Domaines");
                    // UNDEBOUNCE
                    el.saveDebounce=false;
                });
            }).fail(function(response){
                //FAIL
                el.$root.failHandler(response);
                // UNDEBOUNCE
                el.saveDebounce=false;
            });

        },
        addWork(){
            this.works[this.work_count]={
                category_id:this.category_id,
                prices:{}
            };
            this.work_count++;
            this.$nextTick(this.$forceUpdate);
        },
        removeWork(index){
            let newob=[]
            Object.values(this.works).forEach(function(ob, ob_index){
                if (index!=ob_index) newob.push(ob);
            });
            this.works=Object.assign({},newob);
            this.work_count--;
            this.$nextTick(this.$forceUpdate);
        },
        sanitize(work){
            let newprices={};
            let category_id=work.category_id;
            let reference=[];
            this.work_categories_by_id[category_id].companies.filter(function(company,index){
                reference[index]=company.id;
            });
            Object.keys(work.prices).forEach(function(company_id){
               if (reference.indexOf(parseInt(company_id))<1){
                   delete work.prices[company_id];
               }
            });
            this.$nextTick(this.$forceUpdate());
        },
		enterIndexMode(event){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterIndexMode',el.category_id,function(){
					pushHistory(url,'Domaines');
				});
			});
        },
        mergeData(){

            this.category_id=this.data.category_id||1;
            this.work_count=1;
            this.works={
                0:{
                    category_id:this.category_id,
                    prices:{}
                }
            }

        }
    },
    created(){

        this.mergeData();

    }
}
</script>
