<template>
<div class="container-fluid">
    <FileWindow
        v-if="showFiles"
        v-on:close="showFiles=false"
        v-bind:title="filesTitle"
        v-bind:path="filesPath"
    />
    <div class="vue-enterprise form  wrap">
        <div class="title-label row">
            <div class="col 9">
                <h2>{{company.id.toString().padStart(4,0)}}</h2>
            </div>
            <div class="col-3">
                <div class="prospect-btn-circle">
                    <div class="btn-circle">

                        <button v-if="!edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="enableEdit" id='edit-link' method='get'><img class="img-responsive rounded" src="/img/edit2.png"></span>
                        </button>

                        <button v-if="edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="saveEdits($event)" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/save_icon.png"></span>
                        </button>

                    </div>
                    <div class="btn-circle">
                        <button v-if="!edit_mode" class="btn-sm btn btn-circle-blue">
                            <a v-on:click="enterIndexMode" href="/companies" id='index-link' class='ajax-link' method='get'><img class="img-responsive rounded" src="/img/arrow-left2.png"></a>
                        </button>

                        <button v-if="edit_mode" class="btn-sm btn btn-circle-white">
                        <span v-on:click="discardEdits" id='edit-link' method='post'><img class="img-responsive rounded" src="/img/close_icon.png"></span>
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <!-- START FORM -->
        <div class="form-group row">
            <!-- START LEFT COLUMN OF FORM -->
            <div class="col-md-7">
                <!-- NOM AND PRENOM -->
                <div class="row">
                    <div class="col-md-6">
                        <label class="label" for="nom">Societe</label>
                        <input v-model="company.name" :disabled="!edit_mode" type="text" required="required" class="input-text input-text input-border-bottom form-control" name="company">
                    </div>
                    <div class=" col-md-6">
                        <label class="label" for="nom">Forme Juridique</label>
                        <input v-model="company.legal_form" :disabled="!edit_mode" type="text" class="input-text input-text input-border-bottom form-control" name="legal_form">
                    </div>
                </div>
                <!-- TELEPHONE MOBILE AND TELEPHONE FIXE -->
                <div class="row">
                    <div class="  col-md-6">
                        <label class="label" for="telephone-mobile">Téléphone mobile </label>
                        <input v-model="company.mobile" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="mobile">
                    </div>
                    <div class=" col-md-6">
                        <label class="label" for="telephone-fixe">Téléphone fixe</label>
                        <input v-model="company.telephone" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="telephone">
                    </div>
                </div>
                <!-- ADRESSE -->
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="adresse">Adresse</label>
                        <input v-model="company.address" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="address">
                    </div>
                </div>
                <!-- VILLE AND CODE POSTAL  -->
                <div class="row">
                    <div class="  col-md-6">
                        <label class="label" for="ville">Ville</label>
                        <input v-model="company.city" :disabled="!edit_mode" class="input-text input-border-bottom form-control" name="city">
                    </div>
                    <div class=" col-md-6">
                        <label class="label" for="code-postal">Code postal</label>
                        <input v-model="company.postal_code" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="postal_code">
                    </div>
                </div>
                <!-- DATE PRISE CONTACT -->
                <div class="row">
                    <div class=" col-md-12">
                        <label class="label" for="date">Date doc annuel</label>
                        <DatePick v-on:change="function(e){company.annual_date=e; $nextTick($forceUpdate);}" v-model="company.annual_date" :editable="edit_mode" type="date" class="input-text input-border-bottom form-control" name="annual_date"/>
                    </div>
                </div>
                <!-- TYPE DE TRAVAUX -->
                <div v-for="n in cat_count" :key="n" class="row">
                        <div class=" col-md-12">
                        <label class="label" for="type">Type</label>
                        <select v-model="company.work_category_ids[n]" :disabled="!edit_mode" v-on:change="$nextTick($forceUpdate)" class="input-text input-text input-border-bottom form-control" name="work_category_ids[]">
                            <option v-for="work_category in work_categories_available" :key="work_category.id" :value="work_category.id" :disabled="work_category.id==0" >{{work_category.name}}</option>
                        </select>
                    </div>
                </div>
                <!-- Ajouter des Types button -->
                <div v-if="edit_mode" class="row">
                    <div class="col-md-8">
                        
                    </div>
                    <div class="col-md-4">
                        <button v-on:click="addCategory" class="btn btn-white text-right">
                        <div class="btn-img">
                            <img class="img-responsive" src="/img/btn-plus-gray.png">
                        </div>Ajouter des Types
                        </button>
                    </div>
                </div>
                <!-- COMMENTAIRE -->
                <div class="row">
                    <div class=" col-md-12">
                        <label class="label" for="description">Commentaire</label>
                        <textarea v-model="company.comments" :disabled="!edit_mode" class="input-text input-border-bottom form-control" rows="5" name="comments"></textarea>
                    </div>
                </div>
            </div>
            <!-- END LEFT COLUMN OF FORM -->

            <!-- START RIGHT COLUMN OF FORM -->
            <div class="col-md-5">
                <!--ACTIVITIE -->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="activitie">Activité</label>
                        <input v-model="company.activity" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="activity">
                    </div>
                </div>
                <!--EMAIL -->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="email">Email</label>
                        <input v-model="company.email" :disabled="!edit_mode" type="email" class="input-text input-border-bottom form-control" name="email">
                    </div>
                </div>
                <!--SIREN -->
                <div class="row">
                        <div class="col-md-12">
                        <label class="label" for="siren">SIREN</label>
                        <input v-model="company.siren_code" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="siren_code">
                    </div>
                </div>
                <!--SIREN -->
                <div class="row">
                        <div class="col-md-12">
                        <label class="label" for="siren">Code APE</label>
                        <input v-model="company.ape_code" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="siren_code">
                    </div>
                </div>
                <!--INTERLOCUTEUR -->
                <div class="row">
                        <div class="col-md-12">
                        <label class="label" for="interlocuteur">Interlocuteur</label>
                        <input v-model="company.contact_person" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="contact_person">
                    </div>
                </div>
                <!--RCS-->
                <div class="row">
                        <div class="col-md-12">
                        <label class="label" for="rcs">RCS</label>
                        <input v-model="company.rcs_code" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="rcs_code">
                    </div>
                </div>
                <!--IBAN-->
                <div v-if="edit_mode" class="row">
                        <div class="col-md-12">
                        <label class="label" for="rcs">IBAN</label>
                        <input v-model="company.iban_code" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="iban_code">
                    </div>
                </div>
                <!--BIC-->
                <div v-if="edit_mode" class="row">
                        <div class="col-md-12">
                        <label class="label" for="rcs">BIC</label>
                        <input v-model="company.bic_code" :disabled="!edit_mode" type="text" class="input-text input-border-bottom form-control" name="bic_code">
                    </div>
                </div>
                <div v-if="!edit_mode" class="form-btn vue-enterprise-btn row">

                    <!-- RIB -->
                    <div class="col-md-2 col-sm-12 col-xs-12"></div>
                    <div class="col-md-7 col-sm-9 col-xs-12">
                        <p>RIB</p>
                    </div>
                    <div class="pdf-btn col-md-3 col-sm-3 col-xs-12 no-padding">
                        <button v-on:click="showRIB" class="btn-blue btn-block btn-sm btn" id="pdf">Voir</button>
                    </div>

                    <!-- CONTRAT PARTENARIAT -->
                    <div class="col-md-2 col-sm-12 col-xs-12"></div>
                    <div class="col-md-7 col-sm-9 col-xs-12">
                        <p>Contrat Partenariat</p>
                    </div>
                    <div class="pdf-btn col-md-3 col-sm-3 col-xs-12 no-padding">
                        <button v-on:click="showContractsFiles" class="btn-blue btn-block btn-sm btn" id="pdf">
                        <img src="/img/pdf.png">PDF</button>
                    </div>

                    <!-- GRANTIES -->
                    <div class="col-md-2 col-sm-12 col-xs-12"></div>
                    <div class="col-md-7 col-sm-9 col-xs-12">
                        <p>Garanties</p>
                    </div>
                    <div class="pdf-btn col-md-3 col-sm-3 col-xs-12 no-padding">
                        <button v-on:click="showGuaranteesFiles" class="btn-blue btn-block btn-sm btn" id="pdf">
                        <img src="/img/pdf.png">PDF</button>
                    </div>

                    <!-- HABILITATIONS -->
                    <div class="col-md-2 col-sm-12 col-xs-12 "></div>
                    <div class="col-md-7 col-sm-9 col-xs-12">
                        <p>Habilitations</p>
                    </div>
                    <div class="pdf-btn col-md-3 col-sm-3 col-xs-12  no-padding">
                        <button v-on:click="showClearancesFiles" class="btn-blue btn-block btn-sm btn" id="pdf">
                        <img src="/img/pdf.png">PDF</button>
                    </div>

                </div>
            </div>
            <!-- END RIGHT COLUMN -->
        </div>
        <!-- END FORM -->
    </div>

    <!-- START UPLOADING BOX -->
    <div v-if="edit_mode" class="upload-box wrap2">
        <div class="row">
            <FilePicker
                title="RIB"
                v-model="files.rib"
            />
            <FilePicker
                title="Contrat partenariat"
                v-model="files.contracts"
            />
            <FilePicker
                title="Garanties"
                v-model="files.guarantees"
            />
            <FilePicker
                title="Habilitations"
                v-model="files.clearances"
            />
        </div>
    </div>
</div>
</template>
<script>
export default {
    props:['common','data'],
    data(){
        return{

            showFiles:false,
            filesTitle:'',
            filesPath:'',

            saveDebounce:false,

            edit_mode:false,

            work_categories_available:[],

            cat_count:0,
            
            company:{

				name:'',
                legal_form:'',
                activity:'',
                mobile:'',
                telephone:'',
                email:'',
                address:'',
                siren_code:'',
                ape_code:'',
                city:'',
                postal_code:'',
                contact_person:'',
                annual_date:'',
                rcs_code:'',
                iban_code:'',
                bic_code:'',
                comments:'',
                work_category_ids:{}
                
			},
            
			boxHover:{
				contracts:false,
				guarantees:false,
				clearances:false
			},

            files:{
                contracts:[],
                guarantees:[],
                clearances:[],
                rib:[],
            }

        }
    },
    watch:{
        data(){

            this.mergeData();

        },
        company(){
            
            this.$forceUpdate();

        }
    },
    methods:{
        showContractsFiles(){
            this.filesTitle="Contrat Partenariat";
            this.filesPath="companies/"+ this.company.id +"/contracts"
            this.showFiles=true;
        },
        showGuaranteesFiles(){
            this.filesTitle="Garanties";
            this.filesPath="companies/"+ this.company.id +"/guarantees"
            this.showFiles=true;
        },
        showClearancesFiles(){
            this.filesTitle="Habilitations";
            this.filesPath="companies/"+ this.company.id +"/clearances"
            this.showFiles=true;
        },
        showRIB(){
            this.filesTitle="RIB";
            this.filesPath="companies/"+ this.company.id +"/rib"
            this.showFiles=true;
        },
        addCategory(){
            this.cat_count++;
            this.company.work_category_ids[this.cat_count]=0;
        },
		enterIndexMode(event){

			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href')
				el.$emit('enterIndexMode',function(){
					pushHistory(url,'Enterprises');
				});
            });
            
        },
        enableEdit(){
            
            this.edit_mode=true;

        },
        discardEdits(){
            this.mergeData();
            this.edit_mode=false;
        },
		uploadFiles(id, callback){
			if (this.files.contracts.length>0 || this.files.guarantees.length>0 || this.files.clearances.length>0){
				let data=new FormData();
				data.append('_token',document.querySelector('meta[name="csrf-token"]').getAttribute('content'));
				data.append('target_entity_type','companies');
				data.append('target_entity_id',id);

				//	append contracts
				this.files.contracts.forEach(function(file){
					data.append('files_contracts_files[]',file);
				});

				//	append guarantees
				this.files.guarantees.forEach(function(file){
					data.append('files_guarantees_files[]',file);
				});

				//	append clearances
				this.files.clearances.forEach(function(file){
					data.append('files_clearances_files[]',file);
				});

				$.ajax({
					url : '/api/files/upload',
					type : 'POST',
					data,
					processData: false,
					contentType: false,
					success(resonse){
						callback();
					},
					error(response){
						callback();
					}
				});

			} else {

				callback();

			}
		},
        saveEdits(event){
            // DEBOUNCE
			if (this.saveDebounce){
				event.preventDefault();
				event.stopImmediatePropagation();
				return;
			}
			this.saveDebounce=true;

            this.edit_mode=false;
            handleClick(this,event,function(el,e){
			    el.$root.startLoading();
				$.ajax({
					url:'/api/companies',
					method:'patch',
					dataType:"json",
					data:{
						data:el.company,
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						let url=data.url;
                        let id=data.id;
                        
                        el.uploadFiles(id,function(){
						    el.$root.doneLoading();
                            el.$emit('enterShowMode',id,false,function(){
                                pushHistory(url,"Vue Enterprise");
                                // UNDEBOUNCE
                                el.saveDebounce=false;
                            });
                        });
					},
					error(response){
			            el.edit_mode=true;
                        el.saveDebounce=false;
					}
				});
			});

        },
        mergeData(){

			this.edit_mode=this.data.company.edit_mode;

            this.company=Object.assign({},this.data.company);

            this.work_categories_available=[];

            let el=this;

            this.common.work_categories.forEach(function(category){
                let id=category.id;
                for (let cat of Object.values(el.data.work_categories_available)){
                    if (id==cat.id){
                        el.work_categories_available.push(Object.assign({},category));
                        return;
                    }
                }
                for (let cat of Object.values(el.company.work_categories)){
                    if (id==cat.id){
                        el.work_categories_available.push(Object.assign({},category));
                        return;
                    }
                }

            });

            let categories={0:0};

            this.data.company.work_categories.forEach(function(category,index){
                Object.assign(categories,{[index+1]:category.id})
            });

            this.company.work_category_ids=categories;
            this.cat_count=Object.keys(categories).length-1;
            
            delete this.company.work_categories;

            this.$nextTick(this.$forceUpdate());

        }
    },
    created(){

        this.mergeData();

    }
}
</script>
