<template>
<div class="container-fluid">
    <div class="ajout-enterprise form  wrap">
        <div class="title-label row">
            <div class="col-md-10 col-sm-9">
                <h2>Ajout entreprise</h2>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="btn-circle">
                    <button class="btn-sm btn btn-circle-white">
                        <a v-on:click="enterIndexMode" href="/companies"><img class="img-responsive rounded" src="/img/arrow-left.png"></a>
                    </button>
                </div>
            </div>
        </div>

        <!-- START FORM -->
        <div class="form-group row">
            <!-- START LEFT COLUMN OF FORM -->
            <div class="col-md-7">
                <!-- NOM AND PRENOM -->
                <div class="row">
                    <div class="col-md-6">
                        <label class="label" for="nom">Societe</label>
                        <input v-model="company.name" type="text" required="required" class="input-text input-text input-border-bottom form-control" name="company">
                    </div>
                    <div class=" col-md-6">
                        <label class="label" for="nom">Forme Juridique</label>
                        <input v-model="company.legal_form" type="text" class="input-text input-text input-border-bottom form-control" name="legal_form">
                    </div>
                </div>
                <!-- TELEPHONE MOBILE AND TELEPHONE FIXE -->
                <div class="row">
                    <div class="  col-md-6">
                        <label class="label" for="telephone-mobile">Téléphone mobile </label>
                        <input v-model="company.mobile" type="text" class="input-text input-border-bottom form-control" name="mobile">
                    </div>
                    <div class=" col-md-6">
                        <label class="label" for="telephone-fixe">Téléphone fixe</label>
                        <input v-model="company.telephone" type="text" class="input-text input-border-bottom form-control" name="telephone">
                    </div>
                </div>
                <!-- ADRESSE -->
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="adresse">Adresse</label>
                        <input v-model="company.address" type="text" class="input-text input-border-bottom form-control" name="address">
                    </div>
                </div>
                <!-- VILLE AND CODE POSTAL  -->
                <div class="row">
                    <div class="  col-md-6">
                        <label class="label" for="ville">Ville</label>
                        <input v-model="company.city" class="input-text input-border-bottom form-control" name="city">
                    </div>
                    <div class=" col-md-6">
                        <label class="label" for="code-postal">Code postal</label>
                        <input v-model="company.postal_code" type="text" class="input-text input-border-bottom form-control" name="postal_code">
                    </div>
                </div>
                <!-- DATE PRISE CONTACT -->
                <div class="row">
                    <div class=" col-md-12">
                        <label class="label" for="date">Date doc annuel</label>
                        <DatePick v-on:change="function(e){company.annual_date=e; $nextTick($forceUpdate);}" v-model="company.annual_date" type="date" class="input-text input-border-bottom form-control" name="annual_date"/>
                    </div>
                </div>
                <!-- TYPE DE TRAVAUX -->
                <div v-for="n in cat_count" :key="n" class="row">
                        <div class=" col-md-12">
                        <label class="label" for="type">Type</label>
                        <select v-model="company.work_category_ids[n]"  v-on:change="quickUpdate" class="input-text input-text input-border-bottom form-control" name="work_category_ids[]">
                            <option v-for="work_category in work_categories_available" :key="work_category.id" :value="work_category.id" :disabled="work_category.id==0" >{{work_category.name}}</option>
                        </select>
                    </div>
                </div>
                <!-- Ajouter des Types button -->
                <div class="row">
                    <div class="col-md-8">
                        
                    </div>
                    <div class="col-md-4">
                        <button v-on:click="addCategory" class="btn btn-white text-right">
                        <div class="btn-img">
                            <img class="img-responsive" src="/img/btn-plus-gray.png">
                        </div>Ajouter des Types
                        </button>
                    </div>
                </div>
            </div>
            <!-- END LEFT COLUMN OF FORM -->

            <!-- START RIGHT COLUMN OF FORM -->
            <div class="col-md-5">
                <!--ACTIVITIE -->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="activitie">Activité</label>
                        <input v-model="company.activity" type="text" class="input-text input-border-bottom form-control" name="activity">
                    </div>
                </div>
                <!--EMAIL -->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="email">Email</label>
                        <input v-model="company.email" type="email" class="input-text input-border-bottom form-control" name="email">
                    </div>
                </div>
                <!--SIREN -->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="siren">SIREN</label>
                        <input v-model="company.siren_code" type="text" class="input-text input-border-bottom form-control" name="siren_code">
                    </div>
                </div>
                <!--SIREN -->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="siren">Code APE</label>
                        <input v-model="company.ape_code" type="text" class="input-text input-border-bottom form-control" name="siren_code">
                    </div>
                </div>
                <!--INTERLOCUTEUR -->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="interlocuteur">Interlocuteur</label>
                        <input v-model="company.contact_person" type="text" class="input-text input-border-bottom form-control" name="contact_person">
                    </div>
                </div>
                <!--RCS-->
                <div class="row">
                        <div class=" col-md-12">
                        <label class="label" for="rcs">RCS</label>
                        <input v-model="company.rcs_code" type="text" class="input-text input-border-bottom form-control" name="rcs_code">
                    </div>
                </div>
                <!-- COMMENTAIRE -->
                <div class="row">
                    <div class=" col-md-12">
                        <label class="label" for="description">Commentaire</label>
                        <textarea v-model="company.comments" class="input-text input-border-bottom form-control" rows="5" name="comments"></textarea>
                    </div>
                </div>
                
            </div>
            <!-- END RIGHT COLUMN -->
        </div>
        <!-- END FORM -->
    </div>

    <!-- START UPLOADING BOX -->
    <div class="upload-box wrap2">
        <div class="row">
            <FilePicker
                title="RIB"
                v-model="files.rib"
            />
            <FilePicker
                title="Contrat partenariat"
                v-model="files.contracts"
            />
            <FilePicker
                title="Garanties"
                v-model="files.guarantees"
            />
            <FilePicker
                title="Habilitations"
                v-model="files.clearances"
            />
            <div class="col-md-2">
                <!-- FORM LOWER BUTTON -->
                <button v-on:click="saveNewCompany" class="btn-blue btn btn-block form-btn mb-0">Ajouter</button>
            </div>
        </div>
    </div>
    <!-- END AJOUT ENTERPRISE -->
</div>
</template>
<script>
export default {
    props:['common','data'],
    data(){
        return{

            saveDebounce:false,

            work_categories_available:[],

            cat_count:1,

            company:{

                name:'',
                legal_form:'',
                activity:'',
                mobile:'',
                telephone:'',
                email:'',
                address:'',
                siren_code:'',
                ape_code:'',
                city:'',
                postal_code:'',
                contact_person:'',
                annual_date:'',
                rcs_code:'',
                iban_code:'',
                bic_code:'',
                comments:'',
                work_category_ids:{}

            },
            
			boxHover:{
				contracts:false,
				guarantees:false,
				clearances:false
			},

            files:{
                contracts:[],
                guarantees:[],
                clearances:[],
                rib:[],
            }

        }
    },
    watch:{

        data(){

            this.mergeData();

        }

    },
    methods:{
		onDragenter(event,target){
			if (!event.relatedTarget || event.relatedTarget.classList.contains("box")){
				this.boxHover[target]=true;
			}
		},
		onDragleave(event,target){
			if (!event.relatedTarget || event.relatedTarget.classList.contains("box")){
				this.boxHover[target]=false;
			}
		},
		onDrop(event,target){
			event.preventDefault();
			this.$refs[target+'Files'].files=event.dataTransfer.files;
			this.files[target]=this.files[target].concat(Object.values(event.dataTransfer.files));
			this.boxHover[target]=false;
			this.quickUpdate();                    
		},
		onFileInput(event,target){
			this.files[target]=this.files[target].concat(Object.values(this.$refs[target+'Files'].files));
			this.quickUpdate();
		},
        addCategory(){
            this.cat_count++;
            this.company.work_category_ids[this.cat_count]=0;
        },
		enterIndexMode(event){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterIndexMode',function(){
					pushHistory(url,'Enterprises');
				});
			});
		},
		uploadFiles(id, callback){
			if (this.files.contracts.length>0 || this.files.guarantees.length>0 || this.files.clearances.length>0 || this.files.rib.length>0){
				let data=new FormData();
				data.append('_token',document.querySelector('meta[name="csrf-token"]').getAttribute('content'));
				data.append('target_entity_type','companies');
				data.append('target_entity_id',id);

				//	append contracts
				this.files.contracts.forEach(function(file){
					data.append('files_contracts_files[]',file);
				});

				//	append guarantees
				this.files.guarantees.forEach(function(file){
					data.append('files_guarantees_files[]',file);
				});

				//	append clearances
				this.files.clearances.forEach(function(file){
					data.append('files_clearances_files[]',file);
                });
                
				//	append rib
				this.files.rib.forEach(function(file){
					data.append('files_rib_files[]',file);
				});

				$.ajax({
					url : '/api/files/upload',
					type : 'POST',
					data,
					processData: false,
					contentType: false,
					success(resonse){
						callback();
					},
					error(response){
						callback();
					}
				});

			} else {

				callback();

			}
		},
		saveNewCompany(event){
            // DEBOUNCE
			if (this.saveDebounce){
				event.preventDefault();
				event.stopImmediatePropagation();
				return;
			}
			this.saveDebounce=true;

			handleClick(this,event,function(el,e){
			    el.$root.startLoading();
				$.ajax({
					url:'/api/companies',
					method:'post',
					dataType:"json",
					data:{
						data:el.company,
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						let url=data.url;
                        let id=data.id;
                        
                        el.uploadFiles(id,function(){
						    el.$root.doneLoading();
                            el.$emit('enterShowMode',id,false,function(){
                                pushHistory(url,"Vue Enterprise");
                                // UNDEBOUNCE
                                el.saveDebounce=false;
                            });
                        });
					},
					error(response){
                        el.$root.failHandler(response);
                        // UNDEBOUNCE
                        el.saveDebounce=false;
					}
				});
			});
        },
		quickUpdate(){
			this.$nextTick(this.$forceUpdate());
		},
        mergeData(){

            this.work_categories_available=Object.assign([],this.data.work_categories_available);
            this.work_categories_available.unshift({id:0,name:'Sélectionnez Catégorie de travail'});
            this.cat_count=this.data.cat_count;
            this.company.work_category_ids={1:0};
            this.quickUpdate();
        }
    },
    created(){

        this.mergeData();

    }
    
}
</script>

