<template>
                        <div class="enterprise col-12">
                            <div class="title-label row">
                                <div class="col-md-10">
                                    <h2>Entreprise</h2>
                                </div>
                                <div class="col-md-2">
                                    <div class="float-right">
                                        <a v-on:click="enterCreateMode" href="/companies/create">
                                            <button class="btn-sm btn btn-blue" style="width: 100px;">
                                                <div class="btn-img">
                                                    <img class="img-responsive" src="/img/btn-plus.png">
                                                </div> Ajouter
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="enterprise-table row">
                                
                                <div class="table-responsive">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Domaine</th>
                                                <th>Email</th>
                                                <th>Téléphone</th>
                                                <th>Ville</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                            v-for="company in companies[current_page]" :key="company.id"
                                            v-on:click="enterShowMode($event, company.id)"
                                            :href="'/companies/'+company.id"
                                            :style="keepHover[company.id]?{color: '#fff',backgroundColor: '#43859d'}:null"
                                            v-bind:common="common"
                                            class="row-active">
                                                <td>{{company.name}}</td>
                                                <td>
                                                    <span v-for="(work_category,i) in company.work_categories" :key="work_category.id">
                                                        {{work_category.name}}
                                                        <span v-if="i<(company.work_categories.length-1)" >, </span>
                                                    </span>
                                                </td>
                                                <td>{{company.email}}</td>
                                                <td>{{company.mobile}}</td>
                                                <td>{{company.city}}</td>
                                                <td>
                                                    <div class="action-btn">
                                                        <button v-on:click="enterShowMode($event,company.id,true)" :href="'/companies/'+company.id" class="table-btn"><a href="?page=vue-enterprise"><img class="img-responsive" src="/img/edit.png"></a></button>
                                                    
                                                        <button  v-on:click="promptDelete($event,company.id,company.name)" class="table-btn"><img class="img-responsive" src="/img/delete.png"></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <nav aria-label="...">
                                    <ul class="pagination">
                                        <li v-bind:class="{'disabled':(current_page==1)}" class="page-item">
                                        <a v-on:click="pageNavigate" :href="'/companies?page='+(current_page-1)" class="page-link" v-bind:page-number="current_page-1">Précédent</a>
                                        </li>

                                        <li v-for="page in last_page" :key="page" v-bind:class="{'disabled':(page==current_page)}" class="page-item">
                                            <a v-if="page!=current_page" v-on:click="pageNavigate" v-bind:href="'/companies?page='+page" class="page-link" v-bind:page-number="page">{{page}}</a>
                                            <span v-if="page==current_page" class="page-link">{{page}}</span>
                                        </li>

                                        <li v-bind:class="{'disabled':(current_page==last_page)}" class="page-item">
                                        <a v-on:click="pageNavigate" :href="'/companies?page='+(current_page-(-1))" class="page-link" v-bind:page-number="current_page-(-1)" >Suivant</a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
</template>
<script>
export default {
	props:{
		common:{},
		data:{
			current_page:null
		}
	},
	data(){
		return{

            keepHover:{},
			current_page:null,
			last_page:null,
			companies:[],
			hash:[]

		}
	},
	watch:{

		data:{

			handler(){
				this.mergeData();
			},
			deep:true

		},

	},
	methods:{
		enterCreateMode(event){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterCreateMode',function(){
					pushHistory(url,'Ajout Enterprise');
				});
			});
		},
		enterShowMode(event, id,edit=false){
			handleClick(this,event,function(el,e){
				let url=e.currentTarget.getAttribute('href');
				el.$emit('enterShowMode',id,edit,function(){
                    pushHistory(url,'Vue Enterprise');
				});
			});

        },
        promptDelete(event,id,name){
			event.stopImmediatePropagation();
			let el=this;
			this.keepHover[id]=true;
			this.$nextTick(this.$forceUpdate());
			let deleter=function(){
				el.$root.startLoading();
				$.ajax({
                url:'/api/companies?id='+id,
                method:'delete',
				dataType:"json",
                data:{
                    _token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
                success(data){
					el.$root.doneLoading();
                    el.$emit('enterIndexMode',function(){
						el.mergeData();
					},this.current_page);
                },
                error(response){
					
					el.$root.failHandler(response);
					
                }
            });
			}
			launchModal(
				'Confirmation de suppression',
				'Êtes vous sûr de bien vouloir supprimer l\'enterprise "'+name+'"?',
				function(){el.keepHover[id]=false; el.$nextTick(el.$forceUpdate());},
				deleter
			);
		},
		pageNavigate(event){
			handleClick(this,event,function(el,e){

				let page=e.currentTarget.getAttribute('page-number');

				if(page==el.current_page||page<1||page>el.last_page) return;
				
				el.$root.startLoading();

				let url=e.currentTarget.getAttribute('href');

				el.$parent.fetchIndexData(el.$parent,page,function(){
					el.$root.doneLoading();
					pushHistory(url,'Enterprises');
				});

			});
		},
		mergeData(){

			this.current_page=this.data.current_page;
			this.last_page=this.data.last_page;
			this.companies[this.current_page]=this.data.companies[this.current_page];
            this.$nextTick(this.$forceUpdate());

		}
	},
	created(){

		this.mergeData();

	}
}
</script>
