<template>
<transition name="modal">
    <div 
		class="modal-mask" style="z-index:1001">
		<div
			class="modal-wrapper"
			v-on:click="close"
		>
			<div class="modal-container">

				<div class="modal-header">
					<h2>{{title}}</h2>
					<button v-on:click="close" class="float-right btn material-icons" style="font-size:1.5rem;">close</button>
				</div>

				<div class="modal-body">
					<div v-if="showLoading" class="lds-ripple"><div></div><div></div></div>
					<div
						v-if="!showLoading && items.length==0"
						class="jumbotron col-6 offset-3"
						style="text-align:center;"
					>
						Aucun fichier trouvé.
					</div>
					<div class="row">
						<div
							v-for="item in items"
							:key="item"
							:class="!getType(item)||getType(item).split('/')[0]=='image'?'centerBox':''"
							class='col-12 col-sm-6 col-md-4 col-lg-3 my-3 p-1 fileBox'
						>
							<embed
								v-if="getType(item)"
								:src="'/api/files/fetch?path='+path+'/'+item"
								:title="item.split('/[\._]+/').slice(0,-1).join()"
								:alt="item"
								:type="getType(item)"
								class="preview"
								:style="getType(item).split('/')[0]!='image'?'height:100%;width:auto;':'max-height:100%;max-width:100%;'"
							>
							<img
								v-else
								:alt="item"
								:src="`/api/files/resource?path=images/${item.split('.').pop()}.png`"
								class="preview"
								style="width:auto;"
								onerror="this.onerror=null;this.src='/api/files/resource?path=images/unknown_file.png'"
							>
							<div class="titleBox">{{item.substring(item.indexOf('_')+1)}}</div>
							<button v-on:click="downloadFile($event,item)" type="button" class="downloadBox material-icons btn">save_alt</button>
							<button v-on:click="promptDelete($event,item)" type="button" class="itemClose btn btn-sm btn-outline-danger material-icons">close</button>
						</div>
					</div>
				</div>

				<div class="modal-footer row">
					<button
					v-on:click="close"
					class="col-4 offset-4 m-auto btn-blue btn-block btn-sm btn"
					style="font-size:1rem;"
					>
					Conclure
					</button>
				</div>
			</div>
		</div>
    </div>
</transition>
</template>
<script>
export default {
    props:{
        title:{
            type:String,
            required:true
        },
        path:{
            type:String,
            required:true
        }
    },
    data(){
        return {
			items:[],
			showLoading:false
        }
    },
    methods:{
		escapeKey(event){
			console.log(event);
			if (event.keyCode==27){
				window.removeEventListener('keyup',this.escapeKey);
				this.close();
			}
		},
		close(event=null){
			if (!event||event.target==event.currentTarget){
				this.$emit('close');
			}
		},
		getType(filename){
			return mimeTypes[filename.split('.').pop()];
		},
        downloadFile(event,file){
			event.preventDefault();
			event.stopImmediatePropagation();
            let link = document.createElement("a");
            link.download = file.substring(file.indexOf('_')+1);
            link.href = '/api/files/fetch?path='+this.path+'/'+file;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        },
        promptDelete(event,file){
			event.preventDefault();
			event.stopImmediatePropagation();
			let el=this;
			let deleter=function(){
				el.showLoading=true;
				$.ajax({
					url:'/api/files/delete?path='+el.path+'/'+file,
					method:'delete',
					dataType:'json',
					data:{
						_token:document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					},
					success(data){
						el.showLoading=false;
						if (data.success){
							el.items.splice(el.items.indexOf(file),1);
						}else{
							launchModal(
								'Erreur',
								'Le fichier n\'a pas pu être supprimé.'
							);
						}
					},
					error(response){
						el.showLoading=false;
						el.$root.failHandler(response);
					}
				});
			};
			launchModal(
				'Confirmation de suppression',
				'Êtes vous sûr de bien vouloir supprimer le fichier "'+file.substring(file.indexOf('_')+1)+'"?',
				function(){},
				deleter
			);
        },
        listFiles(){
            let el=this;
			let files=[]
			el.showLoading=true;
			el.$nextTick(el.$forceUpdate());
                $.ajax({
				url:'/api/files/dir?path='+el.path,
				method:'get',
				dataType:"json",
				success(data){
                    el.items=[];
					data.files.forEach(function(file){
                        el.items.push(file);
					});
					el.showLoading=false;
				},
				error(response){
					el.showLoading=false;
					el.$root.failHandler(response);
				}
			});
        }
    },
    mounted(){
		this.listFiles();
	},
	created(){
		window.addEventListener('keyup',this.escapeKey);
	}
}
</script>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: top;
}

.modal-container {
  width: 90%;
  margin: 1% auto;
  overflow-y:auto;
  max-height: 95%;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #43859d;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.itemClose{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    color:#dc354577 !important;
    border-color:#dc354577 !important;
  	transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

.fileBox:hover .itemClose{
	opacity: 0;
}

.itemClose:hover{
	opacity:1 !important;
    color:white !important;
    border-color:#dc3545 !important;
}

.fileBox{
	overflow-x:hidden;
    background: #e8e8e8;
    border: 6px #ffffff solid;
    border-radius: 10px;
	max-height:512px;
	min-height:256px;
	text-align: center;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	transform: scale(0.95);
	z-index: 1000;
}

.fileBox:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transform:scale(1);
	z-index:1001;
}

.fileBox:hover .titleBox{
    opacity:0;
    visibility:hidden;
}

.centerBox::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.preview{
	vertical-align:middle;
}

.titleBox{
    position: absolute;
    display: inline-block;
    bottom: 5px;
    width: 90%;
    align-self: center;
    text-align: center;
    border: 3px #add8e655 solid;
    background: white;
    left: 5%;
	overflow-wrap:break-word;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border-radius: 5px;
}

.downloadBox {
    font-size: 3vw;
	width:50%;
    text-align: center;
    display: inherit;
    position: absolute;
    bottom: 10%;
    opacity: 0;
    visibility:hidden;
  	transition: all 0.8s cubic-bezier(.25,.8,.25,1);
    left: 50%;
    transform: translateX(-50%);
}


.fileBox:hover .downloadBox{
    opacity:0.5;
    visibility: visible;
}

.downloadBox:hover{
	background-color: #4c8aa1;
	opacity: 0.95 !important;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.lds-ripple {
	display: inline-block;
	position: relative;
	margin-top:10vh;
	margin-bottom:10vh;
	left:50%;
	transform: translateX(-50%);
	width: 128px;
	height: 128px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #4c8aa1;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1.3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
 	animation-delay: -0.4s;
}
@keyframes lds-ripple {
  0% {
    top: 56px;
    left: 56px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -2px;
    left: -2px;
    width: 116px;
    height: 116px;
    opacity: 0;
  }
}
</style>
