<template lang="pug">
	.upload-box3.col-md-4.col-sm-6
		#clearances-box.box.row(
			@dragover="function(e){ e.preventDefault(); }"
			@dragenter="onDragenter"
			@dragleave="onDragleave"
			@drop="onDrop($event)"
			:class="{'box-dragover':hover}"
		)
			.col-12
				.row(
					v-if="value.length==0"
				)
					.col-md-4.col-sm-3.col-4
					.col-md-4.col-sm-6.col-4
						img.img-responsive(
							src='/img/down-arrow.png'
						)
					.col-md-4.col-sm-3.col-4
					.col-md-12
						p.text-center Joindre fichiers
			.upload-btn.col-12
				.row.border-bottom.border-primary(
					v-for="(fileItem,index) in value"
					:key="index"
					:class="{'border-top':(index==0)}"
				)
					.col-10(style='font-size:0.8rem;word-wrap:break-word;vertical-align:middle')
						| {{fileItem.name}}
					.col-2
						button.material-icons.btn-secondary(
							@click='removeFile(index)'
							type='button'
							style='line-height:0'
							) close
				.row
					.col-md-7
							input#clearances-files.d-none(
								@change="onFileInput($event)"
								ref="fileInput"
								type="file"
								multiple
							)
							button.text-center.btn.btn-blue.btn-block(
								@click="$refs.fileInput.click()"
							)
								| Choisir le fichier
					.col-md-5.no-padding
							p.text-center(v-if='value.length==0')
								| Aucun fichier choisi
		p.text-center {{title}}
</template>
<script>
export default {
	props:{
		title:{
			type:String,
			required:true
		},
		value:{
			type:Array,
			required:true
		},
	},
	data(){
		return{
			hover:false
		}
	},
	methods:{
		onDragenter(event){
			if (!event.relatedTarget || event.relatedTarget.classList.contains("box")){
				this.hover=true;
			}
		},
		onDragleave(event){
			if (!event.relatedTarget || event.relatedTarget.classList.contains("box")){
				this.hover=false;
			}
		},
		onDrop(event,target){
			event.preventDefault();
			this.$refs.fileInput.files=event.dataTransfer.files;
			this.$emit('input',this.value.concat(Object.values(event.dataTransfer.files)));
			this.hover=false;               
		},
		onFileInput(event,target){
			this.$emit('input',this.value.concat(Object.values(this.$refs.fileInput.files)));
		},
		removeFile(index){
			let array_copy=Object.assign([],this.value)
			array_copy.splice(index,1)
			this.$emit('input',array_copy)
		}
	}
}
</script>
<style>

.box{
	transition: transform 0.3s;
}

.box-dragover{
	transform:scale(1.1);
}

</style>