<template>
	<div class="header row">

        <!-- LOGO -->
        <div class="left-header">
            <div class="logo">
                <a href="/" class=''>
                    <img class="img-responsive" src="/img/page-logo.jpg">
                </a>
            </div>
        </div>	

        <div class="right-header ">
            <div class="search-and-admin row">
                <div class="search col-lg-10 col-md-12 col-xs-8">
                    <div
                        v-on:focusout="dislodgeResults" 
                        class="row"
                    >
                        <button class="btn btn-sm">
                            <div class="search-icon">
                                <span class="fa fa-search"></span>
                            </div>
                        </button>
                        <input
                            v-model="searchTerm"
                            v-on:keyup="startSearch"
                            class="input-search input-sm col-md-6 col-sm-9 col-xs-5"
                            type="text"
                            placeholder="Rechercher"
                        >
                        <div
                            v-show="showResultsBox"
                            class="h_results-box"
                        >
                            <div v-if="showLoading" class="lds-ripple h_clickstay"><div></div><div></div></div>
                            <div class="result-divider h_clickstay">Clients
                                <div v-if="!showLoading&&client_results.length==0" class="h_result-item-inactive">Aucun résultat</div>
                                <div
                                    v-for="client in client_results"
                                    v-on:click="selectClient(client)"
                                    :key="client.id"
                                    class="h_result-item h_clickstay"
                                    tabindex="0"
                                >
                                    <span>{{client.full_name}}</span>
                                    <span>{{client.status==1?'(Prospect)':'(Client)'}}</span>
                                    <span style="float:right;">#{{client.id.toString().padStart(4,0)}}</span>
                                </div>
                            </div>
                            <div class="result-divider h_clickstay">Enterprises
                                <div v-if="!showLoading&&company_results.length==0" class="h_result-item-inactive">Aucun résultat</div>
                                <div
                                    v-for="company in company_results"
                                    v-on:click="selectCompany(company)"
                                    :key="company.id"
                                    class="h_result-item h_clickstay"
                                    tabindex="0"
                                >
                                    <span>{{company.name}}</span>,&nbsp;
                                    <span>{{company.city}}</span>
                                    <span style="float:right;">#{{company.id.toString().padStart(4,0)}}</span>
                                </div>
                            </div>
                            <div class="result-divider h_clickstay">Projets
                                <div v-if="!showLoading&&project_results.length==0" class="h_result-item-inactive">Aucun résultat</div>
                                <div
                                    v-for="project in project_results"
                                    v-on:click="selectProject(project)"
                                    :key="project.id"
                                    class="h_result-item h_clickstay"
                                    tabindex="0"
                                >
                                    <span>{{project.name}}</span>,&nbsp;
                                    <span>{{project.city}}</span>
                                    <span style="float:right;">#{{project.id.toString().padStart(4,0)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="admin text-right col-lg-2 col-md-3 ">
                    <div class="dropdown">
                        <button class="btn btn-sm" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                            <span class="fa fa-user admin-icon" style="font-size: 30px;"></span> &nbsp; &nbsp;
                            <span><p>Admin</p></span> &nbsp;&nbsp;
                            <span class="fa fa-angle-down down-arrow-icon"></span>
                        </button>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="/password">Changer le mot de passe</a>
                            <a class="dropdown-item" href="/logout">Déconnexion</a>
                        </div>
                    </div>
                </div>

                <div class="navigation col-xs-4">
                    <nav class="navbar navbar-default navbar-dark navbar-fixed-top">
                        <div class="navbar-header">
                            <button class="navbar-toggle btn" type="button" data-toggle="collapse" data-target="#myNavbar">
                                <img src="/img/menu.png">
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#" id="dropdownMenuLink" data-toggle="dropdown"  aria-expanded="false">Admin</a>
                                    <div class="dropdown">
                                        
                                            <div class="dropdown-menu">
												<a class="dropdown-item" href="/password">Changer le mot de passe</a>
												<a class="dropdown-item" href="/logout">Déconnexion</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a :href="links.dashboard" v-on:click="navigate($event,'dashboard')">Accueil</a>
                                </li>
                                <li>
                                    <a :href="links.prospects" v-on:click="navigate($event,'prospects')">Prospects</a>
                                </li>
                                <li>
                                    <a :href="links.clients" v-on:click="navigate($event,'clients')">Clients</a>
                                </li>
                                <li>
                                    <a :href="links.companies" v-on:click="navigate($event,'companies')">Enterprises</a>
                                </li>
                                <li>
                                    <a :href="links.work_categories" v-on:click="navigate($event,'work_categories')">Domaines</a>
                                </li>
                                <li>
                                    <a :href="links.projects" v-on:click="navigate($event,'projects')">Projets</a>
                                </li>
                                <!-- <li>
                                    <a :href="links.bills" v-on:click="navigate($event,'bills')">Factures</a>
                                </li> -->
                                <li>
                                    <a :href="links.config" v-on:click="navigate($event,'config')">Config</a>
                                </li>
                            </ul>
                        </div>
                    </nav>	
                </div>

            </div>
        </div>		
    </div>
</template>
<script>
export default {
    props:['links'],
    data(){
        return {
			showResultsBox:false,
			showLoading:false,
            searchDebounce:false,
            searchTerm:'',
			client_results:[],
			company_results:[],
			project_results:[],
        }
    },
    methods:{
		dislodgeResults(event=null){
            console.log(event);
			if(event&&event.relatedTarget&&event.relatedTarget.classList.contains('h_clickstay')) return;	
			if (this.searchDebounce){
				window.clearTimeout(this.searchDebounce);
			}
			this.showResultsBox=false;
			this.showLoading=false;
		},
        selectClient(client){
            let el=this;
            this.$parent.navigateShow(
                client.status==1?'prospects':'clients',
                client.id,
                false,
                function(){
                    pushHistory((client.status==1?'/prospects/':'/clients/')+client.id,client.status==1?'Vue Prospect':'Vue Client');
                    el.showResultsBox=false;
                }
            )
        },
        selectCompany(company){
            let el=this;
            this.$parent.navigateShow(
                'companies',
                company.id,
                false,
                function(){
                    pushHistory('/companies/'+company.id,'Vue Enterprise');
                    el.showResultsBox=false;
                }
            )
        },
        selectProject(project){
            let el=this;
            this.$parent.navigateShow(
                'projects',
                project.id,
                false,
                function(){
                    pushHistory('/projects/'+project.id,'Vue Projet');
                    el.showResultsBox=false;
                }
            )
        },
		startSearch(){
			let el=this;
			let splitter=/\s+/;

			if (this.searchDebounce){
				window.clearTimeout(this.searchDebounce);
			}
			
			el.showResultsBox=true;
			el.showLoading=true;
			this.searchDebounce=window.setTimeout(function(){
				
				let query='?';
				el.searchTerm.split(splitter).forEach(function(q){
					query+='q[]='+q+'&';
				});

				$.ajax({
					url:'/api/search'+query,
					method:'get',
					dataType:"json",
					success:function(data){
						el.client_results=data.customers;
						el.company_results=data.companies;
						el.project_results=data.projects;
						el.showLoading=false;
						el.$nextTick(el.$forceUpdate());
					},
					error:function(){
						el.showResultsBox=false;
					}
				});

			},500);
		},
        navigate(event,page){
            this.$parent.navigate(event,page);
        }
    }
}
</script>
<style>

.h_results-box{
	background: white;
    position: absolute;
    height: auto;
    display: inline-block;
    clear: both;
    z-index: 1;
    width: 80%;
    top:32px;
    border-left: 4px solid #4c8aa1;
    border-bottom: 1px solid;
    box-shadow: 3px 3px 6px 0px grey;
}

.h_results-box span{
    color:#222;
}

.result-divider{
    border-top: 2px solid #4c8aa1;
    padding-left: 0.4rem;
}

.h_result-item{
    margin-left:-0.4rem;
	padding: 0.4rem;
    padding-left:1.2rem;
    box-sizing: border-box;
}

.h_result-item-inactive{
    margin-left:-0.4rem;
	padding: 0.4rem;
    padding-left:1.2rem;
    box-sizing: border-box;
	background-color: #ddd;
	color: #333;
}

.h_result-item:hover{
	background-color: #4c8aa1;
}

.h_result-item:hover span{
	color: #fff;
}
</style>
