

<template>
    <!-- START SIDEBAR -->
    <div class="sidebar" id="mySidebar">
                    
        <!-- SIDEBAR MENU -->
        <div class="menu">
            <ul class="list-unstyled">
                <li>
                    <a :class="{'navselected':current=='dashboard'}" class="nav" :href="this.links.dashboard" v-on:click="navigate($event,'dashboard')">
                        <span class="material-icons">dashboard</span>
                        <span>Accueil</span>
                    </a>
                </li>
                <li>
                    <a :class="{'navselected':current=='prospects'}" class="nav" :href="links.prospects" v-on:click="navigate($event,'prospects')">
						<span class="material-icons">people</span>
						<span>Prospects</span>
					</a>
				</li>
                <li>
                    <a :class="{'navselected':current=='clients'}" class="nav" :href="links.clients" v-on:click="navigate($event,'clients')">
						<span class="fas fa-users"></span>
						<span>Clients</span>
					</a>
                </li>
                <li>
                    <a :class="{'navselected':current=='companies'}" class="nav" :href="links.companies" v-on:click="navigate($event,'companies')">
						<span class="material-icons">business_center</span>	
						<span>Entreprises</span>
					</a>
                </li>
                <li>
                    <a :class="{'navselected':current=='work_categories'}" class="nav" :href="links.work_categories" v-on:click="navigate($event,'work_categories')">
						<span class="material-icons">developer_board</span>	
						<span>Domaines</span>
					</a>
                </li>
                <li>
                    <a :class="{'navselected':current=='projects'||current=='bills'}" class="nav" :href="links.projects" v-on:click="navigate($event,'projects')">
						<span class="fas fa-layer-group"></span>
						<span>Projets</span>
					</a>
                </li>
                <!-- <li>
                    <a class="nav" :href="links.bills" v-on:click="navigate($event,'bills')">
						<span class="material-icons">find_in_page</span>
						<span>Factures</span>
					</a>
                </li> -->
                <li>
                    <a :class="{'navselected':current=='config'}" class="nav" :href="links.config" v-on:click="navigate($event,'config')">
						<span class="material-icons">settings</span>
						<span>Config</span>
					</a>
                </li>
            </ul>
        </div>

        <!-- SIDEBAR FOOTER -->
        <div class="footer">
            <p class="text-center">Copyright {{currentYear}} &copy;</p>
        </div>
        
    </div>
</template>


<script>
export default {
	props:['links','current'],
    computed:{
        currentYear(){
            return new Date().getFullYear();
        }
    },
	methods:{
        navigate(event,page){
            this.$parent.navigate(event,page);
            this.$nextTick(this.$forceUpdate());
        }
	}
}
</script>
<style>
.navselected{
    background-color: #43859d;
    border-right: 10px solid #35697b;
    color: white !important;
}
</style>
