<template>
<transition name="modal">
    <div 
		class="modal-mask" style="z-index:1001">
		<div
			class="modal-wrapper"
			v-on:click="close"
		>
			<div class="modal-container">

				<div class="modal-header">
					<h2>{{title}}</h2>
					<button v-on:click="close" class="float-right btn material-icons" style="font-size:1.5rem;">close</button>
				</div>

				<div
					v-html="contents"
					class="modal-body"
				>
					
				</div>

				<div class="modal-footer row">
					<button
					v-on:click="close"
					class="col-4 offset-4 m-auto btn-blue btn-block btn-sm btn"
					style="font-size:1rem;"
					>
					Conclure
					</button>
				</div>
			</div>
		</div>
    </div>
</transition>
</template>
<script>
export default {
    props:{
        title:{
            type:String,
            required:true
        },
        contents:{
            type:String,
            required:true
        }
    },
    data(){
        return {
        }
    },
    methods:{
		escapeKey(event){
			console.log(event);
			if (event.keyCode==27){
				window.removeEventListener('keyup',this.escapeKey);
				this.close();
			}
		},
		close(event=null){
			if (!event||event.target==event.currentTarget){
				this.$emit('close');
			}
		},
	},
	created(){
		window.addEventListener('keyup',this.escapeKey);
	}
}
</script>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: top;
}

.modal-container {
  width: 40%;
  margin: 5% auto;
  overflow-y:auto;
  max-height: 95%;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #43859d;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>
